
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.browse-product-fashion-7bs {
  width: 100%;
  height: 128rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/browse-product-fashion-bg.png');
  border-radius: 3rem;
}
.browse-product-fashion-7bs .auto-group-vigk-EAh {
  width: 190.4rem;
  height: 10.2rem;
  position: absolute;
  left: 0.4rem;
  top: 0.6rem;
  display: flex;
  align-items: flex-start;
}
.browse-product-fashion-7bs .auto-group-vigk-EAh .rectangle-6-8G5 {
  margin: 0.2rem 3.867rem 0rem 0rem;
  width: 11.2rem;
  height: 10rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-vigk-EAh .vector-pub {
  margin: 0.4rem 97.433rem 0rem 0rem;
  width: 4rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-vigk-EAh .auto-group-dyys-YKo {
  margin: 1.2rem 3.4rem 0rem 0rem;
  width: 4.7rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-vigk-EAh .auto-group-jvu7-jv5 {
  margin: 1.2rem 3.5rem 0rem 0rem;
  width: 13.1rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-vigk-EAh .auto-group-1qns-Ny3 {
  margin: 1.2rem 3.2rem 0rem 0rem;
  width: 6.5rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-vigk-EAh .auto-group-cz9y-qbj {
  margin: 1.2rem 3.2rem 0rem 0rem;
  width: 8.8rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-vigk-EAh .auto-group-p92s-tpu {
  margin: 1.2rem 13.8rem 0rem 0rem;
  width: 7.7rem;
  height: 3.5rem;
  position: relative;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-vigk-EAh .auto-group-p92s-tpu .rectangle-107-pCm {
  width: 7.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.browse-product-fashion-7bs .auto-group-vigk-EAh .auto-group-p92s-tpu .feedback-KfK {
  width: 7.7rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.browse-product-fashion-7bs .auto-group-vigk-EAh .ellipse-1-pry {
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ {
  width: 185.4rem;
  height: 60.2rem;
  position: absolute;
  left: 2.4rem;
  top: 15.4rem;
  display: flex;
  align-items: center;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-bfas-sqF {
  margin: 0.8rem 21.6rem 1.7rem 0rem;
  width: 18.5rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-bfas-sqF .rectangle-36-Bb3 {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 15.1rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-36-bg-HYh.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-bfas-sqF .home-living-6T7 {
  margin-bottom: 2.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-bfas-sqF .rectangle-133-RkH {
  width: 100%;
  height: 15.1rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-133-bg-rNH.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-bfas-sqF .fashion-M89 {
  margin-bottom: 2.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-bfas-sqF .rectangle-134-5pq {
  margin-bottom: 0.3rem;
  width: 100%;
  height: 15.1rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-134-bg-q6m.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-bfas-sqF .groceries-PqX {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-tc6w-skh {
  margin-bottom: 5.1rem;
  box-sizing: border-box;
  padding: 0.6rem 0.767rem 0.675rem 53.9rem;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-tc6w-skh .vector-16D {
  width: 3.3333rem;
  height: 3.125rem;
  object-fit: contain;
  vertical-align: top;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-uxq7-8Rj {
  margin-bottom: 2.7rem;
  height: 15.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-uxq7-8Rj .auto-group-mrkp-565 {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-62-bg-FPB.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-uxq7-8Rj .auto-group-cbjz-KFK {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-uxq7-8Rj .auto-group-dm8f-ZfT {
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-5fux-DV7 {
  margin-bottom: 2.7rem;
  height: 15.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-5fux-DV7 .auto-group-hzk7-xSh {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-5fux-DV7 .auto-group-qxs3-zuB {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-5fux-DV7 .auto-group-4h5d-Tnm {
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-mmrb-8P7 {
  margin-left: 0.2rem;
  height: 15.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-mmrb-8P7 .auto-group-5j5r-4nZ {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-mmrb-8P7 .auto-group-1fwt-jNu {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-fsk3-8YD .auto-group-mmrb-8P7 .auto-group-npjf-PiM {
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj {
  box-sizing: border-box;
  padding: 9.5rem 0rem 0rem 2.3rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-mszm-mD7 {
  margin-right: 2.3rem;
  height: 100%;
  row-gap: 2.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-mszm-mD7 .auto-group-rme3-JD3 {
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-mszm-mD7 .auto-group-t7u7-m6d {
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-mszm-mD7 .auto-group-lsib-RS5 {
  margin-left: 0.2rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-spaj-Fvu {
  margin-right: 2.3rem;
  height: 100%;
  row-gap: 2.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-spaj-Fvu .auto-group-r6l3-bUy {
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-spaj-Fvu .auto-group-sra7-G5K {
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-spaj-Fvu .auto-group-72dh-XX3 {
  margin-left: 0.2rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-nwbz-ytq {
  margin-right: 2.1rem;
  width: 18.9rem;
  height: 100%;
  row-gap: 2.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-nwbz-ytq .auto-group-zf1m-i5j {
  margin-right: 0.4rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-nwbz-ytq .auto-group-mdoy-Zs3 {
  margin: 0 0.2rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: calc(100% - 0.4rem);
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-nwbz-ytq .auto-group-tbak-RPT {
  margin-left: 0.4rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-4k6k-U6q {
  width: 18.9rem;
  height: 100%;
  row-gap: 2.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-4k6k-U6q .auto-group-f2wx-CHj {
  margin-right: 0.4rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-4k6k-U6q .auto-group-xnqh-qrV {
  margin: 0 0.2rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: calc(100% - 0.4rem);
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-ifek-ZpZ .auto-group-xfph-SRj .auto-group-4k6k-U6q .auto-group-5m31-6Gd {
  margin-left: 0.4rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mqgf-ujs {
  width: 185.2rem;
  height: 17.1rem;
  position: absolute;
  left: 2.4rem;
  top: 76.7rem;
  display: flex;
  align-items: center;
}
.browse-product-fashion-7bs .auto-group-mqgf-ujs .auto-group-hyab-RiD {
  width: 18.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mqgf-ujs .auto-group-hyab-RiD .rectangle-136-Avh {
  width: 100%;
  height: 15.1rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-136-bg-ERB.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mqgf-ujs .auto-group-hyab-RiD .electronics-tbo {
  margin-left: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mqgf-ujs .auto-group-37p7-oyf {
  box-sizing: border-box;
  padding: 1.6rem 0rem 0.4rem 21.6rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mqgf-ujs .auto-group-37p7-oyf .auto-group-pu3q-voP {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mqgf-ujs .auto-group-37p7-oyf .auto-group-o3fq-nKo {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mqgf-ujs .auto-group-37p7-oyf .auto-group-cchq-SfF {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mqgf-ujs .auto-group-37p7-oyf .auto-group-ex27-uoj {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mqgf-ujs .auto-group-37p7-oyf .auto-group-aut9-NBX {
  margin-right: 2.7rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mqgf-ujs .auto-group-37p7-oyf .auto-group-ytjz-EDj {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mqgf-ujs .auto-group-37p7-oyf .auto-group-4qeo-VfT {
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-2ju7-kbP {
  width: 185.4rem;
  height: 15.6rem;
  position: absolute;
  left: 2.4rem;
  top: 96.1rem;
  display: flex;
  align-items: flex-start;
}
.browse-product-fashion-7bs .auto-group-2ju7-kbP .rectangle-135-TVo {
  margin: 0.5rem 21.8rem 0rem 0rem;
  width: 18.5rem;
  height: 15.1rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-135-bg-ZAd.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-2ju7-kbP .auto-group-sv2o-ZYq {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-2ju7-kbP .auto-group-hfwb-2BX {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-2ju7-kbP .auto-group-tpp5-GrZ {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-2ju7-kbP .auto-group-pmp7-8tm {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-2ju7-kbP .auto-group-rvh1-zvy {
  margin-right: 2.7rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-2ju7-kbP .auto-group-buix-ekd {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-2ju7-kbP .auto-group-y2zw-rrh {
  box-sizing: border-box;
  padding: 1rem 1.1rem;
  width: 18.5rem;
  height: 15.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo {
  width: 191.5rem;
  height: 54.9rem;
  position: absolute;
  left: 0.3rem;
  top: 124.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d3567c;
  border-radius: 5rem;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb {
  box-sizing: border-box;
  padding: 3.3rem 4.1rem 7.3rem 4.1rem;
  width: 100%;
  height: 42rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .logoab-removebg-preview-2-tS1 {
  margin: 0rem 163.3rem 1.851rem 0rem;
  width: 20rem;
  height: 2.9487rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-3jab-zE9 {
  margin: 0rem 27.6rem 1.9rem 66.9rem;
  width: calc(100% - 94.5rem);
  display: flex;
  column-gap: 20.7rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-3jab-zE9 .quick-links-Vgh {
  margin-top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-3jab-zE9 .categories-2gd {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-3jab-zE9 .customer-service-ZwT {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-yz9d-7CH {
  margin-right: 36.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-yz9d-7CH .paul-wayne-haggerty-road-new-orleans-louisiana-47X {
  margin: 1.5rem 0.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-yz9d-7CH .home-9uf {
  margin-right: 27.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-yz9d-7CH .home-living-tMT {
  margin-right: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-yz9d-7CH .contact-us-pku {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-bsuk-qAD {
  margin: 0rem 38.2rem 1.5rem 66.9rem;
  width: calc(100% - 105.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-bsuk-qAD .browse-products-kY5 {
  margin-right: 14.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-bsuk-qAD .fashion-teH {
  margin-right: 24.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-bsuk-qAD .about-us-2kV {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-oke7-a1K {
  margin: 0rem 71.1rem 1.5rem 66.9rem;
  width: calc(100% - 138rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-oke7-a1K .my-cart-hLq {
  margin-right: 24.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-oke7-a1K .groceries-ErZ {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-wgy9-mrV {
  margin: 0rem 69.7rem 1.5rem 66.9rem;
  width: calc(100% - 136.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-wgy9-mrV .my-activity-uC1 {
  margin-right: 21rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-wgy9-mrV .electronics-qbT {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-goy5-Atd {
  margin: 0rem 73.2rem 0rem 0.3rem;
  width: calc(100% - 73.5rem);
  height: 3.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-goy5-Atd .auto-group-nknx-Gwf {
  margin-right: 21.6rem;
  width: 79.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-goy5-Atd .auto-group-nknx-Gwf .daily-operating-hours-800am-to-800pm-DM7 {
  width: 68.6rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-goy5-Atd .auto-group-nknx-Gwf .feedbacks-j6V {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 66.6rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-omt7-BXb .auto-group-goy5-Atd .beauty-dhf {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-q5fh-a77 {
  box-sizing: border-box;
  padding: 7.5rem 10.108rem 3.4rem 162.1rem;
  width: 100%;
  height: 12.9rem;
  display: flex;
  align-items: center;
  background-color: #53a6bb;
  border-radius: 0 0 5rem 5rem;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-q5fh-a77 .vector-HGR {
  margin: 0rem 2.3rem 0.008rem 0rem;
  width: 2rem;
  height: 1.992rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-q5fh-a77 .vector-bnu {
  margin: 0rem 2.3rem 0rem 0rem;
  width: 2rem;
  height: 1.9999rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-q5fh-a77 .vector-829 {
  margin-right: 2.3rem;
  width: 2rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-q5fh-a77 .vector-SHj {
  margin-right: 2.31rem;
  width: 1.99rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .auto-group-mde3-smo .auto-group-q5fh-a77 .vector-mau {
  margin-top: 0.3rem;
  width: 2.092rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.browse-product-fashion-7bs .beauty-dND {
  width: 5.6rem;
  height: 2rem;
  position: absolute;
  left: 8.8rem;
  top: 111.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
