
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 53.5rem;
}.component-4-X1f {
  box-sizing: border-box;
  padding: 2rem 2rem 0rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.component-4-X1f .property-1frame-14-S8d {
  margin: 0rem 0rem 43.7rem 12rem;
  box-sizing: border-box;
  padding: 4.6rem 3.7rem 2.5rem 3.8rem;
  width: 37.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-4-X1f .property-1frame-14-S8d .ellipse-2-LUu {
  width: 100%;
  height: 30rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2-bg-XLy.png');
  border-radius: 15rem;
}
.component-4-X1f .property-1frame-15-fXB {
  margin: 0rem 0rem 44.4rem 12rem;
  box-sizing: border-box;
  padding: 4.6rem 3.7rem 2.5rem 3.8rem;
  width: 37.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-4-X1f .property-1frame-15-fXB .ellipse-2-maD {
  width: 100%;
  height: 30rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2-bg-zGM.png');
  border-radius: 15rem;
}
.component-4-X1f .property-1frame-16-cqj {
  margin: 0rem 8.6rem 59.9rem 3.4rem;
  box-sizing: border-box;
  padding: 3.6rem 3.7rem 3.5rem 3.8rem;
  width: calc(100% - 12rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-4-X1f .property-1frame-16-cqj .ellipse-3-L13 {
  width: 100%;
  height: 30rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-3-bg.png');
  border-radius: 15rem;
}
.component-4-X1f .property-1frame-17-fp1 {
  margin: 0rem 12rem 53.7rem 0rem;
  box-sizing: border-box;
  padding: 3.6rem 3.7rem 3.5rem 3.8rem;
  width: 37.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-4-X1f .property-1frame-17-fp1 .ellipse-3-aRB {
  width: 100%;
  height: 30rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-3-bg-DDP.png');
  border-radius: 15rem;
}
.component-4-X1f .property-1frame-18-inH {
  margin: 0rem 12rem 53.7rem 0rem;
  box-sizing: border-box;
  padding: 3.6rem 3.7rem 3.5rem 3.8rem;
  width: 37.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-4-X1f .property-1frame-18-inH .ellipse-3-STP {
  width: 100%;
  height: 30rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-3-bg-mBb.png');
  border-radius: 15rem;
}
.component-4-X1f .property-1frame-19-aZb {
  margin: 0rem 12rem 5.8rem 0rem;
  box-sizing: border-box;
  padding: 3.6rem 3.7rem 3.5rem 3.8rem;
  width: 37.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-4-X1f .property-1frame-19-aZb .ellipse-3-6Xw {
  width: 100%;
  height: 30rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-3-bg-Qaq.png');
  border-radius: 15rem;
}
.component-4-X1f .property-1variant7-2gV {
  margin: 0rem 8.2rem 0rem 3.8rem;
  box-sizing: border-box;
  padding: 4.6rem 3.7rem 2.5rem 3.8rem;
  width: calc(100% - 12rem);
  height: 37.1rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-4-X1f .property-1variant7-2gV .ellipse-2-8jX {
  width: 100%;
  height: 30rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2-bg-8Jq.png');
  border-radius: 15rem;
}
