
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84rem;
}.component-3-pnZ {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 3.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.component-3-pnZ .property-1rectangle-62-Lku {
  box-sizing: border-box;
  padding: 20.3rem 0rem 20.2rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-62-bg-gHT.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-62-Lku .vector-5Tb {
  margin-right: 78.559rem;
  width: 0.741rem;
  height: 1.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-62-Lku .vector-RGZ {
  width: 0.741rem;
  height: 1.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-63-wkh {
  box-sizing: border-box;
  padding: 20.3rem 0rem 20.2rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-63-bg-SPF.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-63-wkh .vector-suF {
  margin-right: 78.559rem;
  width: 0.741rem;
  height: 1.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-63-wkh .vector-RQy {
  width: 0.741rem;
  height: 1.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-64-wu7 {
  box-sizing: border-box;
  padding: 20.3rem 0rem 20.2rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-64-bg-LXP.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-64-wu7 .vector-snm {
  margin-right: 78.559rem;
  width: 0.741rem;
  height: 1.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-64-wu7 .vector-1ty {
  width: 0.741rem;
  height: 1.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-65-LgM {
  box-sizing: border-box;
  padding: 20.3rem 0rem 20.2rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-65-bg-yM7.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-65-LgM .vector-H5o {
  margin-right: 78.559rem;
  width: 0.741rem;
  height: 1.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-65-LgM .vector-RSu {
  width: 0.741rem;
  height: 1.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-66-LJy {
  box-sizing: border-box;
  padding: 20.3rem 0rem 20.2rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-66-bg-sBs.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-66-LJy .vector-GTX {
  margin-right: 78.559rem;
  width: 0.741rem;
  height: 1.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.component-3-pnZ .property-1rectangle-66-LJy .vector-cXP {
  width: 0.741rem;
  height: 1.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
