
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 146rem;
}.component-7-ATo {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 6.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.component-7-ATo .property-1rectangle-133-UzH {
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.component-7-ATo .property-1rectangle-133-UzH .rectangle-133-Dws {
  width: 100%;
  height: 55rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-133-bg-d73.png');
  border-radius: 3rem;
}
.component-7-ATo .property-1rectangle-134-xPf {
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.component-7-ATo .property-1rectangle-134-xPf .rectangle-134-vLV {
  width: 100%;
  height: 55rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-134-bg-mgh.png');
  border-radius: 3rem;
}
.component-7-ATo .property-1rectangle-135-TLR {
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.component-7-ATo .property-1rectangle-135-TLR .rectangle-135-DaV {
  width: 100%;
  height: 55rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-135-bg-Kty.png');
  border-radius: 3rem;
}
.component-7-ATo .property-1rectangle-136-kqK {
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.component-7-ATo .property-1rectangle-136-kqK .rectangle-136-7fs {
  width: 100%;
  height: 55rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-136-bg-NnZ.png');
  border-radius: 3rem;
}
.component-7-ATo .property-1rectangle-137-TUq {
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.component-7-ATo .property-1rectangle-137-TUq .rectangle-137-RAm {
  width: 100%;
  height: 55rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-137-bg.png');
  border-radius: 3rem;
}
