
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.feedback-managment-2-admin-aRb {
  width: 100%;
  height: 128rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/feedback-managment-2-admin-bg.png');
  border-radius: 3rem;
}
.feedback-managment-2-admin-aRb .auto-group-vmpw-7gR {
  width: 35.7667rem;
  height: 4.3rem;
  position: absolute;
  left: 3.8rem;
  top: 14.1rem;
  display: flex;
  align-items: flex-end;
}
.feedback-managment-2-admin-aRb .auto-group-vmpw-7gR .hamburger-button-SCu {
  margin: 0rem 21.8rem 1.9rem 0rem;
  width: 3.2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  row-gap: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #61a993;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-vmpw-7gR .hamburger-button-SCu .rectangle-87-jC1 {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-vmpw-7gR .hamburger-button-SCu .rectangle-88-g7F {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-vmpw-7gR .hamburger-button-SCu .rectangle-89-dYH {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-vmpw-7gR .add-item-NVs {
  margin: 0rem 1.2rem 0.3rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-vmpw-7gR .vector-UYu {
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-tvet-cv1 {
  box-sizing: border-box;
  padding: 0.6rem 1.067rem 0.675rem 53.6rem;
  width: 58rem;
  height: 4.4rem;
  position: absolute;
  left: 28.8rem;
  top: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.feedback-managment-2-admin-aRb .auto-group-tvet-cv1 .vector-vQu {
  width: 3.3333rem;
  height: 3.125rem;
  object-fit: contain;
  vertical-align: top;
}
.feedback-managment-2-admin-aRb .auto-group-2kxh-41K {
  width: 190.8rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.feedback-managment-2-admin-aRb .auto-group-2kxh-41K .rectangle-6-nxu {
  width: 11.2rem;
  height: 10rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-2kxh-41K .auto-group-cebu-8Wy {
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.6rem 86.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-2kxh-41K .auto-group-cebu-8Wy .auto-group-wizq-S1s {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 5.9rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-2kxh-41K .auto-group-cebu-8Wy .auto-group-nu3d-tuT {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 18.2rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-2kxh-41K .auto-group-cebu-8Wy .auto-group-y1yw-xeR {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 18.3rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-2kxh-41K .auto-group-cebu-8Wy .auto-group-fxj5-E69 {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 12.4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-2kxh-41K .auto-group-cebu-8Wy .auto-group-pvr1-6u3 {
  margin: 0rem 4.3rem 2.7rem 0rem;
  box-sizing: border-box;
  padding: 0.7rem 0.05rem 0.8rem 0.05rem;
  width: 18.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-2kxh-41K .auto-group-cebu-8Wy .ellipse-1-XjT {
  margin-bottom: 2.8rem;
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y {
  width: 191.5rem;
  height: 54.9rem;
  position: absolute;
  left: 0.3rem;
  top: 124.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d3567c;
  border-radius: 5rem;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs {
  box-sizing: border-box;
  padding: 3.3rem 4.1rem 7.3rem 4.1rem;
  width: 100%;
  height: 42rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .logoab-removebg-preview-2-fUH {
  margin: 0rem 163.3rem 1.851rem 0rem;
  width: 20rem;
  height: 2.9487rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-khcw-aLM {
  margin: 0rem 27.6rem 1.9rem 66.9rem;
  width: calc(100% - 94.5rem);
  display: flex;
  column-gap: 20.7rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-khcw-aLM .quick-links-guB {
  margin-top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-khcw-aLM .categories-2TF {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-khcw-aLM .customer-service-MkR {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-mb3r-5gR {
  margin-right: 36.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-mb3r-5gR .paul-wayne-haggerty-road-new-orleans-louisiana-RVP {
  margin: 1.5rem 0.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-mb3r-5gR .home-K4y {
  margin-right: 27.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-mb3r-5gR .home-living-rKo {
  margin-right: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-mb3r-5gR .contact-us-JxV {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-ggaf-Soo {
  margin: 0rem 38.2rem 1.5rem 66.9rem;
  width: calc(100% - 105.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-ggaf-Soo .browse-products-xGM {
  margin-right: 14.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-ggaf-Soo .fashion-6NZ {
  margin-right: 24.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-ggaf-Soo .about-us-Rfj {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-2yv5-ZX3 {
  margin: 0rem 71.1rem 1.5rem 66.9rem;
  width: calc(100% - 138rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-2yv5-ZX3 .my-cart-Hhw {
  margin-right: 24.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-2yv5-ZX3 .groceries-d17 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-qhfy-A13 {
  margin: 0rem 69.7rem 1.5rem 66.9rem;
  width: calc(100% - 136.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-qhfy-A13 .my-activity-69b {
  margin-right: 21rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-qhfy-A13 .electronics-dfK {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-kdjj-Av9 {
  margin: 0rem 73.2rem 0rem 0.3rem;
  width: calc(100% - 73.5rem);
  height: 3.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-kdjj-Av9 .auto-group-zxm1-t5T {
  margin-right: 21.6rem;
  width: 79.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-kdjj-Av9 .auto-group-zxm1-t5T .daily-operating-hours-800am-to-800pm-2SZ {
  width: 68.6rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-kdjj-Av9 .auto-group-zxm1-t5T .feedbacks-7U1 {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 66.6rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-knqj-xZs .auto-group-kdjj-Av9 .beauty-Rjb {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-ttvz-xzR {
  box-sizing: border-box;
  padding: 7.5rem 10.108rem 3.4rem 162.1rem;
  width: 100%;
  height: 12.9rem;
  display: flex;
  align-items: center;
  background-color: #53a6bb;
  border-radius: 0 0 5rem 5rem;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-ttvz-xzR .vector-53T {
  margin: 0rem 2.3rem 0.008rem 0rem;
  width: 2rem;
  height: 1.992rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-ttvz-xzR .vector-CNy {
  margin: 0rem 2.3rem 0rem 0rem;
  width: 2rem;
  height: 1.9999rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-ttvz-xzR .vector-vpm {
  margin-right: 2.3rem;
  width: 2rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-ttvz-xzR .vector-UbP {
  margin-right: 2.31rem;
  width: 1.99rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.feedback-managment-2-admin-aRb .auto-group-em6b-f4y .auto-group-ttvz-xzR .vector-EKf {
  margin-top: 0.3rem;
  width: 2.092rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
