
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.my-activity-history-aBP {
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0rem 0.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/my-activity-history-bg.png');
  border-radius: 3rem;
}
.my-activity-history-aBP .auto-group-dbfh-prR {
  margin: 0rem 0.9rem 9.8rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-dbfh-prR .auto-group-z3go-hvD {
  margin: 0.2rem 102.5rem 0rem 0rem;
  width: 14rem;
  height: 10rem;
  position: relative;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-dbfh-prR .auto-group-z3go-hvD .hamburger-button-RLR {
  width: 3.2rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 10.8rem;
  top: 0.5rem;
  overflow: hidden;
  row-gap: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #61a993;
}
.my-activity-history-aBP .auto-group-dbfh-prR .auto-group-z3go-hvD .hamburger-button-RLR .rectangle-87-iqK {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-dbfh-prR .auto-group-z3go-hvD .hamburger-button-RLR .rectangle-88-rwX {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-dbfh-prR .auto-group-z3go-hvD .hamburger-button-RLR .rectangle-89-obs {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-dbfh-prR .auto-group-z3go-hvD .rectangle-6-wxy {
  width: 11.2rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
}
.my-activity-history-aBP .auto-group-dbfh-prR .auto-group-qq9y-TwK {
  margin: 1.2rem 3.4rem 0rem 0rem;
  width: 4.7rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-dbfh-prR .auto-group-ukdq-tFw {
  margin: 1.2rem 3.5rem 0rem 0rem;
  width: 13.1rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-dbfh-prR .auto-group-6taw-jGZ {
  margin: 1.2rem 2.5rem 0rem 0rem;
  width: 6.5rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-dbfh-prR .frame-3-zTP {
  margin: 1.2rem 2.5rem 0rem 0rem;
  width: 9rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.1000000015);
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-dbfh-prR .auto-group-ussm-2us {
  margin: 1.2rem 15rem 0rem 0rem;
  width: 7.7rem;
  height: 3.5rem;
  position: relative;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-dbfh-prR .auto-group-ussm-2us .rectangle-107-Y7X {
  width: 7.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.my-activity-history-aBP .auto-group-dbfh-prR .auto-group-ussm-2us .feedback-rP7 {
  width: 7.7rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-dbfh-prR .ellipse-1-APo {
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q1oy-6oF {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q1oy-6oF .vector-D7B {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q1oy-6oF .auto-group-yavh-LBo {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q1oy-6oF .xx-xx-xx-c9K {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q1oy-6oF .the-simple-description-of-the-purchased-list-Y2y {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q1oy-6oF .total-price-000-3VX {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q1oy-6oF .vector-Aa9 {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-h6d9-JgM {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-h6d9-JgM .vector-peh {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-h6d9-JgM .auto-group-zuzp-koF {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-h6d9-JgM .xx-xx-xx-po7 {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-h6d9-JgM .the-simple-description-of-the-purchased-list-mCZ {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-h6d9-JgM .total-price-000-Ucm {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-h6d9-JgM .vector-avh {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-cofy-vjf {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-cofy-vjf .vector-3JV {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-cofy-vjf .auto-group-tbbq-Atu {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-cofy-vjf .xx-xx-xx-T7K {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-cofy-vjf .the-simple-description-of-the-purchased-list-nvH {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-cofy-vjf .total-price-000-W5b {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-cofy-vjf .vector-2pd {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q7ab-n37 {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q7ab-n37 .vector-guB {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q7ab-n37 .auto-group-pifm-RLy {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q7ab-n37 .xx-xx-xx-iL5 {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q7ab-n37 .the-simple-description-of-the-purchased-list-T2m {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q7ab-n37 .total-price-000-ZrV {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-q7ab-n37 .vector-5pq {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-tdnj-pXX {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-tdnj-pXX .vector-jeV {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-tdnj-pXX .auto-group-ctws-4wf {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-tdnj-pXX .xx-xx-xx-9y7 {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-tdnj-pXX .the-simple-description-of-the-purchased-list-Vn5 {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-tdnj-pXX .total-price-000-Qe9 {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-tdnj-pXX .vector-vMb {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-mabv-fa5 {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-mabv-fa5 .vector-xZB {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-mabv-fa5 .auto-group-5pkj-HrM {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-mabv-fa5 .xx-xx-xx-xhb {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-mabv-fa5 .the-simple-description-of-the-purchased-list-VxR {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-mabv-fa5 .total-price-000-DNd {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-mabv-fa5 .vector-Ly3 {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-uyrq-tDs {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-uyrq-tDs .vector-oLq {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-uyrq-tDs .auto-group-szyj-vwF {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-uyrq-tDs .xx-xx-xx-RND {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-uyrq-tDs .the-simple-description-of-the-purchased-list-A4u {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-uyrq-tDs .total-price-000-g3F {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-uyrq-tDs .vector-CnH {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-qqsm-M9P {
  width: 100%;
  height: 60.7rem;
  position: relative;
  flex-shrink: 0;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .rectangle-75-qaM {
  width: 12rem;
  height: 10rem;
  position: absolute;
  left: 32.6rem;
  top: 0;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .rectangle-76-NaH {
  width: 12rem;
  height: 10rem;
  position: absolute;
  left: 32.6rem;
  top: 14rem;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .rectangle-77-6mB {
  width: 12rem;
  height: 10rem;
  position: absolute;
  left: 52.7rem;
  top: 31rem;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .item-no1-dm7 {
  width: 5.3rem;
  height: 1.5rem;
  position: absolute;
  left: 35.8rem;
  top: 8.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .item-no1-wmo {
  width: 5.3rem;
  height: 1.5rem;
  position: absolute;
  left: 35.8rem;
  top: 22.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .item-no1-rtm {
  width: 5.3rem;
  height: 1.5rem;
  position: absolute;
  left: 55.9rem;
  top: 39.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .vector-mkq {
  width: 2.4rem;
  height: 2.25rem;
  position: absolute;
  left: 24.4rem;
  top: 3.9rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .vector-uc9 {
  width: 2.4rem;
  height: 2.25rem;
  position: absolute;
  left: 24.4rem;
  top: 17.9rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .vector-3yF {
  width: 2.4rem;
  height: 2.25rem;
  position: absolute;
  left: 44.5rem;
  top: 34.9rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .xx-xx-xx-zNh {
  width: 9.7rem;
  height: 2rem;
  position: absolute;
  left: 52.7rem;
  top: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .xx-xx-xx-7TK {
  width: 9.7rem;
  height: 2rem;
  position: absolute;
  left: 52.7rem;
  top: 18rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .xx-xx-xx-Enq {
  width: 9.7rem;
  height: 2rem;
  position: absolute;
  left: 72.8rem;
  top: 35rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .the-simple-description-of-the-purchased-list-kmB {
  width: 42.1rem;
  height: 2.5rem;
  position: absolute;
  left: 72.7rem;
  top: 3.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .the-simple-description-of-the-purchased-list-4Wy {
  width: 42.1rem;
  height: 2.5rem;
  position: absolute;
  left: 72.7rem;
  top: 17.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .the-simple-description-of-the-purchased-list-xsF {
  width: 42.1rem;
  height: 2.5rem;
  position: absolute;
  left: 92.8rem;
  top: 34.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .total-price-000-4fP {
  width: 16.1rem;
  height: 2.5rem;
  position: absolute;
  left: 133.6rem;
  top: 3.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .total-price-000-y1f {
  width: 16.1rem;
  height: 2.5rem;
  position: absolute;
  left: 133.6rem;
  top: 17.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .total-price-000-5Kb {
  width: 16.1rem;
  height: 2.5rem;
  position: absolute;
  left: 153.7rem;
  top: 34.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .vector-P5P {
  width: 2.6667rem;
  height: 2.5rem;
  position: absolute;
  left: 158.5rem;
  top: 3.7rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .vector-vb7 {
  width: 2.6667rem;
  height: 2.5rem;
  position: absolute;
  left: 158.5rem;
  top: 17.7rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .vector-sWM {
  width: 2.6667rem;
  height: 2.5rem;
  position: absolute;
  left: 178.6rem;
  top: 34.7rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .rectangle-131-D4R {
  width: 191.5rem;
  height: 54.9rem;
  position: absolute;
  left: 0;
  top: 5.8rem;
  background-color: #d3567c;
  border-radius: 5rem;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .quick-links-wm7 {
  width: 13.4rem;
  height: 3rem;
  position: absolute;
  left: 71rem;
  top: 14.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .categories-rdB {
  width: 12.7rem;
  height: 3rem;
  position: absolute;
  left: 105.1rem;
  top: 13.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .customer-service-n13 {
  width: 21.3rem;
  height: 3rem;
  position: absolute;
  left: 138.5rem;
  top: 13.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .contact-us-6Gd {
  width: 12.8rem;
  height: 3rem;
  position: absolute;
  left: 138.5rem;
  top: 19.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .about-us-oRw {
  width: 10.7rem;
  height: 3rem;
  position: absolute;
  left: 138.5rem;
  top: 23.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .logoab-removebg-preview-2-JtV {
  width: 20rem;
  height: 2.9487rem;
  position: absolute;
  left: 4.1rem;
  top: 9.1rem;
  object-fit: cover;
  vertical-align: top;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .paul-wayne-haggerty-road-new-orleans-louisiana-T97 {
  width: 66.6rem;
  height: 3rem;
  position: absolute;
  left: 4.1rem;
  top: 20.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .daily-operating-hours-800am-to-800pm-9Gq {
  width: 68.6rem;
  height: 3rem;
  position: absolute;
  left: 4.4rem;
  top: 37.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .rectangle-132-qfT {
  width: 191.5rem;
  height: 12.9rem;
  position: absolute;
  left: 0;
  top: 47.8rem;
  background-color: #53a6bb;
  border-radius: 0 0 5rem 5rem;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .home-xk5 {
  width: 7rem;
  height: 3rem;
  position: absolute;
  left: 71rem;
  top: 19.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .home-living-t7w {
  width: 17.2rem;
  height: 3rem;
  position: absolute;
  left: 105.1rem;
  top: 19.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .fashion-PaV {
  width: 9.1rem;
  height: 3rem;
  position: absolute;
  left: 105.1rem;
  top: 23.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .groceries-JSZ {
  width: 11.2rem;
  height: 3rem;
  position: absolute;
  left: 105.1rem;
  top: 28.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .electronics-R1P {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 105.1rem;
  top: 32.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .beauty-jGy {
  width: 9rem;
  height: 3rem;
  position: absolute;
  left: 105.2rem;
  top: 37.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .browse-products-eeq {
  width: 19.5rem;
  height: 3rem;
  position: absolute;
  left: 71rem;
  top: 23.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .my-cart-YER {
  width: 9.3rem;
  height: 3rem;
  position: absolute;
  left: 71rem;
  top: 28.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .my-activity-4Cm {
  width: 13.1rem;
  height: 3rem;
  position: absolute;
  left: 71rem;
  top: 32.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .feedbacks-MxZ {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 71rem;
  top: 37.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .vector-sR7 {
  width: 2rem;
  height: 1.992rem;
  position: absolute;
  left: 162.1rem;
  top: 55.3rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .vector-CTP {
  width: 2rem;
  height: 1.9999rem;
  position: absolute;
  left: 166.4rem;
  top: 55.3rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .vector-Y1T {
  width: 2rem;
  height: 1.4rem;
  position: absolute;
  left: 170.7rem;
  top: 55.6rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .vector-g7f {
  width: 1.99rem;
  height: 2rem;
  position: absolute;
  left: 175rem;
  top: 55.3rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-history-aBP .auto-group-qqsm-M9P .vector-1Qq {
  width: 2.092rem;
  height: 1.7rem;
  position: absolute;
  left: 179.3rem;
  top: 55.6rem;
  object-fit: contain;
  vertical-align: top;
}
