
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.paymentg-HYH {
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0rem 0.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/paymentg-bg-eEZ.png');
  border-radius: 3rem;
}
.paymentg-HYH .auto-group-uv27-PbK {
  margin: 0rem 0.9rem 1.1rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-uv27-PbK .rectangle-6-uZf {
  margin: 0.2rem 105.3rem 0rem 0rem;
  width: 11.2rem;
  height: 10rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-uv27-PbK .auto-group-mhsb-R2D {
  margin: 1.2rem 3.4rem 0rem 0rem;
  width: 4.7rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-uv27-PbK .auto-group-hemr-F1F {
  margin: 1.2rem 3.5rem 0rem 0rem;
  width: 13.1rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-uv27-PbK .auto-group-1bxz-hdw {
  margin: 1.2rem 3.2rem 0rem 0rem;
  width: 6.5rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-uv27-PbK .auto-group-ckqt-xJy {
  margin: 1.2rem 3.2rem 0rem 0rem;
  width: 8.8rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-uv27-PbK .auto-group-u6jd-cuK {
  margin: 1.2rem 13.8rem 0rem 0rem;
  width: 7.7rem;
  height: 3.5rem;
  position: relative;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-uv27-PbK .auto-group-u6jd-cuK .rectangle-107-wRo {
  width: 7.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.paymentg-HYH .auto-group-uv27-PbK .auto-group-u6jd-cuK .feedback-4FX {
  width: 7.7rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.paymentg-HYH .auto-group-uv27-PbK .ellipse-1-mQq {
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
  flex-shrink: 0;
}
.paymentg-HYH .vector-hJV {
  margin: 0rem 181.3rem 27.8rem 0rem;
  width: 4rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-HYH .rectangle-77-RkH {
  margin: 0rem 67.3rem 5.9rem 67.2rem;
  width: calc(100% - 134.5rem);
  height: 35rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-77-bg-2CM.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.paymentg-HYH .your-order-has-been-placed-successfully-JJH {
  margin: 0rem 0.2rem 36.8rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d3567c;
  border-radius: 5rem;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph {
  box-sizing: border-box;
  padding: 3.3rem 4.1rem 7.3rem 4.1rem;
  width: 100%;
  height: 42rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .logoab-removebg-preview-2-fo3 {
  margin: 0rem 163.3rem 1.851rem 0rem;
  width: 20rem;
  height: 2.9487rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-tqyd-af7 {
  margin: 0rem 27.6rem 1.9rem 66.9rem;
  width: calc(100% - 94.5rem);
  display: flex;
  column-gap: 20.7rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-tqyd-af7 .quick-links-W2y {
  margin-top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-tqyd-af7 .categories-qb3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-tqyd-af7 .customer-service-yx9 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-hk51-Km7 {
  margin-right: 36.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-hk51-Km7 .paul-wayne-haggerty-road-new-orleans-louisiana-GRT {
  margin: 1.5rem 0.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-hk51-Km7 .home-B2d {
  margin-right: 27.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-hk51-Km7 .home-living-ujK {
  margin-right: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-hk51-Km7 .contact-us-FHP {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-gsix-yz5 {
  margin: 0rem 38.2rem 1.5rem 66.9rem;
  width: calc(100% - 105.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-gsix-yz5 .browse-products-Wj7 {
  margin-right: 14.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-gsix-yz5 .fashion-eaR {
  margin-right: 24.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-gsix-yz5 .about-us-ngd {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-yn6p-8Vb {
  margin: 0rem 71.1rem 1.5rem 66.9rem;
  width: calc(100% - 138rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-yn6p-8Vb .my-cart-4e9 {
  margin-right: 24.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-yn6p-8Vb .groceries-o5w {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-su6k-wT3 {
  margin: 0rem 69.7rem 1.5rem 66.9rem;
  width: calc(100% - 136.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-su6k-wT3 .my-activity-GVK {
  margin-right: 21rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-su6k-wT3 .electronics-QbX {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-gdhd-YBw {
  margin: 0rem 73.2rem 0rem 0.3rem;
  width: calc(100% - 73.5rem);
  height: 3.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-gdhd-YBw .auto-group-7neo-GNq {
  margin-right: 21.6rem;
  width: 79.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-gdhd-YBw .auto-group-7neo-GNq .daily-operating-hours-800am-to-800pm-D3B {
  width: 68.6rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-gdhd-YBw .auto-group-7neo-GNq .feedbacks-W2H {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 66.6rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-tne7-9ph .auto-group-gdhd-YBw .beauty-QtM {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-euvd-wtH {
  box-sizing: border-box;
  padding: 7.5rem 10.108rem 3.4rem 162.1rem;
  width: 100%;
  height: 12.9rem;
  display: flex;
  align-items: center;
  background-color: #53a6bb;
  border-radius: 0 0 5rem 5rem;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-euvd-wtH .vector-rVT {
  margin: 0rem 2.3rem 0.008rem 0rem;
  width: 2rem;
  height: 1.992rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-euvd-wtH .vector-aRT {
  margin: 0rem 2.3rem 0rem 0rem;
  width: 2rem;
  height: 1.9999rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-euvd-wtH .vector-iGm {
  margin-right: 2.3rem;
  width: 2rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-euvd-wtH .vector-fC1 {
  margin-right: 2.31rem;
  width: 1.99rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-HYH .auto-group-zugf-1Ch .auto-group-euvd-wtH .vector-QvH {
  margin-top: 0.3rem;
  width: 2.092rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
