
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.product-management-admin-caZ {
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0rem 0.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/product-management-admin-bg.png');
  border-radius: 3rem;
}
.product-management-admin-caZ .auto-group-jjzw-Kzm {
  margin: 0rem 0rem 3.3rem 0.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-jjzw-Kzm .rectangle-6-rUu {
  margin: 0.2rem 21.1rem 0rem 0rem;
  width: 11.2rem;
  height: 10rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-jjzw-Kzm .auto-group-o6fu-AVb {
  margin: 0rem 6.1rem 4.2rem 0rem;
  box-sizing: border-box;
  padding: 0.6rem 0.767rem 0.675rem 53.9rem;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-jjzw-Kzm .auto-group-o6fu-AVb .vector-UmB {
  width: 3.3333rem;
  height: 3.125rem;
  object-fit: contain;
  vertical-align: top;
}
.product-management-admin-caZ .auto-group-jjzw-Kzm .auto-group-73lf-Qeq {
  margin: 1.3rem 2.3rem 0rem 0rem;
  width: 5.9rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-jjzw-Kzm .frame-13-sHX {
  margin: 1.4rem 2.3rem 0rem 0rem;
  width: 19.1rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.1000000015);
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-jjzw-Kzm .auto-group-wnod-7hf {
  margin: 1.3rem 2.3rem 0rem 0rem;
  width: 18.3rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-jjzw-Kzm .auto-group-e98p-yzm {
  margin: 1.3rem 2.3rem 0rem 0rem;
  width: 12.4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-jjzw-Kzm .auto-group-a6zr-4WR {
  margin: 0rem 4.3rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 0.7rem 0.05rem 0.8rem 0.05rem;
  width: 18.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-jjzw-Kzm .ellipse-1-v2q {
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-management-admin-caZ .hamburger-button-eUd {
  margin: 0rem 0rem 67.2rem 3.5rem;
  width: 3.2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  row-gap: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #61a993;
  flex-shrink: 0;
}
.product-management-admin-caZ .hamburger-button-eUd .rectangle-87-9RP {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.product-management-admin-caZ .hamburger-button-eUd .rectangle-88-gRK {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.product-management-admin-caZ .hamburger-button-eUd .rectangle-89-EBw {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.product-management-admin-caZ .image-7-aFo {
  margin: 0rem 0rem 31rem 38.9rem;
  width: 7.2rem;
  height: 9.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d3567c;
  border-radius: 5rem;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo {
  box-sizing: border-box;
  padding: 3.3rem 4.1rem 7.3rem 4.1rem;
  width: 100%;
  height: 42rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .logoab-removebg-preview-2-ZNd {
  margin: 0rem 163.3rem 1.851rem 0rem;
  width: 20rem;
  height: 2.9487rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-ocpb-UVb {
  margin: 0rem 27.6rem 1.9rem 66.9rem;
  width: calc(100% - 94.5rem);
  display: flex;
  column-gap: 20.7rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-ocpb-UVb .quick-links-Beu {
  margin-top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-ocpb-UVb .categories-v6h {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-ocpb-UVb .customer-service-TMX {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-iimq-zsF {
  margin-right: 36.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-iimq-zsF .paul-wayne-haggerty-road-new-orleans-louisiana-Yds {
  margin: 1.5rem 0.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-iimq-zsF .home-r8m {
  margin-right: 27.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-iimq-zsF .home-living-NN1 {
  margin-right: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-iimq-zsF .contact-us-hfB {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-k1lw-qWV {
  margin: 0rem 38.2rem 1.5rem 66.9rem;
  width: calc(100% - 105.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-k1lw-qWV .browse-products-ZhP {
  margin-right: 14.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-k1lw-qWV .fashion-hHo {
  margin-right: 24.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-k1lw-qWV .about-us-dSM {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-wkcx-Ax5 {
  margin: 0rem 71.1rem 1.5rem 66.9rem;
  width: calc(100% - 138rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-wkcx-Ax5 .my-cart-WFF {
  margin-right: 24.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-wkcx-Ax5 .groceries-ecM {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-peuh-C85 {
  margin: 0rem 69.7rem 1.5rem 66.9rem;
  width: calc(100% - 136.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-peuh-C85 .my-activity-8Gd {
  margin-right: 21rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-peuh-C85 .electronics-GNq {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-jbud-CnH {
  margin: 0rem 73.2rem 0rem 0.3rem;
  width: calc(100% - 73.5rem);
  height: 3.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-jbud-CnH .auto-group-wkkw-XJm {
  margin-right: 21.6rem;
  width: 79.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-jbud-CnH .auto-group-wkkw-XJm .daily-operating-hours-800am-to-800pm-fQy {
  width: 68.6rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-jbud-CnH .auto-group-wkkw-XJm .feedbacks-MHo {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 66.6rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-jvvq-Soo .auto-group-jbud-CnH .beauty-rkM {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-keod-QG5 {
  box-sizing: border-box;
  padding: 7.5rem 10.108rem 3.4rem 162.1rem;
  width: 100%;
  height: 12.9rem;
  display: flex;
  align-items: center;
  background-color: #53a6bb;
  border-radius: 0 0 5rem 5rem;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-keod-QG5 .vector-iXf {
  margin: 0rem 2.3rem 0.008rem 0rem;
  width: 2rem;
  height: 1.992rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-keod-QG5 .vector-qsB {
  margin: 0rem 2.3rem 0rem 0rem;
  width: 2rem;
  height: 1.9999rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-keod-QG5 .vector-n1j {
  margin-right: 2.3rem;
  width: 2rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-keod-QG5 .vector-7ph {
  margin-right: 2.31rem;
  width: 1.99rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-management-admin-caZ .auto-group-fuws-6V3 .auto-group-keod-QG5 .vector-TtZ {
  margin-top: 0.3rem;
  width: 2.092rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
