
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.2rem;
}.table-1-fFT {
  width: 100%;
  height: 36rem;
}
.table-1-fFT .table-dCH {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.table-1-fFT .table-dCH .row-y1F {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-y1F .cell-hxq {
  box-sizing: border-box;
  padding: 1rem 6.1rem;
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-y1F .cell-hxq .content-raq {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.table-1-fFT .table-dCH .row-y1F .cell-Lku {
  box-sizing: border-box;
  padding: 1rem 6.5rem;
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-y1F .cell-Lku .content-VNu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.table-1-fFT .table-dCH .row-y1F .cell-zKf {
  box-sizing: border-box;
  padding: 1rem 6.9rem;
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-y1F .cell-zKf .content-L8d {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.table-1-fFT .table-dCH .row-y1F .cell-SBf {
  box-sizing: border-box;
  padding: 1rem 2.4rem 1rem 1.2rem;
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-y1F .cell-SBf .content-mUq {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-1-fFT .table-dCH .row-y1F .cell-faD {
  box-sizing: border-box;
  padding: 1rem 8.45rem;
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-y1F .cell-faD .content-ckM {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.table-1-fFT .table-dCH .row-y1F .cell-WKw {
  box-sizing: border-box;
  padding: 1rem 1.2rem;
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-y1F .cell-WKw .content-eww {
  margin-right: 5.4rem;
  width: 12.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-1-fFT .table-dCH .row-y1F .cell-wRF {
  box-sizing: border-box;
  padding: 1rem 8.45rem;
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-y1F .cell-wRF .content-HV7 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.table-1-fFT .table-dCH .row-BaV {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-BaV .cell-8Vj {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-BaV .cell-siD {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-BaV .cell-2b7 {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-BaV .cell-yWM {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-BaV .cell-8PF {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-BaV .cell-5ZP {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-BaV .cell-dau {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-NoP {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-NoP .cell-WPo {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-NoP .cell-rTf {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-NoP .cell-QEH {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-NoP .cell-MQR {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-NoP .cell-6so {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-NoP .cell-eeR {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-NoP .cell-QNh {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-9bB {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-9bB .cell-tof {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-9bB .cell-qyo {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-9bB .cell-zrh {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-9bB .cell-YdK {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-9bB .cell-gzR {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-9bB .cell-Sih {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-9bB .cell-CSy {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Ymj {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Ymj .cell-HzD {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Ymj .cell-3iV {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Ymj .cell-ztd {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Ymj .cell-9Wd {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Ymj .cell-uEu {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Ymj .cell-47o {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Ymj .cell-1Hw {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-xU5 {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-xU5 .cell-765 {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-xU5 .cell-4GD {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-xU5 .cell-b1F {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-xU5 .cell-LDj {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-xU5 .cell-gHb {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-xU5 .cell-Rky {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-xU5 .cell-aNy {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-X3K {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-X3K .cell-fQR {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-X3K .cell-CQM {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-X3K .cell-Yj7 {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-X3K .cell-JTP {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-X3K .cell-rjo {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-X3K .cell-QWR {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-X3K .cell-kqB {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Jbo {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Jbo .cell-eff {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Jbo .cell-1FK {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Jbo .cell-ZGq {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Jbo .cell-K17 {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Jbo .cell-FfT {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Jbo .cell-Cqb {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-Jbo .cell-xZs {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-W5b {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-W5b .cell-rQM {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-W5b .cell-bcq {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-W5b .cell-M6D {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-W5b .cell-u7j {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-W5b .cell-rYm {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-W5b .cell-oyo {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-W5b .cell-9nm {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-hZP {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-hZP .cell-ejX {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-hZP .cell-bem {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-hZP .cell-wid {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-hZP .cell-u9f {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-hZP .cell-qp1 {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-hZP .cell-Bss {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-fFT .table-dCH .row-hZP .cell-LVs {
  width: 20.7rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
