
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.about-us-4Cm {
  display: flex;
  border-radius: 3rem;
  box-sizing: border-box;
  padding: 0rem 0.2rem 0rem 0.3rem;
  width: 100%;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:e4bb9598e07931e82ff1e5327070cc96f9d6c0e6');
  overflow: hidden;
  position: relative;
  flex-direction: column;

  .auto-group-yjgx-yqX {
    margin: 0rem 0rem 41.7rem 0.1rem;
    height: 84.4rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-atfu-6v9 {
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.5rem 5rem 2.5rem 0rem;

      .rectangle-6-dv5 {
        width: 10rem;
        height: 10rem;
        background-color: #d9d9d9;
        border-radius: 3rem;
        flex-shrink: 0;
        margin-right: 4rem;
      }
      .auto-group-fi2f-mFb {
        margin-top: 0.2rem;
        width: 37.5rem;
        flex-shrink: 0;

        .vector-WU5 {
          object-fit: contain;
          vertical-align: top;
          margin: 0rem 0rem 18.4rem 0.933rem;
          width: 4rem;
          height: 2.5rem;
        }
        .component-4-S6q {
          padding: 4.6rem 3.7rem 2.5rem 3.8rem;
          width: 100%;
          cursor: pointer;
          overflow: hidden;
          position: relative;
          box-sizing: border-box;

          .ellipse-2-xay {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:7d825c1de6a1b2c1175f9f5a326a3c943f58191d');
            border-radius: 15rem;
            width: 100%;
            height: 30rem;
            background-size: 100% 100%;
          }
        }
      }
    }
    .auto-group-cplb-5Qh {
      width: 81.2rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 0.7rem;

      .rectangle-104-DG1 {
        position: absolute;
        left: 68.1rem;
        top: 1.8rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        width: 13.1rem;
        height: 3.5rem;
      }
      .browse-products-Wku {
        cursor: pointer;
        top: 2.4rem;
        text-align: center;
        font-family: Lexend, 'Source Sans Pro';
        width: 13rem;
        position: absolute;
        left: 68.15rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        height: 2rem;
      }
      .rectangle-108-bnM {
        height: 3.5rem;
        position: absolute;
        left: 60rem;
        top: 1.8rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        width: 4.7rem;
      }
      .home-Jwf {
        position: absolute;
        left: 60rem;
        top: 2.4rem;
        font-size: 1.6rem;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        cursor: pointer;
        height: 2rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.25;
        white-space: nowrap;
        width: 4.7rem;
      }
      .component-5-pQD {
        top: 0;
        box-sizing: border-box;
        padding: 12.2rem 9rem 12.2rem 9.1rem;
        position: absolute;
        left: 0;
        width: 78.1rem;
        height: 84.4rem;
        cursor: pointer;
        overflow: hidden;

        .ellipse-2-Krm {
          background-position: center;
          background-image: url('REPLACE_IMAGE:6e5079d48a2773e22d415a40528035a5febba9a4');
          border-radius: 30rem;
          width: 100%;
          height: 60rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }
    }
    .auto-group-uug3-43f {
      margin-top: 3.5rem;
      width: 37.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-qjby-CQm {
        flex-shrink: 0;
        margin: 0rem 5.3rem 16.6rem 2.8rem;
        width: calc(100% - 8.1rem);
        height: 3.5rem;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;

        .auto-group-vdgf-7Gq {
          font-size: 1.6rem;
          line-height: 1.25;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 6.5rem;
          text-align: center;
          font-weight: 400;
          flex-shrink: 0;
          justify-content: center;
          height: 100%;
          color: #000000;
          display: flex;
          align-items: center;
          border-radius: 1rem;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-b9fh-x2Z {
          font-size: 1.6rem;
          font-family: Lexend, 'Source Sans Pro';
          display: flex;
          align-items: center;
          width: 8.8rem;
          flex-shrink: 0;
          text-align: center;
          font-weight: 400;
          line-height: 1.25;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 1rem;
          height: 100%;
          color: #000000;
          white-space: nowrap;
          justify-content: center;
        }
        .auto-group-otnp-Nc5 {
          width: 7.7rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-107-Jkd {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 1rem;
            width: 7.5rem;
            height: 3.5rem;
            position: absolute;
            left: 0.1rem;
            top: 0;
          }
          .feedback-1Q9 {
            width: 7.7rem;
            height: 2rem;
            left: 0;
            font-size: 1.6rem;
            line-height: 1.25;
            color: #000000;
            white-space: nowrap;
            cursor: pointer;
            position: absolute;
            top: 0.6rem;
            text-align: center;
            font-weight: 400;
            font-family: Lexend, 'Source Sans Pro';
          }
        }
      }
      .component-6-WLu {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.6rem 3.7rem 3.5rem 3.8rem;
        width: 100%;
        cursor: pointer;
        overflow: hidden;
        position: relative;

        .ellipse-2-3bj {
          background-image: url('REPLACE_IMAGE:c8646fad2b94db116c15f6d74cc79fb3054acc35');
          border-radius: 15rem;
          width: 100%;
          height: 30rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
  .auto-group-xkkx-Ne1 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d3567c;
    border-radius: 5rem;
    flex-shrink: 0;

    .auto-group-mv3v-XG1 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 4.1rem 7.3rem 4.1rem;
      width: 100%;
      height: 42rem;

      .logoab-removebg-preview-2-dK3 {
        margin: 0rem 163.3rem 1.851rem 0rem;
        width: 20rem;
        height: 2.9487rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-gct3-jcy {
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 27.6rem 1.9rem 66.9rem;
        width: calc(100% - 94.5rem);
        display: flex;
        column-gap: 20.7rem;

        .quick-links-SXP {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .categories-yGR {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
        }
        .customer-service-uvm {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .auto-group-uv83-TBb {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-right: 36.1rem;

        .paul-wayne-haggerty-road-new-orleans-louisiana-NpM {
          margin: 1.5rem 0.3rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .home-sm7 {
          margin-right: 27.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .home-living-oem {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.2rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .contact-us-Y6Z {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-dbjy-fws {
        margin: 0rem 38.2rem 1.5rem 66.9rem;
        width: calc(100% - 105.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .browse-products-zz9 {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        .fashion-8qT {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.3rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        .about-us-fqP {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
      .auto-group-dues-Qny {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 71.1rem 1.5rem 66.9rem;
        width: calc(100% - 138rem);

        .my-cart-wY1 {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.8rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .groceries-H65 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-9rj1-d9w {
        flex-shrink: 0;
        margin: 0rem 69.7rem 1.5rem 66.9rem;
        width: calc(100% - 136.6rem);
        display: flex;
        align-items: center;

        .my-activity-m1F {
          flex-shrink: 0;
          margin-right: 21rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
        .electronics-6pD {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
      }
      .auto-group-izkr-3Df {
        margin: 0rem 73.2rem 0rem 0.3rem;
        width: calc(100% - 73.5rem);
        height: 3.1rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-pvis-Zho {
          margin-right: 21.6rem;
          width: 79.2rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .daily-operating-hours-800am-to-800pm-v2Z {
            height: 3rem;
            left: 0;
            top: 0.1rem;
            font-size: 2.4rem;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            width: 68.6rem;
            position: absolute;
            font-weight: 400;
            line-height: 1.25;
            color: #000000;
          }
          .feedbacks-beV {
            position: absolute;
            left: 66.6rem;
            top: 0;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            width: 12.6rem;
            height: 3rem;
            font-size: 2.4rem;
            line-height: 1.25;
            font-family: Lexend, 'Source Sans Pro';
          }
        }
        .beauty-WmT {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
    }
    .auto-group-3erz-rKX {
      box-sizing: border-box;
      padding: 7.5rem 10.108rem 3.4rem 162.1rem;
      width: 100%;
      height: 12.9rem;
      display: flex;
      align-items: center;
      background-color: #53a6bb;
      border-radius: 0 0 5rem 5rem;
      flex-shrink: 0;

      .vector-LkV {
        width: 2rem;
        height: 1.992rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.3rem 0.008rem 0rem;
      }
      .vector-G8M {
        margin: 0rem 2.3rem 0rem 0rem;
        width: 2rem;
        height: 1.9999rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-za9 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 2rem;
        height: 1.4rem;
        object-fit: contain;
      }
      .vector-jGq {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.31rem;
        width: 1.99rem;
        height: 2rem;
        object-fit: contain;
      }
      .vector-5bb {
        margin-top: 0.3rem;
        width: 2.092rem;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
