
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 44.4rem;
}.component-6-3FT {
  box-sizing: border-box;
  padding: 0rem 2rem 2rem 2rem;
  width: 100%;
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  overflow: hidden;
  position: relative;
  display: flex;
  border-radius: 0.5rem;

  .property-1frame-20-Zjb {
    padding: 3.6rem 3.7rem 3.5rem 3.8rem;
    width: 37.5rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 2.9rem 43.7rem 0rem;
    box-sizing: border-box;

    .ellipse-2-ryb {
      width: 100%;
      height: 30rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:c8646fad2b94db116c15f6d74cc79fb3054acc35');
      border-radius: 15rem;
    }
  }
  .property-1frame-21-odw {
    flex-shrink: 0;
    margin: 0rem 2.9rem 46.5rem 0rem;
    box-sizing: border-box;
    padding: 3.6rem 3.7rem 3.5rem 3.8rem;
    width: 37.5rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    .ellipse-2-7ed {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:7e4f1d7b4d6eddd53c7cf4d5bdf5b8cfad3f4175');
      border-radius: 15rem;
      width: 100%;
      height: 30rem;
      background-size: 100% 100%;
    }
  }
  .property-1frame-22-fAM {
    height: 37.1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0rem 0rem 59.8rem 2.9rem;
    width: 37.5rem;

    .ellipse-2-mz5 {
      height: 30rem;
      position: absolute;
      left: 3.8rem;
      top: 3.6rem;
      border-radius: 15rem;
      width: 30rem;
    }
    .ellipse-3-uqP {
      width: 30rem;
      height: 30rem;
      position: absolute;
      left: 3.8rem;
      background-size: 100% 100%;
      top: 3.6rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:86912509327d9f5986517219e80a5ece484336b8');
      border-radius: 15rem;
    }
  }
  .property-1frame-23-RHw {
    margin: 0rem 0rem 53.7rem 2.9rem;
    box-sizing: border-box;
    padding: 3.6rem 3.7rem 3.5rem 3.8rem;
    width: 37.5rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    .ellipse-2-Xbs {
      background-image: url('REPLACE_IMAGE:33f1d02a3bb4fef9d39c0a51a98152288545e732');
      border-radius: 15rem;
      width: 100%;
      height: 30rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .property-1frame-24-UX7 {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0rem 53.7rem 2.9rem;
    box-sizing: border-box;
    padding: 3.6rem 3.7rem 3.5rem 3.8rem;
    width: 37.5rem;

    .ellipse-2-Pe5 {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:7d825c1de6a1b2c1175f9f5a326a3c943f58191d');
      border-radius: 15rem;
      width: 100%;
      height: 30rem;
    }
  }
  .property-1frame-25-jxq {
    padding: 3.6rem 3.7rem 3.5rem 3.8rem;
    width: 37.5rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin-left: 2.9rem;
    box-sizing: border-box;

    .ellipse-2-4ER {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:6e5079d48a2773e22d415a40528035a5febba9a4');
      border-radius: 15rem;
      width: 100%;
      height: 30rem;
    }
  }
}
