
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84rem;
}.component-2-y6V {
  padding: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: 3.4rem;
  align-items: center;
  border: dashed 0.1rem #9747ff;

  .property-1rectangle-62-T1f {
    border-radius: 2rem;
    flex-shrink: 0;
    padding: 20.3rem 0rem 20.2rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('REPLACE_IMAGE:56cddfa72cfa4f8f90d1609ecdf2363c54758e23');

    .vector-xj7 {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 78.559rem;
      width: 0.741rem;
      height: 1.2rem;
      cursor: pointer;
      object-fit: contain;
    }
    .vector-gQD {
      width: 0.741rem;
      height: 1.2rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .property-1rectangle-63-ni9 {
    background-image: url('REPLACE_IMAGE:403669ab86f3d2dae0afe1e8f0f3facfe03a7c51');
    border-radius: 2rem;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 20.3rem 0rem 20.2rem 0rem;
    align-items: center;
    background-size: 100% 100%;

    .vector-JwP {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 78.559rem;
      width: 0.741rem;
      height: 1.2rem;
    }
    .vector-Snh {
      width: 0.741rem;
      height: 1.2rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .property-1rectangle-64-ATo {
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:6780940bb199d8bc8ae00034ca377003bd1bb040');
    border-radius: 2rem;
    flex-shrink: 0;
    padding: 20.3rem 0rem 20.2rem 0rem;
    width: 100%;
    display: flex;
    background-size: 100% 100%;
    box-sizing: border-box;
    align-items: center;
    background-position: center;

    .vector-VFB {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 78.559rem;
      width: 0.741rem;
      height: 1.2rem;
    }
    .vector-qK3 {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 0.741rem;
      height: 1.2rem;
    }
  }
  .property-1rectangle-65-9qX {
    padding: 20.3rem 0rem 20.2rem 0rem;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:749753099ee064b2ff51d55f56cdedc48f8d408d');
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-position: center;
    border-radius: 2rem;

    .vector-gaZ {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 78.559rem;
      width: 0.741rem;
      height: 1.2rem;
      cursor: pointer;
    }
    .vector-qCZ {
      width: 0.741rem;
      height: 1.2rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .property-1rectangle-66-Ysf {
    width: 100%;
    align-items: center;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('REPLACE_IMAGE:0c396470e3857bc51f11a78e3959e99bfe6726c0');
    border-radius: 2rem;
    flex-shrink: 0;
    padding: 20.3rem 0rem 20.2rem 0rem;
    display: flex;
    background-repeat: no-repeat;
    box-sizing: border-box;

    .vector-5sb {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 78.559rem;
      width: 0.741rem;
      height: 1.2rem;
      cursor: pointer;
      object-fit: contain;
    }
    .vector-RwT {
      height: 1.2rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 0.741rem;
    }
  }
}
