
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 82.1rem;
}.component-5-zBP {
  padding: 2rem;
  position: relative;
  align-items: center;
  display: flex;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  flex-direction: column;

  .property-1frame-26-82h {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 3.3rem;
    box-sizing: border-box;
    padding: 12.2rem 9rem 12.2rem 9.1rem;
    width: 100%;
    cursor: pointer;

    .ellipse-2-emj {
      background-position: center;
      background-image: url('REPLACE_IMAGE:6e5079d48a2773e22d415a40528035a5febba9a4');
      border-radius: 30rem;
      width: 100%;
      height: 60rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  .property-1frame-27-z4u {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 3.3rem;
    box-sizing: border-box;
    padding: 12.2rem 9rem 12.2rem 9.1rem;
    width: 100%;
    cursor: pointer;

    .ellipse-2-7fK {
      height: 60rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:c8646fad2b94db116c15f6d74cc79fb3054acc35');
      border-radius: 30rem;
      width: 100%;
    }
  }
  .property-1frame-28-TDP {
    position: relative;
    flex-shrink: 0;
    margin-bottom: 6.4rem;
    box-sizing: border-box;
    padding: 12.2rem 9rem 12.2rem 9.1rem;
    width: 100%;
    cursor: pointer;
    overflow: hidden;

    .ellipse-2-nWZ {
      background-position: center;
      background-image: url('REPLACE_IMAGE:7e4f1d7b4d6eddd53c7cf4d5bdf5b8cfad3f4175');
      border-radius: 30rem;
      width: 100%;
      height: 60rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  .property-1frame-29-Xyw {
    margin-bottom: 6.4rem;
    box-sizing: border-box;
    padding: 12.2rem 9rem 12.2rem 9.1rem;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    .ellipse-2-faM {
      height: 60rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:86912509327d9f5986517219e80a5ece484336b8');
      border-radius: 30rem;
      width: 100%;
    }
  }
  .property-1frame-30-Qnq {
    flex-shrink: 0;
    margin-bottom: 6.4rem;
    box-sizing: border-box;
    padding: 12.2rem 9rem 12.2rem 9.1rem;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    .ellipse-2-YPF {
      background-position: center;
      background-image: url('REPLACE_IMAGE:33f1d02a3bb4fef9d39c0a51a98152288545e732');
      border-radius: 30rem;
      width: 100%;
      height: 60rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  .property-1frame-31-tT7 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.2rem 9rem 12.2rem 9.1rem;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    .ellipse-2-dQh {
      border-radius: 30rem;
      width: 100%;
      height: 60rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:7d825c1de6a1b2c1175f9f5a326a3c943f58191d');
    }
  }
}
