
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 179.4rem;
}.first-ui-cRs {
  box-sizing: border-box;
  padding: 49.6rem 70.6rem 46.9rem 77.6rem;
  height: 124.7rem;
  background-position: center;
  background-image: url('REPLACE_IMAGE:8cb5adac3293bdfa69777bc7c8d51a066ffe8da7');
  border-radius: 3rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .logoab-removebg-preview-1-XYq {
    width: 31.2rem;
    height: 28.2rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2.7rem;
  }
}
