
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.1rem;
}.frame-12-uk1 {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 5.3rem 2rem 7.8rem 4.7rem;
  width: 100%;
  height: 319.3rem;
  overflow: hidden;
  position: relative;

  .component-1-35X {
    position: relative;
    border: dashed 0.1rem #9747ff;
    border-radius: 0.5rem;
    padding: 2rem;
    height: 100%;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    row-gap: 6.3rem;

    .property-1rectangle-93-xiH {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:e83f8e246b6fb9f30275982b157434b73869c32f');
      box-sizing: border-box;
      padding: 26.5rem 1.6rem 1.5rem 1.4rem;
      width: 100%;
      cursor: pointer;
      align-items: center;
      border-radius: 3rem;
      flex-shrink: 0;
      display: flex;
      background-color: #d9d9d9;
      background-position: center;

      .chevron-left-HVf {
        height: 2.4rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 47.9rem 25rem 0rem;
        width: 2.4rem;
      }
      .auto-group-pl3u-oiu {
        margin: 26.1rem 47.7rem 0rem 0rem;
        display: flex;
        column-gap: 2rem;
        align-items: center;
        background-color: #509bf2;
        border-radius: 1rem;
        flex-shrink: 0;

        .rectangle-99-j6m {
          height: 1.3rem;
          background-color: #509bf2;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 6.2rem;
        }
        .rectangle-100-ezR {
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-101-buf {
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-102-wTj {
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 6.2rem;
          height: 1.3rem;
        }
        .rectangle-103-HGh {
          border-radius: 1rem;
          flex-shrink: 0;
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
        }
      }
      .chevron-right-QMK {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 25rem;
        width: 2.4rem;
        height: 2.4rem;
      }
    }
    .property-1rectangle-94-uJ5 {
      background-color: #d9d9d9;
      background-size: 100% 100%;
      box-sizing: border-box;
      padding: 26.5rem 1.6rem 1.5rem 1.4rem;
      width: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      background-position: center;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:8ac9ff6b753ed56ec9a98250af25a2ed4ab591f6');
      border-radius: 3rem;

      .chevron-left-E5T {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 47.9rem 25rem 0rem;
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
      }
      .auto-group-ktxq-viy {
        background-repeat: no-repeat;
        background-position: center;
        margin: 26.1rem 47.7rem 0rem 0rem;
        align-items: center;
        background-size: cover;
        background-image: url('REPLACE_IMAGE:190:1266');
        flex-shrink: 0;
        display: flex;
        column-gap: 2rem;

        .rectangle-99-3ob {
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-100-PsT {
          flex-shrink: 0;
          width: 6.2rem;
          height: 1.3rem;
          background-color: #509bf2;
          border-radius: 1rem;
        }
        .rectangle-101-wPB {
          flex-shrink: 0;
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
        }
        .rectangle-102-61B {
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 6.2rem;
          height: 1.3rem;
        }
        .rectangle-103-ENH {
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
        }
      }
      .chevron-right-Ytm {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 25rem;
        width: 2.4rem;
        height: 2.4rem;
      }
    }
    .property-1rectangle-95-rPf {
      width: 100%;
      cursor: pointer;
      display: flex;
      background-color: #d9d9d9;
      background-image: url('REPLACE_IMAGE:795be2111375f0a0ef343960030437830766e44f');
      border-radius: 3rem;
      flex-shrink: 0;
      box-sizing: border-box;
      align-items: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      padding: 26.5rem 1.6rem 1.5rem 1.4rem;

      .chevron-left-aKf {
        margin: 0rem 47.9rem 25rem 0rem;
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-npfu-hv5 {
        display: flex;
        column-gap: 2rem;
        align-items: center;
        background-color: #509bf2;
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 26.1rem 47.7rem 0rem 0rem;

        .rectangle-99-qFb {
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-100-BKT {
          flex-shrink: 0;
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
        }
        .rectangle-101-vXw {
          width: 6.2rem;
          height: 1.3rem;
          background-color: #509bf2;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-102-SmB {
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 6.2rem;
          height: 1.3rem;
        }
        .rectangle-103-na9 {
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
        }
      }
      .chevron-right-uuf {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 25rem;
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
        object-fit: contain;
      }
    }
    .property-1rectangle-96-QbX {
      box-sizing: border-box;
      width: 100%;
      cursor: pointer;
      align-items: center;
      flex-shrink: 0;
      border-radius: 3rem;
      padding: 26.5rem 1.6rem 1.5rem 1.4rem;
      display: flex;
      background-color: #d9d9d9;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:e0b92832afaff0b4c80088000c4b94c5d5605dcc');

      .chevron-left-93K {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 47.9rem 25rem 0rem;
        width: 2.4rem;
        height: 2.4rem;
      }
      .auto-group-nzjo-Tph {
        background-color: #509bf2;
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 26.1rem 47.7rem 0rem 0rem;
        display: flex;
        column-gap: 2rem;
        align-items: center;

        .rectangle-99-nc5 {
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 6.2rem;
          height: 1.3rem;
        }
        .rectangle-100-L7o {
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-101-stR {
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 6.2rem;
        }
        .rectangle-102-RQ9 {
          height: 1.3rem;
          background-color: #509bf2;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 6.2rem;
        }
        .rectangle-103-mU1 {
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 6.2rem;
          height: 1.3rem;
        }
      }
      .chevron-right-Veu {
        margin-bottom: 25rem;
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .property-1rectangle-97-CZK {
      background-position: center;
      flex-shrink: 0;
      padding: 26.5rem 1.6rem 1.5rem 1.4rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      background-image: url('REPLACE_IMAGE:51ebdf5e4e09c0508b8241d51f4c1b1dff813ffd');
      border-radius: 3rem;
      box-sizing: border-box;
      width: 100%;
      cursor: pointer;

      .chevron-left-Xbb {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 47.9rem 25rem 0rem;
        width: 2.4rem;
        height: 2.4rem;
      }
      .auto-group-cksp-TEM {
        flex-shrink: 0;
        margin: 26.1rem 47.7rem 0rem 0rem;
        display: flex;
        column-gap: 2rem;
        align-items: center;
        background-color: #509bf2;
        border-radius: 1rem;

        .rectangle-99-SGd {
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-100-AiR {
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-101-WGV {
          border-radius: 1rem;
          flex-shrink: 0;
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
        }
        .rectangle-102-FUy {
          width: 6.2rem;
          height: 1.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-103-Q6y {
          width: 6.2rem;
          height: 1.3rem;
          background-color: #509bf2;
          border-radius: 1rem;
          flex-shrink: 0;
        }
      }
      .chevron-right-XSV {
        margin-bottom: 25rem;
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
