
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 16.9rem;
}.hamburger-button-9K3 {
  display: flex;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 8.6rem 4.6rem 4.3rem 4.6rem;
  overflow: hidden;
  align-items: center;

  .property-1frame-3-3vD {
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color: #61a993;
    flex-shrink: 0;
    margin: 0rem 2.3rem 6.5rem 2.2rem;
    cursor: pointer;
    row-gap: 0.3rem;
    display: flex;
    flex-direction: column;
    width: calc(100% - 4.5rem);

    .rectangle-87-m5X {
      width: 100%;
      height: 0.6rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .rectangle-88-uxR {
      width: 100%;
      height: 0.6rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .rectangle-89-GY5 {
      background-color: #000000;
      flex-shrink: 0;
      width: 100%;
      height: 0.6rem;
    }
  }
  .property-1variant2-cbw {
    height: 6.7rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    padding: 1.985rem 2.3rem 0rem 2.2rem;
    width: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1000000015);
    box-sizing: border-box;

    .auto-group-ejlb-Vfj {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0.209rem 7.732rem 0.206rem;
      width: calc(100% - 0.4151rem);
      height: 2.6833rem;

      .rectangle-87-nPw {
        top: 0;
        background-color: rgba(0, 0, 0, 0.8100000024);
        width: 2.7112rem;
        height: 2.6624rem;
        position: absolute;
        left: 0;
      }
      .rectangle-89-6vR {
        position: absolute;
        left: 0.0676rem;
        top: 0.0273rem;
        background-color: rgba(0, 0, 0, 0.8100000024);
        width: 2.7173rem;
        height: 2.656rem;
      }
    }
    .rectangle-90-ctm {
      margin-bottom: 0.3rem;
      width: 100%;
      height: 0.6rem;
      background-color: rgba(0, 0, 0, 0.3799999952);
      flex-shrink: 0;
    }
    .rectangle-91-mFs {
      margin-bottom: 0.3rem;
      width: 100%;
      height: 0.6rem;
      background-color: rgba(0, 0, 0, 0.3799999952);
      flex-shrink: 0;
    }
    .rectangle-92-VxZ {
      width: 100%;
      height: 0.6rem;
      background-color: rgba(0, 0, 0, 0.3799999952);
      flex-shrink: 0;
    }
  }
}
