
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.home-admin-q57 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:5f6b4243145aab55581c729f502960b086ce73bb');
  padding: 0.6rem 0.2rem 0rem 0.3rem;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  background-position: center;
  border-radius: 3rem;

  .auto-group-nmeb-YkD {
    margin: 0rem 0rem 1.9rem 0.1rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .rectangle-6-GAR {
      margin: 0.2rem 21.1rem 0rem 0rem;
      width: 11.2rem;
      height: 10rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.4rem;
      flex-shrink: 0;
    }
    .auto-group-ez19-yKj {
      box-sizing: border-box;
      padding: 0.6rem 0.767rem 0.675rem 53.9rem;
      background-color: #d9d9d9;
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0rem 6.7rem 4.2rem 0rem;

      .vector-HLR {
        height: 3.125rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.3333rem;
      }
    }
    .frame-13-opZ {
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.5rem;
      justify-content: center;
      color: #000000;
      margin: 1.3rem 2.3rem 0rem 0rem;
      width: 6.2rem;
      display: flex;
      align-items: center;
      line-height: 1.25;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 1.6rem;
      background-color: rgba(0, 0, 0, 0.1000000015);
    }
    .auto-group-hjdd-1fj {
      flex-shrink: 0;
      margin: 1.3rem 2.3rem 0rem 0rem;
      width: 18.2rem;
      height: 3.5rem;
      font-weight: 400;
      white-space: nowrap;
      display: flex;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      border-radius: 1rem;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
    }
    .auto-group-vus7-tDj {
      width: 18.3rem;
      align-items: center;
      margin: 1.3rem 2.3rem 0rem 0rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 1rem;
      height: 3.5rem;
      color: #000000;
      font-size: 1.6rem;
      justify-content: center;
      font-weight: 400;
      line-height: 1.25;
      flex-shrink: 0;
      display: flex;
    }
    .auto-group-xdk1-wxh {
      align-items: center;
      font-weight: 400;
      width: 12.4rem;
      color: #000000;
      flex-shrink: 0;
      margin: 1.3rem 2.3rem 0rem 0rem;
      display: flex;
      justify-content: center;
      font-size: 1.6rem;
      white-space: nowrap;
      border-radius: 1rem;
      height: 3.5rem;
      font-family: Lexend, 'Source Sans Pro';
      line-height: 1.25;
    }
    .auto-group-anxv-cow {
      align-items: center;
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      width: 18.8rem;
      justify-content: center;
      font-size: 1.6rem;
      line-height: 1.25;
      color: #000000;
      border-radius: 1rem;
      margin: 0rem 4.3rem 4.1rem 0rem;
      padding: 0.7rem 0.05rem 0.8rem 0.05rem;
      font-family: Lexend, 'Source Sans Pro';
      box-sizing: border-box;
    }
    .ellipse-1-GtV {
      width: 6rem;
      height: 6rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
    }
  }
  .hamburger-button-cSZ {
    width: 3.2rem;
    overflow: hidden;
    row-gap: 0.3rem;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 0rem 4.9rem 3.5rem;
    cursor: pointer;
    position: relative;
    align-items: center;
    display: flex;
    background-color: #6cac98;

    .rectangle-87-tQ5 {
      background-color: #000000;
      flex-shrink: 0;
      width: 100%;
      height: 0.6rem;
    }
    .rectangle-88-QNR {
      width: 100%;
      height: 0.6rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .rectangle-89-YDj {
      width: 100%;
      height: 0.6rem;
      background-color: #000000;
      flex-shrink: 0;
    }
  }
  .component-7-Fdw {
    cursor: pointer;
    flex-shrink: 0;
    margin: 0rem 24.8rem 49.4rem 24.7rem;
    width: calc(100% - 49.5rem);

    .rectangle-133-xYM {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:6ff217240fd62ea88d29347e91732d413218f1d5');
      border-radius: 3rem;
      width: 100%;
      height: 55rem;
      background-color: #d9d9d9;
    }
  }
  .auto-group-satm-gUM {
    flex-direction: column;
    background-color: #d3567c;
    border-radius: 5rem;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-e123-2o7 {
      width: 100%;
      height: 42rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 4.1rem 7.3rem 4.1rem;

      .logoab-removebg-preview-2-LYu {
        margin: 0rem 163.3rem 1.851rem 0rem;
        width: 20rem;
        height: 2.9487rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-ckuf-S69 {
        margin: 0rem 27.6rem 1.9rem 66.9rem;
        width: calc(100% - 94.5rem);
        display: flex;
        column-gap: 20.7rem;
        align-items: flex-start;
        flex-shrink: 0;

        .quick-links-LxD {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.6rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .categories-5Q1 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .customer-service-RCy {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-7qw7-AAZ {
        margin-right: 36.1rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .paul-wayne-haggerty-road-new-orleans-louisiana-WER {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 1.5rem 0.3rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .home-Q4u {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 27.1rem;
        }
        .home-living-8mb {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.2rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .contact-us-fFj {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .auto-group-vhek-QDK {
        margin: 0rem 38.2rem 1.5rem 66.9rem;
        width: calc(100% - 105.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .browse-products-Kr5 {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .fashion-ThP {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.3rem;
        }
        .about-us-bob {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-pcry-XSM {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 71.1rem 1.5rem 66.9rem;
        width: calc(100% - 138rem);
        display: flex;

        .my-cart-4BP {
          margin-right: 24.8rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .groceries-PjT {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
      .auto-group-bvcs-L8u {
        margin: 0rem 69.7rem 1.5rem 66.9rem;
        width: calc(100% - 136.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .my-activity-rsw {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 21rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .electronics-CS1 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-5rmr-wPb {
        flex-shrink: 0;
        margin: 0rem 73.2rem 0rem 0.3rem;
        width: calc(100% - 73.5rem);
        height: 3.1rem;
        display: flex;
        align-items: flex-start;

        .auto-group-boas-4UD {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 21.6rem;
          width: 79.2rem;

          .daily-operating-hours-800am-to-800pm-D6D {
            font-size: 2.4rem;
            font-weight: 400;
            color: #000000;
            width: 68.6rem;
            position: absolute;
            top: 0.1rem;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            height: 3rem;
            left: 0;
            line-height: 1.25;
          }
          .feedbacks-uDw {
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            width: 12.6rem;
            height: 3rem;
            font-weight: 400;
            line-height: 1.25;
            position: absolute;
            left: 66.6rem;
            top: 0;
            font-size: 2.4rem;
          }
        }
        .beauty-ce9 {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-5jkr-Mbj {
      background-color: #53a6bb;
      border-radius: 0 0 5rem 5rem;
      box-sizing: border-box;
      display: flex;
      height: 12.9rem;
      align-items: center;
      flex-shrink: 0;
      padding: 7.5rem 10.108rem 3.4rem 162.1rem;
      width: 100%;

      .vector-GTo {
        margin: 0rem 2.3rem 0.008rem 0rem;
        width: 2rem;
        height: 1.992rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-Bqf {
        height: 1.9999rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.3rem 0rem 0rem;
        width: 2rem;
      }
      .vector-iqb {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 2rem;
        height: 1.4rem;
      }
      .vector-U45 {
        width: 1.99rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.31rem;
      }
      .vector-pNq {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.3rem;
        width: 2.092rem;
        height: 1.7rem;
      }
    }
  }
}
