
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.my-activity-history-aBP {
  position: relative;
  align-items: center;
  background-repeat: no-repeat;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:c9037830b396352dcd7de2350db417116b128e98');
  padding: 0.6rem 0.2rem 0rem 0.3rem;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  .auto-group-dbfh-prR {
    margin: 0rem 0.9rem 9.8rem 0rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-z3go-hvD {
      height: 10rem;
      position: relative;
      flex-shrink: 0;
      margin: 0.2rem 102.5rem 0rem 0rem;
      width: 14rem;

      .hamburger-button-RLR {
        align-items: center;
        background-color: #61a993;
        cursor: pointer;
        top: 0.5rem;
        row-gap: 0.3rem;
        left: 10.8rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 3.2rem;
        height: 2.4rem;
        position: absolute;

        .rectangle-87-iqK {
          flex-shrink: 0;
          width: 100%;
          height: 0.6rem;
          background-color: #000000;
        }
        .rectangle-88-rwX {
          background-color: #000000;
          flex-shrink: 0;
          width: 100%;
          height: 0.6rem;
        }
        .rectangle-89-obs {
          width: 100%;
          height: 0.6rem;
          background-color: #000000;
          flex-shrink: 0;
        }
      }
      .rectangle-6-wxy {
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.4rem;
        width: 11.2rem;
        height: 10rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .auto-group-qq9y-TwK {
      margin: 1.2rem 3.4rem 0rem 0rem;
      line-height: 1.25;
      justify-content: center;
      border-radius: 1rem;
      flex-shrink: 0;
      width: 4.7rem;
      align-items: center;
      height: 3.5rem;
      text-align: center;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.6rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .auto-group-ukdq-tFw {
      margin: 1.2rem 3.5rem 0rem 0rem;
      height: 3.5rem;
      text-align: center;
      font-size: 1.6rem;
      font-family: Lexend, 'Source Sans Pro';
      border-radius: 1rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 13.1rem;
      color: #000000;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
    }
    .auto-group-6taw-jGZ {
      align-items: center;
      border-radius: 1rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 6.5rem;
      height: 3.5rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      margin: 1.2rem 2.5rem 0rem 0rem;
      color: #000000;
      justify-content: center;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .frame-3-zTP {
      font-size: 1.6rem;
      color: #000000;
      display: flex;
      justify-content: center;
      margin: 1.2rem 2.5rem 0rem 0rem;
      width: 9rem;
      border-radius: 1rem;
      height: 3.5rem;
      text-align: center;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.25;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(0, 0, 0, 0.1000000015);
      flex-shrink: 0;
    }
    .auto-group-ussm-2us {
      flex-shrink: 0;
      margin: 1.2rem 15rem 0rem 0rem;
      width: 7.7rem;
      height: 3.5rem;
      position: relative;

      .rectangle-107-Y7X {
        width: 7.5rem;
        height: 3.5rem;
        position: absolute;
        left: 0.1rem;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
      }
      .feedback-rP7 {
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        width: 7.7rem;
        position: absolute;
        top: 0.6rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.25;
        height: 2rem;
        cursor: pointer;
        left: 0;
        font-size: 1.6rem;
        white-space: nowrap;
      }
    }
    .ellipse-1-APo {
      width: 6rem;
      height: 6rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
    }
  }
  .auto-group-q1oy-6oF {
    flex-shrink: 0;
    margin: 0rem 30.333rem 4rem 24.4rem;
    width: calc(100% - 54.7333rem);
    height: 10rem;
    display: flex;
    align-items: center;

    .vector-D7B {
      flex-shrink: 0;
      margin: 0.05rem 5.8rem 0rem 0rem;
      width: 2.4rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-yavh-LBo {
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 8.1rem;
      height: 100%;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.25;
      background-color: #d9d9d9;
      box-sizing: border-box;
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .xx-xx-xx-c9K {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .the-simple-description-of-the-purchased-list-Y2y {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .total-price-000-3VX {
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .vector-Aa9 {
      margin-bottom: 0.1rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-h6d9-JgM {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 30.333rem 4rem 24.4rem;
    width: calc(100% - 54.7333rem);
    height: 10rem;

    .vector-peh {
      margin: 0.05rem 5.8rem 0rem 0rem;
      width: 2.4rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-zuzp-koF {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      box-sizing: border-box;
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      height: 100%;
      font-size: 1.2rem;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 8.1rem;
      font-weight: 400;
      white-space: nowrap;
      background-color: #d9d9d9;
    }
    .xx-xx-xx-po7 {
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .the-simple-description-of-the-purchased-list-mCZ {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .total-price-000-Ucm {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .vector-avh {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
    }
  }
  .auto-group-cofy-vjf {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 30.333rem 4rem 24.4rem;
    width: calc(100% - 54.7333rem);
    height: 10rem;

    .vector-3JV {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.05rem 5.8rem 0rem 0rem;
      width: 2.4rem;
      height: 2.25rem;
      object-fit: contain;
    }
    .auto-group-tbbq-Atu {
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #d9d9d9;
      margin-right: 8.1rem;
      box-sizing: border-box;
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      font-size: 1.2rem;
      line-height: 1.25;
      border-radius: 2rem;
      height: 100%;
      font-weight: 400;
      color: #000000;
      flex-shrink: 0;
    }
    .xx-xx-xx-T7K {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .the-simple-description-of-the-purchased-list-nvH {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .total-price-000-W5b {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
    }
    .vector-2pd {
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-q7ab-n37 {
    margin: 0rem 30.333rem 4rem 24.4rem;
    width: calc(100% - 54.7333rem);
    height: 10rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .vector-guB {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.05rem 5.8rem 0rem 0rem;
      width: 2.4rem;
      height: 2.25rem;
    }
    .auto-group-pifm-RLy {
      font-family: Lexend, 'Source Sans Pro';
      background-color: #d9d9d9;
      flex-shrink: 0;
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      height: 100%;
      font-size: 1.2rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      border-radius: 2rem;
      margin-right: 8.1rem;
      box-sizing: border-box;
      font-weight: 400;
    }
    .xx-xx-xx-iL5 {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.3rem;
    }
    .the-simple-description-of-the-purchased-list-T2m {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .total-price-000-ZrV {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .vector-5pq {
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2.6667rem;
    }
  }
  .auto-group-tdnj-pXX {
    margin: 0rem 30.333rem 4rem 24.4rem;
    width: calc(100% - 54.7333rem);
    height: 10rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .vector-jeV {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.05rem 5.8rem 0rem 0rem;
      width: 2.4rem;
      height: 2.25rem;
    }
    .auto-group-ctws-4wf {
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      height: 100%;
      font-size: 1.2rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #d9d9d9;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 8.1rem;
      box-sizing: border-box;
      line-height: 1.25;
      color: #000000;
    }
    .xx-xx-xx-9y7 {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .the-simple-description-of-the-purchased-list-Vn5 {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
    }
    .total-price-000-Qe9 {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
    }
    .vector-vMb {
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-mabv-fa5 {
    height: 10rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 30.333rem 4rem 24.4rem;
    width: calc(100% - 54.7333rem);

    .vector-xZB {
      width: 2.4rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.05rem 5.8rem 0rem 0rem;
    }
    .auto-group-5pkj-HrM {
      background-color: #d9d9d9;
      height: 100%;
      font-size: 1.2rem;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 8.1rem;
      box-sizing: border-box;
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      line-height: 1.25;
      border-radius: 2rem;
      flex-shrink: 0;
    }
    .xx-xx-xx-xhb {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
    }
    .the-simple-description-of-the-purchased-list-VxR {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .total-price-000-DNd {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
    }
    .vector-Ly3 {
      margin-bottom: 0.1rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-uyrq-tDs {
    flex-shrink: 0;
    margin: 0rem 30.333rem 4rem 24.4rem;
    width: calc(100% - 54.7333rem);
    height: 10rem;
    display: flex;
    align-items: center;

    .vector-oLq {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.05rem 5.8rem 0rem 0rem;
      width: 2.4rem;
      height: 2.25rem;
    }
    .auto-group-szyj-vwF {
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      font-size: 1.2rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-right: 8.1rem;
      height: 100%;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      border-radius: 2rem;
      box-sizing: border-box;
    }
    .xx-xx-xx-RND {
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .the-simple-description-of-the-purchased-list-A4u {
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
    .total-price-000-g3F {
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .vector-CnH {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
    }
  }
  .auto-group-qqsm-M9P {
    width: 100%;
    height: 60.7rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-75-qaM {
      width: 12rem;
      height: 10rem;
      position: absolute;
      left: 32.6rem;
      top: 0;
      background-color: #d9d9d9;
      border-radius: 2rem;
    }
    .rectangle-76-NaH {
      top: 14rem;
      background-color: #d9d9d9;
      border-radius: 2rem;
      width: 12rem;
      height: 10rem;
      position: absolute;
      left: 32.6rem;
    }
    .rectangle-77-6mB {
      width: 12rem;
      height: 10rem;
      position: absolute;
      left: 52.7rem;
      top: 31rem;
      background-color: #d9d9d9;
      border-radius: 2rem;
    }
    .item-no1-dm7 {
      height: 1.5rem;
      font-size: 1.2rem;
      line-height: 1.25;
      width: 5.3rem;
      left: 35.8rem;
      top: 8.2rem;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
    }
    .item-no1-wmo {
      height: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      width: 5.3rem;
      position: absolute;
      left: 35.8rem;
      top: 22.2rem;
      font-size: 1.2rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-no1-rtm {
      top: 39.2rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.3rem;
      height: 1.5rem;
      position: absolute;
      left: 55.9rem;
    }
    .vector-mkq {
      object-fit: contain;
      vertical-align: top;
      width: 2.4rem;
      height: 2.25rem;
      position: absolute;
      left: 24.4rem;
      top: 3.9rem;
    }
    .vector-uc9 {
      vertical-align: top;
      width: 2.4rem;
      height: 2.25rem;
      position: absolute;
      left: 24.4rem;
      top: 17.9rem;
      object-fit: contain;
    }
    .vector-3yF {
      vertical-align: top;
      width: 2.4rem;
      height: 2.25rem;
      position: absolute;
      left: 44.5rem;
      top: 34.9rem;
      object-fit: contain;
    }
    .xx-xx-xx-zNh {
      width: 9.7rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      height: 2rem;
      position: absolute;
      left: 52.7rem;
      top: 4rem;
      line-height: 1.25;
      white-space: nowrap;
    }
    .xx-xx-xx-7TK {
      white-space: nowrap;
      width: 9.7rem;
      position: absolute;
      top: 18rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      height: 2rem;
      left: 52.7rem;
      line-height: 1.25;
    }
    .xx-xx-xx-Enq {
      top: 35rem;
      font-size: 1.6rem;
      color: #000000;
      white-space: nowrap;
      width: 9.7rem;
      position: absolute;
      left: 72.8rem;
      font-family: Lexend, 'Source Sans Pro';
      height: 2rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .the-simple-description-of-the-purchased-list-kmB {
      width: 42.1rem;
      height: 2.5rem;
      position: absolute;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
      left: 72.7rem;
      top: 3.7rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .the-simple-description-of-the-purchased-list-4Wy {
      width: 42.1rem;
      font-size: 2rem;
      top: 17.7rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      height: 2.5rem;
      position: absolute;
      left: 72.7rem;
      white-space: nowrap;
    }
    .the-simple-description-of-the-purchased-list-xsF {
      width: 42.1rem;
      top: 34.7rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      position: absolute;
      left: 92.8rem;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
    }
    .total-price-000-4fP {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 16.1rem;
      height: 2.5rem;
      position: absolute;
      top: 3.7rem;
      font-weight: 400;
      line-height: 1.25;
      left: 133.6rem;
      font-size: 2rem;
      white-space: nowrap;
    }
    .total-price-000-y1f {
      height: 2.5rem;
      left: 133.6rem;
      font-size: 2rem;
      line-height: 1.25;
      color: #000000;
      width: 16.1rem;
      position: absolute;
      top: 17.7rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .total-price-000-5Kb {
      left: 153.7rem;
      font-size: 2rem;
      line-height: 1.25;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 16.1rem;
      height: 2.5rem;
      position: absolute;
      top: 34.7rem;
    }
    .vector-P5P {
      left: 158.5rem;
      top: 3.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.6667rem;
      height: 2.5rem;
      position: absolute;
    }
    .vector-vb7 {
      left: 158.5rem;
      top: 17.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.6667rem;
      height: 2.5rem;
      position: absolute;
    }
    .vector-sWM {
      position: absolute;
      left: 178.6rem;
      top: 34.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.6667rem;
      height: 2.5rem;
    }
    .rectangle-131-D4R {
      width: 191.5rem;
      height: 54.9rem;
      position: absolute;
      left: 0;
      top: 5.8rem;
      background-color: #d3567c;
      border-radius: 5rem;
    }
    .quick-links-wm7 {
      width: 13.4rem;
      height: 3rem;
      position: absolute;
      left: 71rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      top: 14.5rem;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
    }
    .categories-rdB {
      position: absolute;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 12.7rem;
      height: 3rem;
      left: 105.1rem;
      top: 13.9rem;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
    }
    .customer-service-n13 {
      width: 21.3rem;
      height: 3rem;
      left: 138.5rem;
      color: #000000;
      position: absolute;
      top: 13.9rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .contact-us-6Gd {
      width: 12.8rem;
      height: 3rem;
      position: absolute;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      left: 138.5rem;
      top: 19.4rem;
      font-size: 2.4rem;
      line-height: 1.25;
      white-space: nowrap;
    }
    .about-us-oRw {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.7rem;
      height: 3rem;
      left: 138.5rem;
      position: absolute;
      top: 23.9rem;
      font-size: 2.4rem;
    }
    .logoab-removebg-preview-2-JtV {
      left: 4.1rem;
      top: 9.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 20rem;
      height: 2.9487rem;
      position: absolute;
    }
    .paul-wayne-haggerty-road-new-orleans-louisiana-T97 {
      height: 3rem;
      font-size: 2.4rem;
      white-space: nowrap;
      width: 66.6rem;
      left: 4.1rem;
      top: 20.9rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      position: absolute;
    }
    .daily-operating-hours-800am-to-800pm-9Gq {
      width: 68.6rem;
      height: 3rem;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      left: 4.4rem;
      top: 37.5rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
    }
    .rectangle-132-qfT {
      height: 12.9rem;
      position: absolute;
      left: 0;
      top: 47.8rem;
      background-color: #53a6bb;
      border-radius: 0 0 5rem 5rem;
      width: 191.5rem;
    }
    .home-xk5 {
      position: absolute;
      top: 19.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      width: 7rem;
      height: 3rem;
      left: 71rem;
      font-size: 2.4rem;
      font-family: Lexend, 'Source Sans Pro';
    }
    .home-living-t7w {
      height: 3rem;
      top: 19.4rem;
      line-height: 1.25;
      white-space: nowrap;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 17.2rem;
      position: absolute;
      left: 105.1rem;
      font-size: 2.4rem;
    }
    .fashion-PaV {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      font-weight: 400;
      left: 105.1rem;
      top: 23.9rem;
      font-size: 2.4rem;
      line-height: 1.25;
      width: 9.1rem;
      height: 3rem;
    }
    .groceries-JSZ {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.2rem;
      height: 3rem;
      top: 28.4rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      position: absolute;
      left: 105.1rem;
    }
    .electronics-R1P {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      height: 3rem;
      left: 105.1rem;
      top: 32.9rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      width: 12.6rem;
      position: absolute;
    }
    .beauty-jGy {
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      width: 9rem;
      left: 105.2rem;
      top: 37.4rem;
      font-family: Lexend, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      font-weight: 400;
    }
    .browse-products-eeq {
      height: 3rem;
      position: absolute;
      left: 71rem;
      top: 23.9rem;
      font-size: 2.4rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 19.5rem;
      line-height: 1.25;
      color: #000000;
      font-weight: 400;
    }
    .my-cart-YER {
      position: absolute;
      font-size: 2.4rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      width: 9.3rem;
      height: 3rem;
      left: 71rem;
      top: 28.4rem;
    }
    .my-activity-4Cm {
      height: 3rem;
      left: 71rem;
      font-size: 2.4rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 13.1rem;
      position: absolute;
      top: 32.9rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
    }
    .feedbacks-MxZ {
      top: 37.4rem;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      width: 12.6rem;
      height: 3rem;
      position: absolute;
      left: 71rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 400;
    }
    .vector-sR7 {
      height: 1.992rem;
      position: absolute;
      left: 162.1rem;
      top: 55.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
    }
    .vector-CTP {
      height: 1.9999rem;
      position: absolute;
      left: 166.4rem;
      top: 55.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
    }
    .vector-Y1T {
      height: 1.4rem;
      position: absolute;
      left: 170.7rem;
      top: 55.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
    }
    .vector-g7f {
      top: 55.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.99rem;
      height: 2rem;
      position: absolute;
      left: 175rem;
    }
    .vector-1Qq {
      position: absolute;
      left: 179.3rem;
      top: 55.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.092rem;
      height: 1.7rem;
    }
  }
}
