
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.paymentg-db3 {
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:c9037830b396352dcd7de2350db417116b128e98');
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0rem 0.3rem;
  overflow: hidden;
  position: relative;
  background-position: center;
  border-radius: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-rtns-LkM {
    margin: 0rem 0.9rem 33.9rem 0rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .rectangle-6-fGq {
      border-radius: 0.4rem;
      flex-shrink: 0;
      margin: 0.2rem 3.733rem 0rem 0rem;
      width: 11.2rem;
      height: 10rem;
      object-fit: cover;
      vertical-align: top;
    }
    .vector-m4y {
      margin: 0.4rem 97.567rem 0rem 0rem;
      width: 4rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-kg5r-HJD {
      font-weight: 400;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      width: 4.7rem;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 1rem;
      margin: 1.2rem 3.4rem 0rem 0rem;
      line-height: 1.25;
      height: 3.5rem;
      color: #000000;
    }
    .auto-group-p1hu-7o3 {
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      text-align: center;
      font-size: 1.6rem;
      white-space: nowrap;
      display: flex;
      color: #000000;
      align-items: center;
      flex-shrink: 0;
      margin: 1.2rem 3.5rem 0rem 0rem;
      height: 3.5rem;
      font-weight: 400;
      line-height: 1.25;
      width: 13.1rem;
      font-family: Lexend, 'Source Sans Pro';
    }
    .auto-group-dkmh-AmK {
      text-align: center;
      display: flex;
      align-items: center;
      width: 6.5rem;
      font-size: 1.6rem;
      color: #000000;
      white-space: nowrap;
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      margin: 1.2rem 3.2rem 0rem 0rem;
      font-weight: 400;
      height: 3.5rem;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.25;
    }
    .auto-group-bk3h-cdK {
      flex-shrink: 0;
      display: flex;
      height: 3.5rem;
      white-space: nowrap;
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      font-family: Lexend, 'Source Sans Pro';
      margin: 1.2rem 3.2rem 0rem 0rem;
      width: 8.8rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      align-items: center;
      border-radius: 1rem;
    }
    .auto-group-sfnt-4kD {
      margin: 1.2rem 13.8rem 0rem 0rem;
      width: 7.7rem;
      height: 3.5rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-107-CLd {
        position: absolute;
        left: 0.1rem;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        width: 7.5rem;
        height: 3.5rem;
      }
      .feedback-WcD {
        cursor: pointer;
        top: 0.6rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.7rem;
        height: 2rem;
        position: absolute;
        left: 0;
        text-align: center;
        line-height: 1.25;
      }
    }
    .ellipse-1-1Yy {
      width: 6rem;
      height: 6rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
    }
  }
  .pay-1-9fB {
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
    flex-shrink: 0;
    margin: 0rem 0.1rem 4.2rem 0rem;
    width: 60rem;
    height: 30rem;
  }
  .auto-group-zldh-fNd {
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    background-color: #d9d9d9;
    flex-shrink: 0;
    height: 4.4rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    width: calc(100% - 162.3rem);
    line-height: 1.25;
    font-weight: 400;
    color: #000000;
    border-radius: 2rem;
    margin: 0rem 81.3rem 41.1rem 81rem;
  }
  .auto-group-nc11-7Ed {
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d3567c;
    border-radius: 5rem;

    .auto-group-f6zz-fG9 {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 4.1rem 7.3rem 4.1rem;
      width: 100%;
      height: 42rem;
      align-items: center;
      display: flex;

      .logoab-removebg-preview-2-a8D {
        width: 20rem;
        height: 2.9487rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 163.3rem 1.851rem 0rem;
      }
      .auto-group-jkuw-HYR {
        margin: 0rem 27.6rem 1.9rem 66.9rem;
        width: calc(100% - 94.5rem);
        display: flex;
        column-gap: 20.7rem;
        align-items: flex-start;
        flex-shrink: 0;

        .quick-links-1DX {
          margin-top: 0.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .categories-jvD {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
        .customer-service-t2R {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
      }
      .auto-group-xxxu-cUD {
        margin-right: 36.1rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .paul-wayne-haggerty-road-new-orleans-louisiana-ZeM {
          margin: 1.5rem 0.3rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .home-sf3 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 27.1rem;
        }
        .home-living-1WM {
          margin-right: 16.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .contact-us-kTw {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-udtq-HCy {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 38.2rem 1.5rem 66.9rem;
        width: calc(100% - 105.1rem);
        display: flex;

        .browse-products-bzM {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .fashion-Xd7 {
          margin-right: 24.3rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .about-us-UHT {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .auto-group-zivp-DVw {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 71.1rem 1.5rem 66.9rem;
        width: calc(100% - 138rem);

        .my-cart-9eV {
          flex-shrink: 0;
          margin-right: 24.8rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
        .groceries-try {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
        }
      }
      .auto-group-wqk7-2iH {
        flex-shrink: 0;
        margin: 0rem 69.7rem 1.5rem 66.9rem;
        width: calc(100% - 136.6rem);
        display: flex;
        align-items: center;

        .my-activity-mQy {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 21rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        .electronics-i5K {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
      }
      .auto-group-xabu-3tH {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 73.2rem 0rem 0.3rem;
        width: calc(100% - 73.5rem);
        height: 3.1rem;

        .auto-group-rwlt-a7X {
          position: relative;
          flex-shrink: 0;
          margin-right: 21.6rem;
          width: 79.2rem;
          height: 100%;

          .daily-operating-hours-800am-to-800pm-vBP {
            height: 3rem;
            left: 0;
            top: 0.1rem;
            font-size: 2.4rem;
            font-weight: 400;
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            width: 68.6rem;
            position: absolute;
            line-height: 1.25;
            white-space: nowrap;
          }
          .feedbacks-Cub {
            width: 12.6rem;
            position: absolute;
            top: 0;
            line-height: 1.25;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            height: 3rem;
            left: 66.6rem;
            font-size: 2.4rem;
            font-weight: 400;
            color: #000000;
          }
        }
        .beauty-isw {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-z35v-TqX {
      width: 100%;
      height: 12.9rem;
      display: flex;
      border-radius: 0 0 5rem 5rem;
      box-sizing: border-box;
      padding: 7.5rem 10.108rem 3.4rem 162.1rem;
      align-items: center;
      background-color: #53a6bb;
      flex-shrink: 0;

      .vector-9yF {
        margin: 0rem 2.3rem 0.008rem 0rem;
        width: 2rem;
        height: 1.992rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-giH {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.3rem 0rem 0rem;
        width: 2rem;
        height: 1.9999rem;
        object-fit: contain;
      }
      .vector-21T {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 2rem;
        height: 1.4rem;
      }
      .vector-AtM {
        margin-right: 2.31rem;
        width: 1.99rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-iey {
        margin-top: 0.3rem;
        width: 2.092rem;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
