
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.product-managment-2-admin-fjT {
  width: 100%;
  height: 128rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  background-image: url('REPLACE_IMAGE:5f6b4243145aab55581c729f502960b086ce73bb');

  .auto-group-krgf-bND {
    position: absolute;
    left: 3.8rem;
    top: 14.1rem;
    display: flex;
    align-items: flex-end;
    width: 35.7667rem;
    height: 4.3rem;

    .hamburger-button-645 {
      align-items: center;
      display: flex;
      margin: 0rem 21.8rem 1.9rem 0rem;
      width: 3.2rem;
      cursor: pointer;
      overflow: hidden;
      flex-shrink: 0;
      position: relative;
      row-gap: 0.3rem;
      flex-direction: column;
      background-color: #61a993;

      .rectangle-87-nBo {
        width: 100%;
        height: 0.6rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .rectangle-88-8WZ {
        width: 100%;
        height: 0.6rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .rectangle-89-VM7 {
        height: 0.6rem;
        background-color: #000000;
        flex-shrink: 0;
        width: 100%;
      }
    }
    .add-item-37j {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.2rem 0.3rem 0rem;
      font-size: 1.5rem;
    }
    .vector-kXw {
      vertical-align: top;
      flex-shrink: 0;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
    }
  }
  .auto-group-plx3-hCH {
    box-sizing: border-box;
    padding: 0.6rem 2.067rem 0.675rem 52.6rem;
    background-color: #d9d9d9;
    border-radius: 2rem;
    top: 22.8rem;
    width: 58rem;
    height: 4.4rem;
    position: absolute;
    left: 28.8rem;

    .vector-C93 {
      width: 3.3333rem;
      height: 3.125rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-krrh-XBK {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 190.8rem;
    height: 10rem;

    .rectangle-6-rzH {
      border-radius: 0.4rem;
      flex-shrink: 0;
      width: 11.2rem;
      height: 10rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-l555-xXX {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.6rem 0rem 0.6rem 86.5rem;

      .auto-group-dfdd-2nH {
        justify-content: center;
        font-size: 1.6rem;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        height: 3.5rem;
        display: flex;
        line-height: 1.25;
        border-radius: 1rem;
        width: 5.9rem;
        align-items: center;
        font-weight: 400;
        flex-shrink: 0;
        margin: 0rem 2.3rem 2.7rem 0rem;
        white-space: nowrap;
      }
      .auto-group-zc7m-tpV {
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        flex-shrink: 0;
        margin: 0rem 2.3rem 2.7rem 0rem;
        height: 3.5rem;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        width: 18.2rem;
        color: #000000;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
      }
      .auto-group-q7vd-Njf {
        width: 18.3rem;
        color: #000000;
        margin: 0rem 2.3rem 2.7rem 0rem;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-family: Lexend, 'Source Sans Pro';
        line-height: 1.25;
        white-space: nowrap;
        border-radius: 1rem;
        flex-shrink: 0;
        height: 3.5rem;
        display: flex;
        font-weight: 400;
      }
      .auto-group-ceq9-dvV {
        width: 12.4rem;
        align-items: center;
        font-size: 1.6rem;
        font-family: Lexend, 'Source Sans Pro';
        border-radius: 1rem;
        margin: 0rem 2.3rem 2.7rem 0rem;
        height: 3.5rem;
        color: #000000;
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.25;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
      }
      .auto-group-6ayh-hvM {
        margin: 0rem 4.3rem 2.7rem 0rem;
        padding: 0.7rem 0.05rem 0.8rem 0.05rem;
        justify-content: center;
        color: #000000;
        box-sizing: border-box;
        display: flex;
        font-size: 1.6rem;
        flex-shrink: 0;
        align-items: center;
        font-weight: 400;
        line-height: 1.25;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        width: 18.8rem;
        border-radius: 1rem;
      }
      .ellipse-1-zY5 {
        border-radius: 3rem;
        flex-shrink: 0;
        margin-bottom: 2.8rem;
        width: 6rem;
        height: 6rem;
        background-color: #d9d9d9;
      }
    }
  }
  .auto-group-yczf-X2D {
    background-color: #d3567c;
    width: 191.5rem;
    left: 0.3rem;
    top: 124.4rem;
    align-items: center;
    display: flex;
    height: 54.9rem;
    position: absolute;
    flex-direction: column;
    border-radius: 5rem;

    .auto-group-2dyd-e6q {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 4.1rem 7.3rem 4.1rem;
      width: 100%;
      height: 42rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .logoab-removebg-preview-2-k9s {
        height: 2.9487rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 163.3rem 1.851rem 0rem;
        width: 20rem;
      }
      .auto-group-ywdz-4RT {
        margin: 0rem 27.6rem 1.9rem 66.9rem;
        width: calc(100% - 94.5rem);
        display: flex;
        column-gap: 20.7rem;
        align-items: flex-start;
        flex-shrink: 0;

        .quick-links-BFB {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        .categories-Vmf {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .customer-service-e8m {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
      .auto-group-ud2b-xfF {
        margin-right: 36.1rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .paul-wayne-haggerty-road-new-orleans-louisiana-JUD {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 1.5rem 0.3rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
        .home-biD {
          margin-right: 27.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .home-living-YNZ {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.2rem;
          font-size: 2.4rem;
        }
        .contact-us-5dP {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
      }
      .auto-group-hwgb-RSM {
        margin: 0rem 38.2rem 1.5rem 66.9rem;
        width: calc(100% - 105.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .browse-products-9NM {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .fashion-5Wu {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.3rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .about-us-pUV {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
        }
      }
      .auto-group-eca7-MzD {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 71.1rem 1.5rem 66.9rem;
        width: calc(100% - 138rem);
        display: flex;

        .my-cart-hHP {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.8rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        .groceries-qPb {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
      }
      .auto-group-n9k9-NPX {
        margin: 0rem 69.7rem 1.5rem 66.9rem;
        width: calc(100% - 136.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .my-activity-J2H {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 21rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
        .electronics-Rsb {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-g5th-Ziu {
        height: 3.1rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 73.2rem 0rem 0.3rem;
        width: calc(100% - 73.5rem);

        .auto-group-gouv-goX {
          position: relative;
          flex-shrink: 0;
          margin-right: 21.6rem;
          width: 79.2rem;
          height: 100%;

          .daily-operating-hours-800am-to-800pm-Rm7 {
            width: 68.6rem;
            height: 3rem;
            font-size: 2.4rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            position: absolute;
            left: 0;
            top: 0.1rem;
            line-height: 1.25;
            font-family: Lexend, 'Source Sans Pro';
          }
          .feedbacks-WnZ {
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            position: absolute;
            font-size: 2.4rem;
            line-height: 1.25;
            top: 0;
            font-weight: 400;
            white-space: nowrap;
            width: 12.6rem;
            height: 3rem;
            left: 66.6rem;
          }
        }
        .beauty-2F7 {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
        }
      }
    }
    .auto-group-clur-ZVw {
      padding: 7.5rem 10.108rem 3.4rem 162.1rem;
      width: 100%;
      align-items: center;
      background-color: #53a6bb;
      box-sizing: border-box;
      height: 12.9rem;
      display: flex;
      border-radius: 0 0 5rem 5rem;
      flex-shrink: 0;

      .vector-fos {
        margin: 0rem 2.3rem 0.008rem 0rem;
        width: 2rem;
        height: 1.992rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-CJ1 {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.3rem 0rem 0rem;
        width: 2rem;
        height: 1.9999rem;
        object-fit: contain;
      }
      .vector-in9 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 2rem;
        height: 1.4rem;
      }
      .vector-mkR {
        width: 1.99rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.31rem;
      }
      .vector-JVT {
        margin-top: 0.3rem;
        width: 2.092rem;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
