
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.product-managment-4-admin-6kD {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:5f6b4243145aab55581c729f502960b086ce73bb');
  border-radius: 3rem;
  height: 128rem;
  background-color: #ffffff;
  background-size: 100% 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  .auto-group-8keb-2Ny {
    align-items: flex-start;
    width: 41.1rem;
    height: 30rem;
    position: absolute;
    left: 54.2rem;
    top: 26.3rem;
    display: flex;

    .auto-group-mojs-9Tb {
      margin-right: 3.5rem;
      box-sizing: border-box;
      padding: 11.6rem 0.633rem 1.675rem 11rem;
      align-items: flex-end;
      background-color: #d9d9d9;
      flex-shrink: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 2rem;

      .vector-TDP {
        width: 8rem;
        height: 6.75rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 10.367rem 7.85rem 0rem;
      }
      .vector-mzm {
        width: 2.6667rem;
        height: 2.125rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .add-photo-5kZ {
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-wush-18R {
    height: 1.9rem;
    position: absolute;
    left: 54.2rem;
    top: 62.6rem;
    display: flex;
    align-items: center;
    width: 83.6rem;

    .item-name-7hF {
      flex-shrink: 0;
      margin-right: 12.4rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .rectangle-79-eSH {
      border-radius: 1rem;
      flex-shrink: 0;
      width: 63.1rem;
      height: 1.9rem;
      background-color: #d9d9d9;
    }
  }
  .auto-group-osfm-P8y {
    width: 83.6rem;
    height: 1.9rem;
    position: absolute;
    left: 54.2rem;
    top: 69.2rem;
    display: flex;
    align-items: center;

    .item-brand-iS9 {
      flex-shrink: 0;
      margin-right: 12.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .rectangle-81-rHT {
      background-color: #d9d9d9;
      border-radius: 1rem;
      flex-shrink: 0;
      width: 63.1rem;
      height: 1.9rem;
    }
  }
  .auto-group-1zu9-zPf {
    width: 48.6rem;
    height: 1.9rem;
    position: absolute;
    left: 54.2rem;
    top: 65.9rem;
    display: flex;
    align-items: center;

    .select-category-uWd {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 8.8rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .auto-group-qhdm-qQH {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.4rem 0.4rem 0.572rem 26.1rem;
      height: 100%;
      background-color: #d9d9d9;
      border-radius: 1rem;

      .vector-NQD {
        width: 1.6rem;
        height: 0.9275rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .auto-group-bjvm-hhP {
    height: 1.9rem;
    position: absolute;
    left: 54.2rem;
    top: 72.5rem;
    display: flex;
    align-items: center;
    width: 83.6rem;

    .serial-number-qHo {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10rem;
      font-size: 1.5rem;
    }
    .rectangle-82-ZzV {
      width: 63.1rem;
      height: 1.9rem;
      background-color: #d9d9d9;
      border-radius: 1rem;
      flex-shrink: 0;
    }
  }
  .auto-group-c2zf-6zR {
    position: absolute;
    left: 54.2rem;
    top: 75.8rem;
    display: flex;
    align-items: center;
    width: 83.6rem;
    height: 1.9rem;

    .price-dUZ {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 16.8rem;
      font-size: 1.5rem;
    }
    .rectangle-83-Zd7 {
      height: 1.9rem;
      background-color: #d9d9d9;
      border-radius: 1rem;
      flex-shrink: 0;
      width: 63.1rem;
    }
  }
  .auto-group-w93h-WHT {
    align-items: flex-start;
    width: 83.6rem;
    height: 16.5rem;
    position: absolute;
    left: 54.2rem;
    top: 79.1rem;
    display: flex;

    .small-description-qad {
      margin-right: 7.7rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .rectangle-84-yRw {
      height: 16.5rem;
      background-color: #d9d9d9;
      border-radius: 1rem;
      flex-shrink: 0;
      width: 63.1rem;
    }
  }
  .auto-group-9so5-KVo {
    padding: 1.2rem 11.1rem 1.3rem 8.9rem;
    width: 29.2rem;
    background-color: #d9d9d9;
    border-radius: 2rem;
    align-items: center;
    box-sizing: border-box;
    height: 4.4rem;
    position: absolute;
    left: 87.6rem;
    top: 97.3rem;
    display: flex;

    .vector-bTK {
      height: 1.75rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.05rem 0.433rem 0rem 0rem;
      width: 1.8667rem;
    }
    .add-item-WaH {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-eurw-eAh {
    position: absolute;
    left: 0.4rem;
    top: 0.6rem;
    display: flex;
    align-items: flex-start;
    width: 190.4rem;
    height: 10.2rem;

    .rectangle-6-APw {
      flex-shrink: 0;
      margin: 0.2rem 86.1rem 0rem 0rem;
      width: 11.2rem;
      height: 10rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.4rem;
    }
    .auto-group-xrcb-sp9 {
      font-size: 1.6rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.9rem;
      height: 3.5rem;
      align-items: center;
      font-weight: 400;
      border-radius: 1rem;
      justify-content: center;
      color: #000000;
      margin: 1.3rem 2.3rem 0rem 0rem;
      display: flex;
      flex-shrink: 0;
    }
    .auto-group-3oxq-Y9b {
      height: 3.5rem;
      font-weight: 400;
      line-height: 1.25;
      width: 18.2rem;
      font-family: Lexend, 'Source Sans Pro';
      border-radius: 1rem;
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      margin: 1.3rem 2.3rem 0rem 0rem;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      justify-content: center;
    }
    .auto-group-dmzm-orD {
      display: flex;
      font-weight: 400;
      margin: 1.3rem 2.3rem 0rem 0rem;
      width: 18.3rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      justify-content: center;
      font-size: 1.6rem;
      border-radius: 1rem;
      height: 3.5rem;
      align-items: center;
      color: #000000;
    }
    .auto-group-hhdd-g9K {
      white-space: nowrap;
      border-radius: 1rem;
      width: 12.4rem;
      align-items: center;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      font-weight: 400;
      flex-shrink: 0;
      font-size: 1.6rem;
      color: #000000;
      margin: 1.3rem 2.3rem 0rem 0rem;
      height: 3.5rem;
      display: flex;
      justify-content: center;
    }
    .auto-group-ffud-wqw {
      margin: 0rem 4.3rem 4.1rem 0rem;
      font-weight: 400;
      color: #000000;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 18.8rem;
      align-items: center;
      white-space: nowrap;
      border-radius: 1rem;
      padding: 0.7rem 0.05rem 0.8rem 0.05rem;
      justify-content: center;
      font-family: Lexend, 'Source Sans Pro';
      display: flex;
      font-size: 1.6rem;
      line-height: 1.25;
    }
    .ellipse-1-PC9 {
      height: 6rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
      width: 6rem;
    }
  }
  .hamburger-button-89j {
    cursor: pointer;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background-color: #61a993;
    width: 3.2rem;
    height: 2.4rem;
    overflow: hidden;
    row-gap: 0.3rem;
    display: flex;
    left: 3.8rem;
    top: 14.1rem;

    .rectangle-87-dMP {
      width: 100%;
      height: 0.6rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .rectangle-88-yg9 {
      height: 0.6rem;
      background-color: #000000;
      flex-shrink: 0;
      width: 100%;
    }
    .rectangle-89-XSm {
      width: 100%;
      height: 0.6rem;
      background-color: #000000;
      flex-shrink: 0;
    }
  }
  .auto-group-266w-fos {
    background-color: #d3567c;
    border-radius: 5rem;
    width: 191.5rem;
    height: 54.9rem;
    left: 0.3rem;
    top: 124.4rem;
    align-items: center;
    flex-direction: column;
    position: absolute;
    display: flex;

    .auto-group-uz4p-zbF {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 4.1rem 7.3rem 4.1rem;
      width: 100%;
      height: 42rem;
      align-items: center;

      .logoab-removebg-preview-2-WJh {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 163.3rem 1.851rem 0rem;
        width: 20rem;
        height: 2.9487rem;
      }
      .auto-group-opx3-csX {
        width: calc(100% - 94.5rem);
        display: flex;
        column-gap: 20.7rem;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 27.6rem 1.9rem 66.9rem;

        .quick-links-621 {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.6rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .categories-ox1 {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        .customer-service-MCq {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .auto-group-8w15-VK3 {
        margin-right: 36.1rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .paul-wayne-haggerty-road-new-orleans-louisiana-qdo {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 1.5rem 0.3rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        .home-wwj {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 27.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
        .home-living-hAD {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.2rem;
          font-size: 2.4rem;
        }
        .contact-us-dZf {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-aqmm-ZCR {
        flex-shrink: 0;
        margin: 0rem 38.2rem 1.5rem 66.9rem;
        width: calc(100% - 105.1rem);
        display: flex;
        align-items: center;

        .browse-products-HPK {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        .fashion-p8M {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.3rem;
        }
        .about-us-kXo {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
      .auto-group-r9sq-Uyb {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 71.1rem 1.5rem 66.9rem;
        width: calc(100% - 138rem);
        display: flex;

        .my-cart-DgH {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.8rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .groceries-ZVF {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
      .auto-group-1soq-W9b {
        margin: 0rem 69.7rem 1.5rem 66.9rem;
        width: calc(100% - 136.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .my-activity-RnM {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 21rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .electronics-Zdf {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
      }
      .auto-group-2cfd-6tV {
        margin: 0rem 73.2rem 0rem 0.3rem;
        width: calc(100% - 73.5rem);
        height: 3.1rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-1kmq-dNd {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 21.6rem;
          width: 79.2rem;

          .daily-operating-hours-800am-to-800pm-BQ9 {
            left: 0;
            font-size: 2.4rem;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            width: 68.6rem;
            position: absolute;
            font-weight: 400;
            line-height: 1.25;
            color: #000000;
            height: 3rem;
            top: 0.1rem;
          }
          .feedbacks-GAh {
            height: 3rem;
            position: absolute;
            top: 0;
            font-weight: 400;
            line-height: 1.25;
            white-space: nowrap;
            width: 12.6rem;
            left: 66.6rem;
            font-size: 2.4rem;
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
          }
        }
        .beauty-yau {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-ntd9-Emj {
      box-sizing: border-box;
      height: 12.9rem;
      align-items: center;
      background-color: #53a6bb;
      flex-shrink: 0;
      padding: 7.5rem 10.108rem 3.4rem 162.1rem;
      width: 100%;
      display: flex;
      border-radius: 0 0 5rem 5rem;

      .vector-YnR {
        margin: 0rem 2.3rem 0.008rem 0rem;
        width: 2rem;
        height: 1.992rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-GyK {
        margin: 0rem 2.3rem 0rem 0rem;
        width: 2rem;
        height: 1.9999rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-1R7 {
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 2rem;
        height: 1.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-kNh {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.31rem;
        width: 1.99rem;
        height: 2rem;
        object-fit: contain;
      }
      .vector-h33 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.3rem;
        width: 2.092rem;
        height: 1.7rem;
      }
    }
  }
}
