
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.browse-product-user-34y {
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0rem 0.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/browse-product-user-bg.png');
  border-radius: 3rem;
}
.browse-product-user-34y .auto-group-mvdd-KHP {
  margin: 0rem 0.9rem 5.3rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-mvdd-KHP .rectangle-6-dYy {
  margin: 0.2rem 106.6rem 0rem 0rem;
  width: 11.2rem;
  height: 10rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-mvdd-KHP .auto-group-bfrb-vny {
  margin: 1.2rem 2.4rem 0rem 0rem;
  width: 4.7rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-mvdd-KHP .frame-3-YZT {
  margin: 1.2rem 2.5rem 0rem 0rem;
  width: 13.7rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.1000000015);
  border-radius: 1rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-mvdd-KHP .auto-group-s1ky-Aqj {
  margin: 1.2rem 3.2rem 0rem 0rem;
  width: 6.5rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-mvdd-KHP .auto-group-4kyt-1LZ {
  margin: 1.2rem 3.2rem 0rem 0rem;
  width: 8.8rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-mvdd-KHP .auto-group-furm-TTT {
  margin: 1.2rem 13.9rem 0rem 0rem;
  width: 7.7rem;
  height: 3.5rem;
  position: relative;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-mvdd-KHP .auto-group-furm-TTT .rectangle-107-B8Z {
  width: 7.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.browse-product-user-34y .auto-group-mvdd-KHP .auto-group-furm-TTT .feedback-gr1 {
  width: 7.7rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.browse-product-user-34y .auto-group-mvdd-KHP .ellipse-1-ne9 {
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
  flex-shrink: 0;
}
.browse-product-user-34y .hamburger-button-8T7 {
  margin: 0rem 184.5rem 17.2rem 0rem;
  width: 3.2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  row-gap: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #61a993;
  flex-shrink: 0;
}
.browse-product-user-34y .hamburger-button-8T7 .rectangle-87-EW9 {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.browse-product-user-34y .hamburger-button-8T7 .rectangle-88-xS9 {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.browse-product-user-34y .hamburger-button-8T7 .rectangle-89-K1o {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-z9ab-rnR {
  margin: 0rem 66.8rem 14.9rem 66.7rem;
  box-sizing: border-box;
  padding: 0.6rem 1.067rem 0.675rem 53.6rem;
  width: calc(100% - 133.5rem);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-z9ab-rnR .vector-MjB {
  width: 3.3333rem;
  height: 3.125rem;
  object-fit: contain;
  vertical-align: top;
}
.browse-product-user-34y .auto-group-herw-5v5 {
  margin: 0rem 30.6rem 51.5rem 30.4rem;
  width: calc(100% - 61rem);
  height: 17.9rem;
  display: flex;
  column-gap: 9.5rem;
  align-items: center;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-6gyq-zGM {
  margin-top: 0.3rem;
  width: 18.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-6gyq-zGM .rectangle-36-vfo {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 15.1rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-36-bg-BGh.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-6gyq-zGM .home-living-3VX {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-qdeb-yPB {
  margin: 0.3rem 0rem 0.5rem 0rem;
  width: 18.5rem;
  height: calc(100% - 0.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-qdeb-yPB .rectangle-7-JAZ {
  width: 100%;
  height: 15.1rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-7-bg.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-qdeb-yPB .fashion-qAV {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-gyt9-ZcH {
  margin-bottom: 0.5rem;
  width: 18.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-gyt9-ZcH .rectangle-35-K5f {
  margin-bottom: 0.3rem;
  width: 100%;
  height: 15.1rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-35-bg.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-gyt9-ZcH .groceries-cKf {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-zkmu-wsj {
  margin: 0.4rem 0;
  width: 18.5rem;
  height: calc(100% - 0.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-zkmu-wsj .rectangle-33-Ucm {
  width: 100%;
  height: 15.1rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-33-bg.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-zkmu-wsj .electronics-cDB {
  margin-left: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-q5fh-Y6q {
  margin: 0.4rem 0;
  width: 18.5rem;
  height: calc(100% - 0.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-q5fh-Y6q .rectangle-34-gD3 {
  width: 100%;
  height: 15.1rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-34-bg.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-herw-5v5 .auto-group-q5fh-Y6q .beauty-ooT {
  margin-right: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d3567c;
  border-radius: 5rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s {
  box-sizing: border-box;
  padding: 3.3rem 4.1rem 7.3rem 4.1rem;
  width: 100%;
  height: 42rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .logoab-removebg-preview-2-18q {
  margin: 0rem 163.3rem 1.851rem 0rem;
  width: 20rem;
  height: 2.9487rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-wxf1-uk1 {
  margin: 0rem 27.6rem 1.9rem 66.9rem;
  width: calc(100% - 94.5rem);
  display: flex;
  column-gap: 20.7rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-wxf1-uk1 .quick-links-1o3 {
  margin-top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-wxf1-uk1 .categories-Yny {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-wxf1-uk1 .customer-service-hA5 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-wq9u-q1P {
  margin-right: 36.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-wq9u-q1P .paul-wayne-haggerty-road-new-orleans-louisiana-o6d {
  margin: 1.5rem 0.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-wq9u-q1P .home-H1o {
  margin-right: 27.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-wq9u-q1P .home-living-1Tb {
  margin-right: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-wq9u-q1P .contact-us-YiR {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-pjzh-Hg1 {
  margin: 0rem 38.2rem 1.5rem 66.9rem;
  width: calc(100% - 105.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-pjzh-Hg1 .browse-products-ouF {
  margin-right: 14.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-pjzh-Hg1 .fashion-YM3 {
  margin-right: 24.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-pjzh-Hg1 .about-us-gTF {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-oczy-Di5 {
  margin: 0rem 71.1rem 1.5rem 66.9rem;
  width: calc(100% - 138rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-oczy-Di5 .my-cart-9rd {
  margin-right: 24.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-oczy-Di5 .groceries-Vfb {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-nkap-pSy {
  margin: 0rem 69.7rem 1.5rem 66.9rem;
  width: calc(100% - 136.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-nkap-pSy .my-activity-9k9 {
  margin-right: 21rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-nkap-pSy .electronics-V3K {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-ugzq-pbP {
  margin: 0rem 73.2rem 0rem 0.3rem;
  width: calc(100% - 73.5rem);
  height: 3.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-ugzq-pbP .auto-group-tpg3-LZj {
  margin-right: 21.6rem;
  width: 79.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-ugzq-pbP .auto-group-tpg3-LZj .daily-operating-hours-800am-to-800pm-gdb {
  width: 68.6rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-ugzq-pbP .auto-group-tpg3-LZj .feedbacks-xLD {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 66.6rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-mdnb-61s .auto-group-ugzq-pbP .beauty-sCH {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-bmr5-PwK {
  box-sizing: border-box;
  padding: 7.5rem 10.108rem 3.4rem 162.1rem;
  width: 100%;
  height: 12.9rem;
  display: flex;
  align-items: center;
  background-color: #53a6bb;
  border-radius: 0 0 5rem 5rem;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-bmr5-PwK .vector-hx1 {
  margin: 0rem 2.3rem 0.008rem 0rem;
  width: 2rem;
  height: 1.992rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-bmr5-PwK .vector-ES9 {
  margin: 0rem 2.3rem 0rem 0rem;
  width: 2rem;
  height: 1.9999rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-bmr5-PwK .vector-ZjK {
  margin-right: 2.3rem;
  width: 2rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-bmr5-PwK .vector-WeZ {
  margin-right: 2.31rem;
  width: 1.99rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.browse-product-user-34y .auto-group-qfjb-XjT .auto-group-bmr5-PwK .vector-fXT {
  margin-top: 0.3rem;
  width: 2.092rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
