
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 82.1rem;
}.component-5-zBP {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.component-5-zBP .property-1frame-26-82h {
  margin-bottom: 3.3rem;
  box-sizing: border-box;
  padding: 12.2rem 9rem 12.2rem 9.1rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-5-zBP .property-1frame-26-82h .ellipse-2-emj {
  width: 100%;
  height: 60rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2-bg-3HF.png');
  border-radius: 30rem;
}
.component-5-zBP .property-1frame-27-z4u {
  margin-bottom: 3.3rem;
  box-sizing: border-box;
  padding: 12.2rem 9rem 12.2rem 9.1rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-5-zBP .property-1frame-27-z4u .ellipse-2-7fK {
  width: 100%;
  height: 60rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2-bg-V1X.png');
  border-radius: 30rem;
}
.component-5-zBP .property-1frame-28-TDP {
  margin-bottom: 6.4rem;
  box-sizing: border-box;
  padding: 12.2rem 9rem 12.2rem 9.1rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-5-zBP .property-1frame-28-TDP .ellipse-2-nWZ {
  width: 100%;
  height: 60rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2-bg-JNh.png');
  border-radius: 30rem;
}
.component-5-zBP .property-1frame-29-Xyw {
  margin-bottom: 6.4rem;
  box-sizing: border-box;
  padding: 12.2rem 9rem 12.2rem 9.1rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-5-zBP .property-1frame-29-Xyw .ellipse-2-faM {
  width: 100%;
  height: 60rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2-bg-P8Z.png');
  border-radius: 30rem;
}
.component-5-zBP .property-1frame-30-Qnq {
  margin-bottom: 6.4rem;
  box-sizing: border-box;
  padding: 12.2rem 9rem 12.2rem 9.1rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-5-zBP .property-1frame-30-Qnq .ellipse-2-YPF {
  width: 100%;
  height: 60rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2-bg-i2H.png');
  border-radius: 30rem;
}
.component-5-zBP .property-1frame-31-tT7 {
  box-sizing: border-box;
  padding: 12.2rem 9rem 12.2rem 9.1rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.component-5-zBP .property-1frame-31-tT7 .ellipse-2-dQh {
  width: 100%;
  height: 60rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2-bg-hSD.png');
  border-radius: 30rem;
}
