
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.my-activity-ZNV {
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0rem 0.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/my-activity-bg.png');
  border-radius: 3rem;
}
.my-activity-ZNV .auto-group-j3mv-fRX {
  margin: 0rem 0.9rem 9.8rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-j3mv-fRX .auto-group-x8rz-aoP {
  margin: 0.2rem 102.5rem 0rem 0rem;
  width: 14rem;
  height: 10rem;
  position: relative;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-j3mv-fRX .auto-group-x8rz-aoP .hamburger-button-uqf {
  width: 3.2rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 10.8rem;
  top: 0.5rem;
  overflow: hidden;
  row-gap: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #61a993;
}
.my-activity-ZNV .auto-group-j3mv-fRX .auto-group-x8rz-aoP .hamburger-button-uqf .rectangle-87-QnR {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-j3mv-fRX .auto-group-x8rz-aoP .hamburger-button-uqf .rectangle-88-AFo {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-j3mv-fRX .auto-group-x8rz-aoP .hamburger-button-uqf .rectangle-89-7Rw {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-j3mv-fRX .auto-group-x8rz-aoP .rectangle-6-ruK {
  width: 11.2rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
}
.my-activity-ZNV .auto-group-j3mv-fRX .auto-group-xs1m-Ncm {
  margin: 1.2rem 3.4rem 0rem 0rem;
  width: 4.7rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-j3mv-fRX .auto-group-sq1h-oxy {
  margin: 1.2rem 3.5rem 0rem 0rem;
  width: 13.1rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-j3mv-fRX .auto-group-wk5z-4tu {
  margin: 1.2rem 2.5rem 0rem 0rem;
  width: 6.5rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-j3mv-fRX .frame-3-wC1 {
  margin: 1.2rem 2.5rem 0rem 0rem;
  width: 9rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.1000000015);
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-j3mv-fRX .auto-group-cw4j-ZjB {
  margin: 1.2rem 15rem 0rem 0rem;
  width: 7.7rem;
  height: 3.5rem;
  position: relative;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-j3mv-fRX .auto-group-cw4j-ZjB .rectangle-107-tWZ {
  width: 7.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.my-activity-ZNV .auto-group-j3mv-fRX .auto-group-cw4j-ZjB .feedback-15P {
  width: 7.7rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-j3mv-fRX .ellipse-1-ugZ {
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-cg7d-rLu {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-cg7d-rLu .vector-A6h {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-cg7d-rLu .auto-group-ph2j-5jT {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-cg7d-rLu .xx-xx-xx-MS5 {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-cg7d-rLu .the-simple-description-of-the-purchased-list-V2V {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-cg7d-rLu .total-price-000-bbK {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-cg7d-rLu .vector-KXK {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-p13r-fLH {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-p13r-fLH .vector-ZgZ {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-p13r-fLH .auto-group-7pfm-J8M {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-p13r-fLH .xx-xx-xx-aLm {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-p13r-fLH .the-simple-description-of-the-purchased-list-uP3 {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-p13r-fLH .total-price-000-1S5 {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-p13r-fLH .vector-XQR {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rvpb-rxV {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rvpb-rxV .vector-yXK {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rvpb-rxV .auto-group-cmkr-WXF {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rvpb-rxV .xx-xx-xx-Q6q {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rvpb-rxV .the-simple-description-of-the-purchased-list-jeu {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rvpb-rxV .total-price-000-qhw {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rvpb-rxV .vector-Zdw {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rfvb-i13 {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rfvb-i13 .vector-DyP {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rfvb-i13 .auto-group-wkvm-ANq {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rfvb-i13 .xx-xx-xx-FfB {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rfvb-i13 .the-simple-description-of-the-purchased-list-ahT {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rfvb-i13 .total-price-000-VpR {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-rfvb-i13 .vector-Ri5 {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-6szy-a5B {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-6szy-a5B .vector-63X {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-6szy-a5B .auto-group-2hvu-RLh {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-6szy-a5B .xx-xx-xx-uWm {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-6szy-a5B .the-simple-description-of-the-purchased-list-3cy {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-6szy-a5B .total-price-000-MtZ {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-6szy-a5B .vector-HnD {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-ypkd-qYq {
  margin: 0rem 30.333rem 4rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-ypkd-qYq .vector-wLy {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-ypkd-qYq .auto-group-1hdd-Ge9 {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-ypkd-qYq .xx-xx-xx-xG5 {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-ypkd-qYq .the-simple-description-of-the-purchased-list-67P {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-ypkd-qYq .total-price-000-QNy {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-ypkd-qYq .vector-XTb {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-wobz-GRB {
  margin: 0rem 30.333rem 9.8rem 24.4rem;
  width: calc(100% - 54.7333rem);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-wobz-GRB .vector-awf {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-wobz-GRB .auto-group-yg59-iny {
  margin-right: 8.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-wobz-GRB .xx-xx-xx-1n5 {
  margin-right: 10.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-wobz-GRB .the-simple-description-of-the-purchased-list-ZHo {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-wobz-GRB .total-price-000-4VT {
  margin: 0rem 8.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-wobz-GRB .vector-nwF {
  margin-bottom: 0.1rem;
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-evqb-YQd {
  width: 100%;
  height: 54.9rem;
  position: relative;
  flex-shrink: 0;
}
.my-activity-ZNV .auto-group-evqb-YQd .item-no1-GbX {
  width: 5.3rem;
  height: 1.5rem;
  position: absolute;
  left: 55.9rem;
  top: 33.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .rectangle-131-NeZ {
  width: 191.5rem;
  height: 54.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d3567c;
  border-radius: 5rem;
}
.my-activity-ZNV .auto-group-evqb-YQd .quick-links-ueV {
  width: 13.4rem;
  height: 3rem;
  position: absolute;
  left: 71rem;
  top: 8.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .categories-D9P {
  width: 12.7rem;
  height: 3rem;
  position: absolute;
  left: 105.1rem;
  top: 8.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .customer-service-j7j {
  width: 21.3rem;
  height: 3rem;
  position: absolute;
  left: 138.5rem;
  top: 8.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .contact-us-dyo {
  width: 12.8rem;
  height: 3rem;
  position: absolute;
  left: 138.5rem;
  top: 13.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .about-us-9hF {
  width: 10.7rem;
  height: 3rem;
  position: absolute;
  left: 138.5rem;
  top: 18.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .logoab-removebg-preview-2-fQh {
  width: 20rem;
  height: 2.9487rem;
  position: absolute;
  left: 4.1rem;
  top: 3.3rem;
  object-fit: cover;
  vertical-align: top;
}
.my-activity-ZNV .auto-group-evqb-YQd .paul-wayne-haggerty-road-new-orleans-louisiana-myX {
  width: 66.6rem;
  height: 3rem;
  position: absolute;
  left: 4.1rem;
  top: 15.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .daily-operating-hours-800am-to-800pm-Fth {
  width: 68.6rem;
  height: 3rem;
  position: absolute;
  left: 4.4rem;
  top: 31.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .rectangle-132-kKf {
  width: 191.5rem;
  height: 12.9rem;
  position: absolute;
  left: 0;
  top: 42rem;
  background-color: #53a6bb;
  border-radius: 0 0 5rem 5rem;
}
.my-activity-ZNV .auto-group-evqb-YQd .home-GJ1 {
  width: 7rem;
  height: 3rem;
  position: absolute;
  left: 71rem;
  top: 13.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .home-living-nGM {
  width: 17.2rem;
  height: 3rem;
  position: absolute;
  left: 105.1rem;
  top: 13.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .fashion-6H3 {
  width: 9.1rem;
  height: 3rem;
  position: absolute;
  left: 105.1rem;
  top: 18.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .groceries-bzV {
  width: 11.2rem;
  height: 3rem;
  position: absolute;
  left: 105.1rem;
  top: 22.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .electronics-ukH {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 105.1rem;
  top: 27.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .beauty-Dky {
  width: 9rem;
  height: 3rem;
  position: absolute;
  left: 105.2rem;
  top: 31.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .browse-products-wBB {
  width: 19.5rem;
  height: 3rem;
  position: absolute;
  left: 71rem;
  top: 18.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .my-cart-Sdj {
  width: 9.3rem;
  height: 3rem;
  position: absolute;
  left: 71rem;
  top: 22.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .my-activity-xMB {
  width: 13.1rem;
  height: 3rem;
  position: absolute;
  left: 71rem;
  top: 27.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .feedbacks-4v1 {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 71rem;
  top: 31.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.my-activity-ZNV .auto-group-evqb-YQd .vector-Bjj {
  width: 2rem;
  height: 1.992rem;
  position: absolute;
  left: 162.1rem;
  top: 49.5rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-ZNV .auto-group-evqb-YQd .vector-X2u {
  width: 2rem;
  height: 1.9999rem;
  position: absolute;
  left: 166.4rem;
  top: 49.5rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-ZNV .auto-group-evqb-YQd .vector-TSM {
  width: 2rem;
  height: 1.4rem;
  position: absolute;
  left: 170.7rem;
  top: 49.8rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-ZNV .auto-group-evqb-YQd .vector-Pqo {
  width: 1.99rem;
  height: 2rem;
  position: absolute;
  left: 175rem;
  top: 49.5rem;
  object-fit: contain;
  vertical-align: top;
}
.my-activity-ZNV .auto-group-evqb-YQd .vector-Lm3 {
  width: 2.092rem;
  height: 1.7rem;
  position: absolute;
  left: 179.3rem;
  top: 49.8rem;
  object-fit: contain;
  vertical-align: top;
}
