
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.order-managment-admin-zYM {
  width: 100%;
  height: 128rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/order-managment-admin-bg.png');
  border-radius: 3rem;
}
.order-managment-admin-zYM .auto-group-9acb-L6R {
  box-sizing: border-box;
  padding: 0.6rem 1.167rem 0.675rem 53.5rem;
  width: 58rem;
  height: 4.4rem;
  position: absolute;
  left: 28.8rem;
  top: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.order-managment-admin-zYM .auto-group-9acb-L6R .vector-2V3 {
  width: 3.3333rem;
  height: 3.125rem;
  object-fit: contain;
  vertical-align: top;
}
.order-managment-admin-zYM .auto-group-gikj-x7o {
  width: 190.8rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.order-managment-admin-zYM .auto-group-gikj-x7o .rectangle-6-VNd {
  width: 11.2rem;
  height: 10rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-gikj-x7o .auto-group-kfxh-27f {
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.6rem 86.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-gikj-x7o .auto-group-kfxh-27f .auto-group-28jf-XaD {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 5.9rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-gikj-x7o .auto-group-kfxh-27f .auto-group-esx9-nm3 {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 18.2rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-gikj-x7o .auto-group-kfxh-27f .auto-group-qr2s-fK3 {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 18.3rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-gikj-x7o .auto-group-kfxh-27f .auto-group-tmcx-w1f {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 12.4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-gikj-x7o .auto-group-kfxh-27f .auto-group-jx5u-Qvq {
  margin: 0rem 4.3rem 2.7rem 0rem;
  box-sizing: border-box;
  padding: 0.7rem 0.05rem 0.8rem 0.05rem;
  width: 18.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-gikj-x7o .auto-group-kfxh-27f .ellipse-1-fLy {
  margin-bottom: 2.8rem;
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
  flex-shrink: 0;
}
.order-managment-admin-zYM .hamburger-button-yMf {
  width: 3.2rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 3.8rem;
  top: 14.1rem;
  overflow: hidden;
  row-gap: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #61a993;
}
.order-managment-admin-zYM .hamburger-button-yMf .rectangle-87-rgM {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.order-managment-admin-zYM .hamburger-button-yMf .rectangle-88-13T {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.order-managment-admin-zYM .hamburger-button-yMf .rectangle-89-xUV {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 {
  width: 191.5rem;
  height: 54.9rem;
  position: absolute;
  left: 0.3rem;
  top: 124.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d3567c;
  border-radius: 5rem;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m {
  box-sizing: border-box;
  padding: 3.3rem 4.1rem 7.3rem 4.1rem;
  width: 100%;
  height: 42rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .logoab-removebg-preview-2-9os {
  margin: 0rem 163.3rem 1.851rem 0rem;
  width: 20rem;
  height: 2.9487rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-h9yx-ryB {
  margin: 0rem 27.6rem 1.9rem 66.9rem;
  width: calc(100% - 94.5rem);
  display: flex;
  column-gap: 20.7rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-h9yx-ryB .quick-links-BEm {
  margin-top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-h9yx-ryB .categories-WH3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-h9yx-ryB .customer-service-ePF {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-qflf-aXo {
  margin-right: 36.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-qflf-aXo .paul-wayne-haggerty-road-new-orleans-louisiana-KVP {
  margin: 1.5rem 0.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-qflf-aXo .home-Dam {
  margin-right: 27.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-qflf-aXo .home-living-wFs {
  margin-right: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-qflf-aXo .contact-us-UFo {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-7ld1-1Wd {
  margin: 0rem 38.2rem 1.5rem 66.9rem;
  width: calc(100% - 105.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-7ld1-1Wd .browse-products-w9P {
  margin-right: 14.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-7ld1-1Wd .fashion-4zh {
  margin-right: 24.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-7ld1-1Wd .about-us-oxH {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-g3gx-wob {
  margin: 0rem 71.1rem 1.5rem 66.9rem;
  width: calc(100% - 138rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-g3gx-wob .my-cart-sx9 {
  margin-right: 24.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-g3gx-wob .groceries-2KF {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-9xuh-AAZ {
  margin: 0rem 69.7rem 1.5rem 66.9rem;
  width: calc(100% - 136.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-9xuh-AAZ .my-activity-Hky {
  margin-right: 21rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-9xuh-AAZ .electronics-dK3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-k5yu-Apm {
  margin: 0rem 73.2rem 0rem 0.3rem;
  width: calc(100% - 73.5rem);
  height: 3.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-k5yu-Apm .auto-group-6dqd-tkm {
  margin-right: 21.6rem;
  width: 79.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-k5yu-Apm .auto-group-6dqd-tkm .daily-operating-hours-800am-to-800pm-qR7 {
  width: 68.6rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-k5yu-Apm .auto-group-6dqd-tkm .feedbacks-iUu {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 66.6rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-tpa7-S8m .auto-group-k5yu-Apm .beauty-q3j {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-lysv-Mnm {
  box-sizing: border-box;
  padding: 7.5rem 10.108rem 3.4rem 162.1rem;
  width: 100%;
  height: 12.9rem;
  display: flex;
  align-items: center;
  background-color: #53a6bb;
  border-radius: 0 0 5rem 5rem;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-lysv-Mnm .vector-UMb {
  margin: 0rem 2.3rem 0.008rem 0rem;
  width: 2rem;
  height: 1.992rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-lysv-Mnm .vector-o8y {
  margin: 0rem 2.3rem 0rem 0rem;
  width: 2rem;
  height: 1.9999rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-lysv-Mnm .vector-7fT {
  margin-right: 2.3rem;
  width: 2rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-lysv-Mnm .vector-fBB {
  margin-right: 2.31rem;
  width: 1.99rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-zYM .auto-group-b36b-WF7 .auto-group-lysv-Mnm .vector-o2V {
  margin-top: 0.3rem;
  width: 2.092rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
