
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.order-managment-admin-toF {
  width: 100%;
  height: 128rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/order-managment-admin-bg-AYM.png');
  border-radius: 3rem;
}
.order-managment-admin-toF .auto-group-bed9-1ss {
  box-sizing: border-box;
  padding: 0.6rem 1.167rem 0.675rem 53.5rem;
  width: 58rem;
  height: 4.4rem;
  position: absolute;
  left: 28.8rem;
  top: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.order-managment-admin-toF .auto-group-bed9-1ss .vector-7R7 {
  width: 3.3333rem;
  height: 3.125rem;
  object-fit: contain;
  vertical-align: top;
}
.order-managment-admin-toF .auto-group-e2bd-2ny {
  width: 190.8rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.order-managment-admin-toF .auto-group-e2bd-2ny .rectangle-6-ZY1 {
  width: 11.2rem;
  height: 10rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-e2bd-2ny .auto-group-ghab-VgZ {
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.6rem 86.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-e2bd-2ny .auto-group-ghab-VgZ .auto-group-xamz-ox9 {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 5.9rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-e2bd-2ny .auto-group-ghab-VgZ .auto-group-v88b-Gaq {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 18.2rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-e2bd-2ny .auto-group-ghab-VgZ .auto-group-sfto-LKo {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 18.3rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-e2bd-2ny .auto-group-ghab-VgZ .auto-group-x1xf-oDP {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 12.4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-e2bd-2ny .auto-group-ghab-VgZ .auto-group-syph-g2H {
  margin: 0rem 4.3rem 2.7rem 0rem;
  box-sizing: border-box;
  padding: 0.7rem 0.05rem 0.8rem 0.05rem;
  width: 18.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-e2bd-2ny .auto-group-ghab-VgZ .ellipse-1-K5F {
  margin-bottom: 2.8rem;
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .hamburger-button-3G9 {
  width: 3.2rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 3.8rem;
  top: 14.1rem;
  overflow: hidden;
  row-gap: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #61a993;
}
.order-managment-admin-toF .hamburger-button-3G9 .rectangle-87-LW9 {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.order-managment-admin-toF .hamburger-button-3G9 .rectangle-88-5id {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.order-managment-admin-toF .hamburger-button-3G9 .rectangle-89-dk9 {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs {
  width: 191.5rem;
  height: 54.9rem;
  position: absolute;
  left: 0.3rem;
  top: 124.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d3567c;
  border-radius: 5rem;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F {
  box-sizing: border-box;
  padding: 3.3rem 4.1rem 7.3rem 4.1rem;
  width: 100%;
  height: 42rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .logoab-removebg-preview-2-cMB {
  margin: 0rem 163.3rem 1.851rem 0rem;
  width: 20rem;
  height: 2.9487rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-rbg7-WxM {
  margin: 0rem 27.6rem 1.9rem 66.9rem;
  width: calc(100% - 94.5rem);
  display: flex;
  column-gap: 20.7rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-rbg7-WxM .quick-links-qUq {
  margin-top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-rbg7-WxM .categories-NUm {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-rbg7-WxM .customer-service-7hF {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-8gyt-TWD {
  margin-right: 36.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-8gyt-TWD .paul-wayne-haggerty-road-new-orleans-louisiana-c8D {
  margin: 1.5rem 0.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-8gyt-TWD .home-hfT {
  margin-right: 27.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-8gyt-TWD .home-living-2hj {
  margin-right: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-8gyt-TWD .contact-us-Zhf {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-omvd-WN1 {
  margin: 0rem 38.2rem 1.5rem 66.9rem;
  width: calc(100% - 105.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-omvd-WN1 .browse-products-EJ1 {
  margin-right: 14.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-omvd-WN1 .fashion-Zr5 {
  margin-right: 24.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-omvd-WN1 .about-us-hhP {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-5gs5-2zZ {
  margin: 0rem 71.1rem 1.5rem 66.9rem;
  width: calc(100% - 138rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-5gs5-2zZ .my-cart-kvZ {
  margin-right: 24.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-5gs5-2zZ .groceries-JBP {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-y2af-RG1 {
  margin: 0rem 69.7rem 1.5rem 66.9rem;
  width: calc(100% - 136.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-y2af-RG1 .my-activity-Ltm {
  margin-right: 21rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-y2af-RG1 .electronics-Uk5 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-dx3u-R9X {
  margin: 0rem 73.2rem 0rem 0.3rem;
  width: calc(100% - 73.5rem);
  height: 3.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-dx3u-R9X .auto-group-uh6b-jAD {
  margin-right: 21.6rem;
  width: 79.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-dx3u-R9X .auto-group-uh6b-jAD .daily-operating-hours-800am-to-800pm-snD {
  width: 68.6rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-dx3u-R9X .auto-group-uh6b-jAD .feedbacks-kr1 {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 66.6rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-oge7-W3F .auto-group-dx3u-R9X .beauty-fTB {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-advd-11F {
  box-sizing: border-box;
  padding: 7.5rem 10.108rem 3.4rem 162.1rem;
  width: 100%;
  height: 12.9rem;
  display: flex;
  align-items: center;
  background-color: #53a6bb;
  border-radius: 0 0 5rem 5rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-advd-11F .vector-iAZ {
  margin: 0rem 2.3rem 0.008rem 0rem;
  width: 2rem;
  height: 1.992rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-advd-11F .vector-3Cq {
  margin: 0rem 2.3rem 0rem 0rem;
  width: 2rem;
  height: 1.9999rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-advd-11F .vector-B49 {
  margin-right: 2.3rem;
  width: 2rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-advd-11F .vector-X81 {
  margin-right: 2.31rem;
  width: 1.99rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-qgmr-BFs .auto-group-advd-11F .vector-UJ9 {
  margin-top: 0.3rem;
  width: 2.092rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-5tov-kmT {
  width: 144.3rem;
  height: 10rem;
  position: absolute;
  left: 22.4rem;
  top: 39.8rem;
  display: flex;
  align-items: center;
}
.order-managment-admin-toF .auto-group-5tov-kmT .vector-HFb {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-5tov-kmT .auto-group-p9ux-Qr1 {
  margin-right: 28.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-5tov-kmT .the-simple-description-of-the-purchased-list-5BT {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-5tov-kmT .quantity--yGq {
  margin: 0rem 15rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-5tov-kmT .price-000-Vky {
  margin-bottom: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-xfhm-jvD {
  width: 144.3rem;
  height: 10rem;
  position: absolute;
  left: 22.4rem;
  top: 51.8rem;
  display: flex;
  align-items: center;
}
.order-managment-admin-toF .auto-group-xfhm-jvD .vector-FtZ {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-xfhm-jvD .auto-group-tvdh-avq {
  margin-right: 28.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-xfhm-jvD .the-simple-description-of-the-purchased-list-4r1 {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-xfhm-jvD .quantity--B9w {
  margin: 0rem 15rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-xfhm-jvD .price-000-u5w {
  margin-bottom: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-pt7q-qVP {
  width: 144.3rem;
  height: 10rem;
  position: absolute;
  left: 22.4rem;
  top: 63.8rem;
  display: flex;
  align-items: center;
}
.order-managment-admin-toF .auto-group-pt7q-qVP .vector-ksF {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-pt7q-qVP .auto-group-xijf-fjK {
  margin-right: 28.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-pt7q-qVP .the-simple-description-of-the-purchased-list-m1f {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-pt7q-qVP .quantity--t6H {
  margin: 0rem 15rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-pt7q-qVP .price-000-QqK {
  margin-bottom: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-n3lw-kPP {
  width: 144.3rem;
  height: 10rem;
  position: absolute;
  left: 22.4rem;
  top: 75.8rem;
  display: flex;
  align-items: center;
}
.order-managment-admin-toF .auto-group-n3lw-kPP .vector-gH3 {
  margin: 0.05rem 5.8rem 0rem 0rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-n3lw-kPP .auto-group-jihy-cAh {
  margin-right: 28.1rem;
  box-sizing: border-box;
  padding: 8.2rem 3.5rem 0.3rem 3.2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-n3lw-kPP .the-simple-description-of-the-purchased-list-65s {
  margin: 0rem 18.8rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-n3lw-kPP .quantity--C8u {
  margin: 0rem 15rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-n3lw-kPP .price-000-WfP {
  margin-bottom: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .xx-xx-xx-Fcy {
  width: 9.7rem;
  height: 2rem;
  position: absolute;
  left: 22.4rem;
  top: 33.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.order-managment-admin-toF .total-price-000-mLR {
  width: 16.1rem;
  height: 2.5rem;
  position: absolute;
  left: 153.2rem;
  top: 88rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.order-managment-admin-toF .auto-group-nelj-Gny {
  width: 93.6rem;
  height: 4.5rem;
  position: absolute;
  left: 49.2rem;
  top: 99rem;
  display: flex;
  align-items: center;
}
.order-managment-admin-toF .auto-group-nelj-Gny .auto-group-vuxz-1Em {
  margin: 0rem 35.2rem 0.1rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 10.25rem 1rem 7rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-nelj-Gny .auto-group-vuxz-1Em .vector-WxD {
  margin: 0.241rem 1.4rem 0rem 0rem;
  width: 1.75rem;
  height: 1.341rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-nelj-Gny .auto-group-vuxz-1Em .approve-F97 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-nelj-Gny .auto-group-9eef-NDj {
  margin-top: 0.1rem;
  box-sizing: border-box;
  padding: 0.9rem 12.2rem 1rem 6.4rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-nelj-Gny .auto-group-9eef-NDj .close-box-outline-J7P {
  margin: 0.1rem 1.6rem 0rem 0rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-managment-admin-toF .auto-group-nelj-Gny .auto-group-9eef-NDj .decline-23P {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
