
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.paymentg-2z9 {
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0rem 0.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/paymentg-bg-Gtu.png');
  border-radius: 3rem;
}
.paymentg-2z9 .auto-group-ddyx-YxV {
  margin: 0rem 0.9rem 28.5rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-ddyx-YxV .auto-group-dq7d-Gdb {
  margin: 0.2rem 102.5rem 0rem 0rem;
  width: 14rem;
  height: 10rem;
  position: relative;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-ddyx-YxV .auto-group-dq7d-Gdb .hamburger-button-bQy {
  width: 3.2rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 10.8rem;
  top: 0.5rem;
  overflow: hidden;
  row-gap: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #61a993;
}
.paymentg-2z9 .auto-group-ddyx-YxV .auto-group-dq7d-Gdb .hamburger-button-bQy .rectangle-87-tus {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-ddyx-YxV .auto-group-dq7d-Gdb .hamburger-button-bQy .rectangle-88-SgV {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-ddyx-YxV .auto-group-dq7d-Gdb .hamburger-button-bQy .rectangle-89-oG9 {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-ddyx-YxV .auto-group-dq7d-Gdb .rectangle-6-YDj {
  width: 11.2rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
}
.paymentg-2z9 .auto-group-ddyx-YxV .auto-group-favh-T5o {
  margin: 1.2rem 3.4rem 0rem 0rem;
  width: 4.7rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-ddyx-YxV .auto-group-wwpt-tB7 {
  margin: 1.2rem 3.5rem 0rem 0rem;
  width: 13.1rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-ddyx-YxV .auto-group-ftzb-jBj {
  margin: 1.2rem 3.2rem 0rem 0rem;
  width: 6.5rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-ddyx-YxV .auto-group-32h1-zdT {
  margin: 1.2rem 3.3rem 0rem 0rem;
  width: 8.8rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-ddyx-YxV .rectangle-107-exu {
  margin: 1.2rem 13.9rem 0rem 0rem;
  width: 7.5rem;
  height: 3.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-ddyx-YxV .ellipse-1-AAZ {
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
  flex-shrink: 0;
}
.paymentg-2z9 .select-your-payment-method-JGm {
  margin: 0rem 0rem 2.7rem 71.3rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-c1ud-D8q {
  margin: 0rem 57.033rem 42.9rem 30.9rem;
  width: calc(100% - 87.9333rem);
  height: 35rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-c1ud-D8q .rectangle-77-Khf {
  width: 57rem;
  height: 35rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-77-bg-qgR.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-c1ud-D8q .auto-group-nbsj-3df {
  box-sizing: border-box;
  padding: 5.1rem 0rem 5.1rem 18.6rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-c1ud-D8q .auto-group-nbsj-3df .auto-group-vhxz-AyB {
  margin: 0.4rem 1.567rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-c1ud-D8q .auto-group-nbsj-3df .auto-group-vhxz-AyB .vector-WXF {
  margin-bottom: 4.125rem;
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-c1ud-D8q .auto-group-nbsj-3df .auto-group-vhxz-AyB .vector-Fjj {
  width: 2.4rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-c1ud-D8q .auto-group-nbsj-3df .auto-group-13br-bHo {
  margin: 0.2rem 1.6rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-c1ud-D8q .auto-group-nbsj-3df .auto-group-13br-bHo .cash-on-delivery-LFP {
  margin: 0rem 0rem 3.7rem 0.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-c1ud-D8q .auto-group-nbsj-3df .auto-group-13br-bHo .online-payment-4BP {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-c1ud-D8q .auto-group-nbsj-3df .cod-1-zaq {
  width: 6rem;
  height: 2.9491rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d3567c;
  border-radius: 5rem;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 {
  box-sizing: border-box;
  padding: 3.3rem 4.1rem 7.3rem 4.1rem;
  width: 100%;
  height: 42rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .logoab-removebg-preview-2-zjF {
  margin: 0rem 163.3rem 1.851rem 0rem;
  width: 20rem;
  height: 2.9487rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-jenf-WSh {
  margin: 0rem 27.6rem 1.9rem 66.9rem;
  width: calc(100% - 94.5rem);
  display: flex;
  column-gap: 20.7rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-jenf-WSh .quick-links-pyB {
  margin-top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-jenf-WSh .categories-AXF {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-jenf-WSh .customer-service-WLD {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-kwmm-qdP {
  margin-right: 36.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-kwmm-qdP .paul-wayne-haggerty-road-new-orleans-louisiana-aqs {
  margin: 1.5rem 0.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-kwmm-qdP .home-gP7 {
  margin-right: 27.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-kwmm-qdP .home-living-cXf {
  margin-right: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-kwmm-qdP .contact-us-wK3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-wpg3-5RF {
  margin: 0rem 38.2rem 1.5rem 66.9rem;
  width: calc(100% - 105.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-wpg3-5RF .browse-products-cAH {
  margin-right: 14.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-wpg3-5RF .fashion-YJq {
  margin-right: 24.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-wpg3-5RF .about-us-5Zf {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-8y6f-Dfs {
  margin: 0rem 71.1rem 1.5rem 66.9rem;
  width: calc(100% - 138rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-8y6f-Dfs .my-cart-MXB {
  margin-right: 24.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-8y6f-Dfs .groceries-tn1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-vfrm-Eqs {
  margin: 0rem 69.7rem 1.5rem 66.9rem;
  width: calc(100% - 136.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-vfrm-Eqs .my-activity-BFK {
  margin-right: 21rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-vfrm-Eqs .electronics-vTo {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-9zyq-G1s {
  margin: 0rem 73.2rem 0rem 0.3rem;
  width: calc(100% - 73.5rem);
  height: 3.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-9zyq-G1s .auto-group-njgx-aHT {
  margin-right: 21.6rem;
  width: 79.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-9zyq-G1s .auto-group-njgx-aHT .daily-operating-hours-800am-to-800pm-vMK {
  width: 68.6rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-9zyq-G1s .auto-group-njgx-aHT .feedbacks-Cpd {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 66.6rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-4y8b-685 .auto-group-9zyq-G1s .beauty-7gh {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-bupd-df3 {
  box-sizing: border-box;
  padding: 7.5rem 10.108rem 3.4rem 162.1rem;
  width: 100%;
  height: 12.9rem;
  display: flex;
  align-items: center;
  background-color: #53a6bb;
  border-radius: 0 0 5rem 5rem;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-bupd-df3 .vector-9dP {
  margin: 0rem 2.3rem 0.008rem 0rem;
  width: 2rem;
  height: 1.992rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-bupd-df3 .vector-g7X {
  margin: 0rem 2.3rem 0rem 0rem;
  width: 2rem;
  height: 1.9999rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-bupd-df3 .vector-ohw {
  margin-right: 2.3rem;
  width: 2rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-bupd-df3 .vector-kdB {
  margin-right: 2.31rem;
  width: 1.99rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paymentg-2z9 .auto-group-f7jh-LPo .auto-group-bupd-df3 .vector-tzH {
  margin-top: 0.3rem;
  width: 2.092rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
