
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.product-managment-2-admin-fjT {
  width: 100%;
  height: 128rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/product-managment-2-admin-bg.png');
  border-radius: 3rem;
}
.product-managment-2-admin-fjT .auto-group-krgf-bND {
  width: 35.7667rem;
  height: 4.3rem;
  position: absolute;
  left: 3.8rem;
  top: 14.1rem;
  display: flex;
  align-items: flex-end;
}
.product-managment-2-admin-fjT .auto-group-krgf-bND .hamburger-button-645 {
  margin: 0rem 21.8rem 1.9rem 0rem;
  width: 3.2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  row-gap: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #61a993;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-krgf-bND .hamburger-button-645 .rectangle-87-nBo {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-krgf-bND .hamburger-button-645 .rectangle-88-8WZ {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-krgf-bND .hamburger-button-645 .rectangle-89-VM7 {
  width: 100%;
  height: 0.6rem;
  background-color: #000000;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-krgf-bND .add-item-37j {
  margin: 0rem 1.2rem 0.3rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-krgf-bND .vector-kXw {
  width: 2.6667rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-plx3-hCH {
  box-sizing: border-box;
  padding: 0.6rem 2.067rem 0.675rem 52.6rem;
  width: 58rem;
  height: 4.4rem;
  position: absolute;
  left: 28.8rem;
  top: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.product-managment-2-admin-fjT .auto-group-plx3-hCH .vector-C93 {
  width: 3.3333rem;
  height: 3.125rem;
  object-fit: contain;
  vertical-align: top;
}
.product-managment-2-admin-fjT .auto-group-krrh-XBK {
  width: 190.8rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.product-managment-2-admin-fjT .auto-group-krrh-XBK .rectangle-6-rzH {
  width: 11.2rem;
  height: 10rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-krrh-XBK .auto-group-l555-xXX {
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.6rem 86.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-krrh-XBK .auto-group-l555-xXX .auto-group-dfdd-2nH {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 5.9rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-krrh-XBK .auto-group-l555-xXX .auto-group-zc7m-tpV {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 18.2rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-krrh-XBK .auto-group-l555-xXX .auto-group-q7vd-Njf {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 18.3rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-krrh-XBK .auto-group-l555-xXX .auto-group-ceq9-dvV {
  margin: 0rem 2.3rem 2.7rem 0rem;
  width: 12.4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-krrh-XBK .auto-group-l555-xXX .auto-group-6ayh-hvM {
  margin: 0rem 4.3rem 2.7rem 0rem;
  box-sizing: border-box;
  padding: 0.7rem 0.05rem 0.8rem 0.05rem;
  width: 18.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-krrh-XBK .auto-group-l555-xXX .ellipse-1-zY5 {
  margin-bottom: 2.8rem;
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D {
  width: 191.5rem;
  height: 54.9rem;
  position: absolute;
  left: 0.3rem;
  top: 124.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d3567c;
  border-radius: 5rem;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q {
  box-sizing: border-box;
  padding: 3.3rem 4.1rem 7.3rem 4.1rem;
  width: 100%;
  height: 42rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .logoab-removebg-preview-2-k9s {
  margin: 0rem 163.3rem 1.851rem 0rem;
  width: 20rem;
  height: 2.9487rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-ywdz-4RT {
  margin: 0rem 27.6rem 1.9rem 66.9rem;
  width: calc(100% - 94.5rem);
  display: flex;
  column-gap: 20.7rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-ywdz-4RT .quick-links-BFB {
  margin-top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-ywdz-4RT .categories-Vmf {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-ywdz-4RT .customer-service-e8m {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-ud2b-xfF {
  margin-right: 36.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-ud2b-xfF .paul-wayne-haggerty-road-new-orleans-louisiana-JUD {
  margin: 1.5rem 0.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-ud2b-xfF .home-biD {
  margin-right: 27.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-ud2b-xfF .home-living-YNZ {
  margin-right: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-ud2b-xfF .contact-us-5dP {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-hwgb-RSM {
  margin: 0rem 38.2rem 1.5rem 66.9rem;
  width: calc(100% - 105.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-hwgb-RSM .browse-products-9NM {
  margin-right: 14.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-hwgb-RSM .fashion-5Wu {
  margin-right: 24.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-hwgb-RSM .about-us-pUV {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-eca7-MzD {
  margin: 0rem 71.1rem 1.5rem 66.9rem;
  width: calc(100% - 138rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-eca7-MzD .my-cart-hHP {
  margin-right: 24.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-eca7-MzD .groceries-qPb {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-n9k9-NPX {
  margin: 0rem 69.7rem 1.5rem 66.9rem;
  width: calc(100% - 136.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-n9k9-NPX .my-activity-J2H {
  margin-right: 21rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-n9k9-NPX .electronics-Rsb {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-g5th-Ziu {
  margin: 0rem 73.2rem 0rem 0.3rem;
  width: calc(100% - 73.5rem);
  height: 3.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-g5th-Ziu .auto-group-gouv-goX {
  margin-right: 21.6rem;
  width: 79.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-g5th-Ziu .auto-group-gouv-goX .daily-operating-hours-800am-to-800pm-Rm7 {
  width: 68.6rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-g5th-Ziu .auto-group-gouv-goX .feedbacks-WnZ {
  width: 12.6rem;
  height: 3rem;
  position: absolute;
  left: 66.6rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-2dyd-e6q .auto-group-g5th-Ziu .beauty-2F7 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-clur-ZVw {
  box-sizing: border-box;
  padding: 7.5rem 10.108rem 3.4rem 162.1rem;
  width: 100%;
  height: 12.9rem;
  display: flex;
  align-items: center;
  background-color: #53a6bb;
  border-radius: 0 0 5rem 5rem;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-clur-ZVw .vector-fos {
  margin: 0rem 2.3rem 0.008rem 0rem;
  width: 2rem;
  height: 1.992rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-clur-ZVw .vector-CJ1 {
  margin: 0rem 2.3rem 0rem 0rem;
  width: 2rem;
  height: 1.9999rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-clur-ZVw .vector-in9 {
  margin-right: 2.3rem;
  width: 2rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-clur-ZVw .vector-mkR {
  margin-right: 2.31rem;
  width: 1.99rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-managment-2-admin-fjT .auto-group-yczf-X2D .auto-group-clur-ZVw .vector-JVT {
  margin-top: 0.3rem;
  width: 2.092rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
