
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.about-us-5rm {
  background-color: #ffffff;
  background-size: 100% 100%;
  background-position: center;
  box-sizing: border-box;
  padding: 0.8rem 0.2rem 0rem 0.3rem;
  width: 100%;
  position: relative;
  display: flex;
  background-image: url('REPLACE_IMAGE:e4bb9598e07931e82ff1e5327070cc96f9d6c0e6');
  border-radius: 3rem;
  overflow: hidden;
  flex-direction: column;
  background-repeat: no-repeat;

  .auto-group-sv1h-xvZ {
    width: calc(100% - 172.5667rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 172.467rem 113.6rem 0.1rem;

    .rectangle-6-Utu {
      flex-shrink: 0;
      margin-right: 4.9333rem;
      width: 10rem;
      height: 10rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
    }
    .vector-CK7 {
      flex-shrink: 0;
      margin-top: 0.2rem;
      width: 4rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-rn8b-KuX {
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d3567c;
    border-radius: 5rem;

    .auto-group-jxgt-fyP {
      height: 42rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 4.1rem 7.3rem 4.1rem;
      width: 100%;

      .logoab-removebg-preview-2-yjB {
        flex-shrink: 0;
        margin: 0rem 163.3rem 1.851rem 0rem;
        width: 20rem;
        height: 2.9487rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-uhum-Hjs {
        width: calc(100% - 94.5rem);
        display: flex;
        column-gap: 20.7rem;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 27.6rem 1.9rem 66.9rem;

        .quick-links-zuB {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        .categories-7yo {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
        .customer-service-TXs {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-jbvm-znh {
        margin-right: 36.1rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .paul-wayne-haggerty-road-new-orleans-louisiana-kG5 {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 1.5rem 0.3rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .home-qHX {
          flex-shrink: 0;
          margin-right: 27.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
        .home-living-ZDX {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
        .contact-us-Vcy {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-y5aj-S2R {
        margin: 0rem 38.2rem 1.5rem 66.9rem;
        width: calc(100% - 105.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .browse-products-9xR {
          flex-shrink: 0;
          margin-right: 14.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
        .fashion-VmP {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.3rem;
        }
        .about-us-dsb {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
      }
      .auto-group-2zhh-xus {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 71.1rem 1.5rem 66.9rem;
        width: calc(100% - 138rem);
        display: flex;

        .my-cart-6WH {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.8rem;
          font-size: 2.4rem;
        }
        .groceries-2uj {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
      }
      .auto-group-vvrf-mMX {
        margin: 0rem 69.7rem 1.5rem 66.9rem;
        width: calc(100% - 136.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .my-activity-JMT {
          flex-shrink: 0;
          margin-right: 21rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
        .electronics-SCm {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
      .auto-group-i4hz-9ss {
        flex-shrink: 0;
        margin: 0rem 73.2rem 0rem 0.3rem;
        width: calc(100% - 73.5rem);
        height: 3.1rem;
        display: flex;
        align-items: flex-start;

        .auto-group-nqfd-UQM {
          flex-shrink: 0;
          margin-right: 21.6rem;
          width: 79.2rem;
          height: 100%;
          position: relative;

          .daily-operating-hours-800am-to-800pm-pDK {
            width: 68.6rem;
            height: 3rem;
            left: 0;
            font-size: 2.4rem;
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            position: absolute;
            top: 0.1rem;
            font-weight: 400;
            line-height: 1.25;
            white-space: nowrap;
          }
          .feedbacks-uEm {
            line-height: 1.25;
            color: #000000;
            position: absolute;
            left: 66.6rem;
            top: 0;
            font-weight: 400;
            white-space: nowrap;
            width: 12.6rem;
            height: 3rem;
            font-size: 2.4rem;
            font-family: Lexend, 'Source Sans Pro';
          }
        }
        .beauty-DWM {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-glqb-Z4R {
      height: 12.9rem;
      display: flex;
      background-color: #53a6bb;
      border-radius: 0 0 5rem 5rem;
      padding: 7.5rem 10.108rem 3.4rem 162.1rem;
      width: 100%;
      flex-shrink: 0;
      box-sizing: border-box;
      align-items: center;

      .vector-fNM {
        height: 1.992rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.3rem 0.008rem 0rem;
        width: 2rem;
      }
      .vector-PJM {
        width: 2rem;
        height: 1.9999rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.3rem 0rem 0rem;
      }
      .vector-Wtm {
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 2rem;
        height: 1.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-Tp1 {
        flex-shrink: 0;
        margin-right: 2.31rem;
        width: 1.99rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-p8m {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.3rem;
        width: 2.092rem;
        height: 1.7rem;
      }
    }
  }
}
