
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.admin-profile-urV {
  border-radius: 3rem;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:5f6b4243145aab55581c729f502960b086ce73bb');
  height: 128rem;
  overflow: hidden;

  .auto-group-gtns-S5j {
    position: absolute;
    left: 3.8rem;
    top: 11.6rem;
    display: flex;
    align-items: center;
    width: 131.9rem;
    height: 10rem;

    .hamburger-button-x45 {
      cursor: pointer;
      position: relative;
      background-color: #61a993;
      margin: 2.5rem 118.7rem 5.1rem 0rem;
      height: calc(100% - 7.6rem);
      overflow: hidden;
      row-gap: 0.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 3.2rem;

      .rectangle-87-eBo {
        background-color: #000000;
        flex-shrink: 0;
        width: 100%;
        height: 0.6rem;
      }
      .rectangle-88-b73 {
        width: 100%;
        height: 0.6rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .rectangle-89-jj3 {
        width: 100%;
        height: 0.6rem;
        background-color: #000000;
        flex-shrink: 0;
      }
    }
    .frame-1-HEm {
      width: 10rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
    }
  }
  .auto-group-fnqh-dZX {
    width: 190.4rem;
    height: 10.2rem;
    position: absolute;
    left: 0.4rem;
    top: 0.6rem;
    display: flex;
    align-items: flex-start;

    .rectangle-6-Xuo {
      margin: 0.2rem 86.1rem 0rem 0rem;
      width: 11.2rem;
      height: 10rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.4rem;
      flex-shrink: 0;
    }
    .auto-group-nmbr-cAZ {
      width: 5.9rem;
      justify-content: center;
      font-size: 1.6rem;
      flex-shrink: 0;
      height: 3.5rem;
      font-weight: 400;
      border-radius: 1rem;
      margin: 1.3rem 2.3rem 0rem 0rem;
      line-height: 1.25;
      white-space: nowrap;
      display: flex;
      align-items: center;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .auto-group-4hwb-SQV {
      width: 18.2rem;
      display: flex;
      justify-content: center;
      font-weight: 400;
      line-height: 1.25;
      border-radius: 1rem;
      color: #000000;
      height: 3.5rem;
      align-items: center;
      font-family: Lexend, 'Source Sans Pro';
      margin: 1.3rem 2.3rem 0rem 0rem;
      font-size: 1.6rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-z45q-7Fj {
      width: 18.3rem;
      justify-content: center;
      line-height: 1.25;
      font-size: 1.6rem;
      font-weight: 400;
      align-items: center;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      height: 3.5rem;
      display: flex;
      white-space: nowrap;
      border-radius: 1rem;
      margin: 1.3rem 2.3rem 0rem 0rem;
      color: #000000;
    }
    .auto-group-fqvp-BmP {
      font-size: 1.6rem;
      color: #000000;
      margin: 1.3rem 2.3rem 0rem 0rem;
      height: 3.5rem;
      display: flex;
      font-family: Lexend, 'Source Sans Pro';
      width: 12.4rem;
      justify-content: center;
      line-height: 1.25;
      white-space: nowrap;
      border-radius: 1rem;
      flex-shrink: 0;
      align-items: center;
      font-weight: 400;
    }
    .auto-group-jmw3-fAm {
      font-size: 1.6rem;
      font-weight: 400;
      color: #000000;
      margin: 0rem 4.3rem 4.1rem 0rem;
      display: flex;
      align-items: center;
      line-height: 1.25;
      border-radius: 1rem;
      white-space: nowrap;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.7rem 0.05rem 0.8rem 0.05rem;
      justify-content: center;
      width: 18.8rem;
      font-family: Lexend, 'Source Sans Pro';
    }
    .ellipse-1-Hxq {
      width: 6rem;
      height: 6rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
    }
  }
  .profile-dWu {
    white-space: nowrap;
    height: 4rem;
    top: 22.7rem;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.25;
    font-family: Lexend, 'Source Sans Pro';
    width: 10rem;
    position: absolute;
    left: 90.5rem;
    color: #000000;
  }
  .auto-group-5n3m-YNy {
    border-radius: 2rem;
    width: 40rem;
    padding: 0.8rem 0.9rem 0.575rem 15.7rem;
    height: 40rem;
    position: absolute;
    left: 76rem;
    top: 31.5rem;
    align-items: flex-end;
    display: flex;
    box-sizing: border-box;
    background-color: #d9d9d9;
    flex-direction: column;

    .vector-EWh {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 12.85rem;
      width: 2.4003rem;
      height: 2.25rem;
      object-fit: contain;
    }
    .vector-NN1 {
      flex-shrink: 0;
      margin: 0rem 14.734rem 13.275rem 0rem;
      width: 8.6667rem;
      height: 8.125rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-JFf {
      width: 2.6667rem;
      height: 2.125rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.4337rem;
    }
  }
  .auto-group-xrjx-EQD {
    left: 55.2rem;
    top: 78.7rem;
    display: flex;
    align-items: center;
    width: 74.3rem;
    height: 3rem;
    position: absolute;

    .name-ZBb {
      flex-shrink: 0;
      margin-right: 16.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .the-simple-description-of-the-purchased-list-HNV {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-m9yx-1JV {
    height: 3rem;
    position: absolute;
    left: 55.2rem;
    top: 83.3rem;
    display: flex;
    align-items: center;
    width: 74.3rem;

    .nic-vgM {
      margin-right: 19.1rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .the-simple-description-of-the-purchased-list-TwB {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-eekb-BsB {
    top: 87.8rem;
    display: flex;
    align-items: center;
    width: 74.3rem;
    height: 3rem;
    position: absolute;
    left: 55.2rem;

    .email-vJy {
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 17.3rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
    .the-simple-description-of-the-purchased-list-Fs3 {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
    }
  }
  .auto-group-ltbq-zJq {
    left: 55.2rem;
    top: 96.9rem;
    display: flex;
    align-items: center;
    width: 74.3rem;
    height: 3rem;
    position: absolute;

    .address-Kc1 {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 14.5rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .the-simple-description-of-the-purchased-list-rrq {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 400;
    }
  }
  .auto-group-l9gw-zi9 {
    width: 74.3rem;
    height: 3rem;
    position: absolute;
    left: 55.2rem;
    top: 92.4rem;
    display: flex;
    align-items: center;

    .phone-number-L1K {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.4rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .the-simple-description-of-the-purchased-list-fpH {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-d71v-oQh {
    width: 191.5rem;
    height: 54.9rem;
    position: absolute;
    left: 0.3rem;
    display: flex;
    top: 124.4rem;
    align-items: center;
    flex-direction: column;
    background-color: #d3567c;
    border-radius: 5rem;

    .auto-group-v9gf-8C5 {
      padding: 3.3rem 4.1rem 7.3rem 4.1rem;
      width: 100%;
      height: 42rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;

      .logoab-removebg-preview-2-349 {
        width: 20rem;
        height: 2.9487rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 163.3rem 1.851rem 0rem;
      }
      .auto-group-if4w-8bP {
        margin: 0rem 27.6rem 1.9rem 66.9rem;
        width: calc(100% - 94.5rem);
        display: flex;
        column-gap: 20.7rem;
        align-items: flex-start;
        flex-shrink: 0;

        .quick-links-3yF {
          flex-shrink: 0;
          margin-top: 0.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
        .categories-BpZ {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .customer-service-LSZ {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .auto-group-6wo9-sxH {
        align-items: flex-start;
        flex-shrink: 0;
        margin-right: 36.1rem;
        display: flex;

        .paul-wayne-haggerty-road-new-orleans-louisiana-dRf {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 1.5rem 0.3rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
        .home-wSM {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 27.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .home-living-5oT {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
        .contact-us-Duf {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .auto-group-8qdd-xMT {
        flex-shrink: 0;
        margin: 0rem 38.2rem 1.5rem 66.9rem;
        width: calc(100% - 105.1rem);
        display: flex;
        align-items: center;

        .browse-products-goF {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
        .fashion-DoB {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.3rem;
        }
        .about-us-MuP {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
      }
      .auto-group-5xtm-tuK {
        margin: 0rem 71.1rem 1.5rem 66.9rem;
        width: calc(100% - 138rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .my-cart-Qsf {
          margin-right: 24.8rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .groceries-M2D {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-f63m-tH3 {
        width: calc(100% - 136.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 69.7rem 1.5rem 66.9rem;

        .my-activity-RGy {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 21rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .electronics-YsP {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-7rlw-V1w {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 73.2rem 0rem 0.3rem;
        width: calc(100% - 73.5rem);
        height: 3.1rem;

        .auto-group-exbm-CS9 {
          position: relative;
          flex-shrink: 0;
          margin-right: 21.6rem;
          width: 79.2rem;
          height: 100%;

          .daily-operating-hours-800am-to-800pm-XzD {
            font-weight: 400;
            line-height: 1.25;
            color: #000000;
            left: 0;
            top: 0.1rem;
            font-size: 2.4rem;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            width: 68.6rem;
            height: 3rem;
            position: absolute;
          }
          .feedbacks-2RB {
            line-height: 1.25;
            font-family: Lexend, 'Source Sans Pro';
            height: 3rem;
            font-size: 2.4rem;
            left: 66.6rem;
            top: 0;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            width: 12.6rem;
            position: absolute;
          }
        }
        .beauty-8DK {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
      }
    }
    .auto-group-ltvr-fU9 {
      box-sizing: border-box;
      padding: 7.5rem 10.108rem 3.4rem 162.1rem;
      width: 100%;
      height: 12.9rem;
      background-color: #53a6bb;
      display: flex;
      align-items: center;
      border-radius: 0 0 5rem 5rem;
      flex-shrink: 0;

      .vector-nYm {
        width: 2rem;
        height: 1.992rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.3rem 0.008rem 0rem;
      }
      .vector-75F {
        margin: 0rem 2.3rem 0rem 0rem;
        width: 2rem;
        height: 1.9999rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-e5B {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 2rem;
        height: 1.4rem;
        object-fit: contain;
      }
      .vector-nSH {
        width: 1.99rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.31rem;
      }
      .vector-jMX {
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.3rem;
        width: 2.092rem;
      }
    }
  }
}
