
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.browse-product-beauty-ZMP {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:c9037830b396352dcd7de2350db417116b128e98');
  border-radius: 3rem;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  background-position: center;
  width: 100%;
  height: 128rem;

  .auto-group-wdcp-Thf {
    height: 10.2rem;
    position: absolute;
    left: 0.4rem;
    top: 0.6rem;
    display: flex;
    align-items: flex-start;
    width: 190.4rem;

    .rectangle-6-MHF {
      margin: 0.2rem 3.867rem 0rem 0rem;
      width: 11.2rem;
      height: 10rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.4rem;
      flex-shrink: 0;
    }
    .vector-rE1 {
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.4rem 97.433rem 0rem 0rem;
      width: 4rem;
    }
    .auto-group-7fbh-y3j {
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 3.5rem;
      font-size: 1.6rem;
      color: #000000;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      align-items: center;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 1.2rem 3.4rem 0rem 0rem;
      width: 4.7rem;
      text-align: center;
      line-height: 1.25;
      justify-content: center;
      white-space: nowrap;
    }
    .auto-group-unxd-A8D {
      margin: 1.2rem 3.5rem 0rem 0rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      height: 3.5rem;
      line-height: 1.25;
      border-radius: 1rem;
      flex-shrink: 0;
      width: 13.1rem;
      color: #000000;
      white-space: nowrap;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .auto-group-zkst-PFs {
      font-weight: 400;
      color: #000000;
      margin: 1.2rem 3.2rem 0rem 0rem;
      height: 3.5rem;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 6.5rem;
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 1rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .auto-group-bukm-F3B {
      width: 8.8rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 3.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      text-align: center;
      border-radius: 1rem;
      margin: 1.2rem 3.2rem 0rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }
    .auto-group-z25y-gPP {
      margin: 1.2rem 13.8rem 0rem 0rem;
      width: 7.7rem;
      height: 3.5rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-107-1Am {
        position: absolute;
        left: 0.1rem;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        width: 7.5rem;
        height: 3.5rem;
      }
      .feedback-X97 {
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 0.6rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Lexend, 'Source Sans Pro';
        width: 7.7rem;
        height: 2rem;
        cursor: pointer;
        text-align: center;
        color: #000000;
      }
    }
    .ellipse-1-pP7 {
      width: 6rem;
      height: 6rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
    }
  }
  .auto-group-bws9-kXf {
    width: 185.4rem;
    height: 60.2rem;
    position: absolute;
    left: 2.4rem;
    top: 15.4rem;
    display: flex;
    align-items: center;

    .auto-group-dkpq-Tws {
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.8rem 21.6rem 1.7rem 0rem;
      width: 18.5rem;

      .rectangle-36-mhf {
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:329bdf04c3310a6a192a0e6eb99e0fd34a824e8d');
        margin-bottom: 0.5rem;
        width: 100%;
        height: 15.1rem;
        background-size: 100% 100%;
        background-color: #d9d9d9;
        background-position: center;
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .home-living-gZj {
        margin-bottom: 2.8rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rectangle-133-16D {
        height: 15.1rem;
        background-color: #d9d9d9;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:046aaf866d6b66c2efb40e35a60cd06bc258c4a8');
        width: 100%;
        background-size: 100% 100%;
        background-position: center;
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .fashion-j2D {
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.8rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
      }
      .rectangle-134-FWM {
        margin-bottom: 0.3rem;
        width: 100%;
        height: 15.1rem;
        background-color: #d9d9d9;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 2rem;
        flex-shrink: 0;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:aeaf9416e70b2a9384ef02257bc436f192ae71dd');
      }
      .groceries-Zmw {
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
      }
    }
    .auto-group-ousq-hNM {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-wsmh-Saq {
        margin-bottom: 5.1rem;
        box-sizing: border-box;
        padding: 0.6rem 0.767rem 0.675rem 53.9rem;
        background-color: #d9d9d9;
        border-radius: 2rem;
        flex-shrink: 0;

        .vector-NDb {
          width: 3.3333rem;
          height: 3.125rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-kmoz-hFs {
        margin-bottom: 2.7rem;
        height: 15.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-rhg7-23F {
          box-sizing: border-box;
          height: 100%;
          font-weight: 400;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-image: url('REPLACE_IMAGE:56cddfa72cfa4f8f90d1609ecdf2363c54758e23');
          margin-right: 2.9rem;
          font-size: 1.2rem;
          background-position: center;
          border-radius: 2rem;
          width: 18.5rem;
          line-height: 1.25;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          padding: 1rem 1.1rem;
          flex-shrink: 0;
        }
        .auto-group-rqor-3yw {
          width: 18.5rem;
          font-size: 1.2rem;
          background-color: #d9d9d9;
          margin-right: 2.5rem;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2rem;
          white-space: nowrap;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 1.1rem;
          height: 100%;
          font-weight: 400;
        }
        .auto-group-ic8b-J9B {
          border-radius: 2rem;
          box-sizing: border-box;
          width: 18.5rem;
          height: 100%;
          font-weight: 400;
          color: #000000;
          background-color: #d9d9d9;
          flex-shrink: 0;
          padding: 1rem 1.1rem;
          font-size: 1.2rem;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          line-height: 1.25;
        }
      }
      .auto-group-guhv-L5s {
        margin-bottom: 2.7rem;
        height: 15.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-e1br-fdw {
          box-sizing: border-box;
          font-size: 1.2rem;
          white-space: nowrap;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          margin-right: 2.9rem;
          font-weight: 400;
          padding: 1rem 1.1rem;
          background-color: #d9d9d9;
          border-radius: 2rem;
          width: 18.5rem;
          height: 100%;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .auto-group-vnry-81j {
          font-size: 1.2rem;
          white-space: nowrap;
          border-radius: 2rem;
          margin-right: 2.5rem;
          padding: 1rem 1.1rem;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          box-sizing: border-box;
          width: 18.5rem;
          font-weight: 400;
          color: #000000;
          height: 100%;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
        .auto-group-glno-BVo {
          height: 100%;
          font-weight: 400;
          color: #000000;
          border-radius: 2rem;
          width: 18.5rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          flex-shrink: 0;
          padding: 1rem 1.1rem;
          font-size: 1.2rem;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #d9d9d9;
        }
      }
      .auto-group-ue8b-dMo {
        align-items: center;
        flex-shrink: 0;
        margin-left: 0.2rem;
        height: 15.1rem;
        display: flex;

        .auto-group-vnap-ZmF {
          height: 100%;
          font-weight: 400;
          background-color: #d9d9d9;
          border-radius: 2rem;
          padding: 1rem 1.1rem;
          line-height: 1.25;
          color: #000000;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 18.5rem;
          font-size: 1.2rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          margin-right: 2.9rem;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-pjfq-pSH {
          padding: 1rem 1.1rem;
          width: 18.5rem;
          white-space: nowrap;
          background-color: #d9d9d9;
          border-radius: 2rem;
          box-sizing: border-box;
          height: 100%;
          font-size: 1.2rem;
          font-weight: 400;
          font-family: Lexend, 'Source Sans Pro';
          margin-right: 2.5rem;
          line-height: 1.25;
          color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
        }
        .auto-group-4wao-tBF {
          padding: 1rem 1.1rem;
          height: 100%;
          font-size: 1.2rem;
          color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          font-weight: 400;
          background-color: #d9d9d9;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 18.5rem;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 2rem;
        }
      }
    }
    .auto-group-xagt-jhf {
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 9.5rem 0rem 0rem 2.3rem;

      .auto-group-acc3-Fvu {
        flex-shrink: 0;
        margin-right: 2.3rem;
        height: 100%;
        row-gap: 2.7rem;
        display: flex;
        flex-direction: column;

        .auto-group-p6hr-nvq {
          line-height: 1.25;
          box-sizing: border-box;
          height: 15.1rem;
          font-weight: 400;
          white-space: nowrap;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          padding: 1rem 1.1rem;
          width: 18.5rem;
          font-size: 1.2rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          border-radius: 2rem;
        }
        .auto-group-grxv-SkV {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          font-size: 1.2rem;
          font-weight: 400;
          border-radius: 2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 18.5rem;
          height: 15.1rem;
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
          padding: 1rem 1.1rem;
          font-family: Lexend, 'Source Sans Pro';
        }
        .auto-group-4rkh-iT7 {
          margin-left: 0.2rem;
          white-space: nowrap;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          box-sizing: border-box;
          padding: 1rem 1.1rem;
          width: 18.5rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.25;
          flex-shrink: 0;
          height: 15.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          border-radius: 2rem;
        }
      }
      .auto-group-f8ju-AK7 {
        height: 100%;
        row-gap: 2.7rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.3rem;

        .auto-group-73by-JAR {
          padding: 1rem 1.1rem;
          white-space: nowrap;
          box-sizing: border-box;
          height: 15.1rem;
          font-weight: 400;
          background-color: #d9d9d9;
          border-radius: 2rem;
          flex-shrink: 0;
          width: 18.5rem;
          font-size: 1.2rem;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .auto-group-1qhr-MeV {
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          background-color: #d9d9d9;
          height: 15.1rem;
          font-size: 1.2rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2rem;
          padding: 1rem 1.1rem;
          font-family: Lexend, 'Source Sans Pro';
          width: 18.5rem;
          line-height: 1.25;
          box-sizing: border-box;
          flex-shrink: 0;
        }
        .auto-group-eam1-cqK {
          height: 15.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          flex-shrink: 0;
          width: 18.5rem;
          font-size: 1.2rem;
          color: #000000;
          white-space: nowrap;
          border-radius: 2rem;
          padding: 1rem 1.1rem;
          box-sizing: border-box;
          font-weight: 400;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          margin-left: 0.2rem;
        }
      }
      .auto-group-wvis-GQ5 {
        row-gap: 2.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.1rem;
        width: 18.9rem;
        height: 100%;

        .auto-group-iouf-bSM {
          font-size: 1.2rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
          margin-right: 0.4rem;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.25;
          padding: 1rem 1.1rem;
          font-weight: 400;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2rem;
          box-sizing: border-box;
          height: 15.1rem;
          color: #000000;
          width: 18.5rem;
        }
        .auto-group-wngs-F17 {
          padding: 1rem 1.1rem;
          width: calc(100% - 0.4rem);
          height: 15.1rem;
          font-size: 1.2rem;
          font-weight: 400;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          background-color: #d9d9d9;
          margin: 0 0.2rem;
          line-height: 1.25;
          border-radius: 2rem;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-cjdd-tJy {
          margin-left: 0.4rem;
          font-family: Lexend, 'Source Sans Pro';
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          flex-shrink: 0;
          box-sizing: border-box;
          line-height: 1.25;
          width: 18.5rem;
          height: 15.1rem;
          white-space: nowrap;
          padding: 1rem 1.1rem;
          font-size: 1.2rem;
          font-weight: 400;
          color: #000000;
          border-radius: 2rem;
        }
      }
      .auto-group-ys1q-X73 {
        width: 18.9rem;
        height: 100%;
        row-gap: 2.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-okyk-TWV {
          margin-right: 0.4rem;
          height: 15.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          background-color: #d9d9d9;
          box-sizing: border-box;
          padding: 1rem 1.1rem;
          width: 18.5rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-bjpj-hvd {
          background-color: #d9d9d9;
          margin: 0 0.2rem;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          padding: 1rem 1.1rem;
          white-space: nowrap;
          flex-shrink: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          font-size: 1.2rem;
          font-weight: 400;
          color: #000000;
          border-radius: 2rem;
          box-sizing: border-box;
          width: calc(100% - 0.4rem);
          height: 15.1rem;
        }
        .auto-group-quuk-xLm {
          padding: 1rem 1.1rem;
          flex-shrink: 0;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          border-radius: 2rem;
          margin-left: 0.4rem;
          box-sizing: border-box;
          width: 18.5rem;
          line-height: 1.25;
          color: #000000;
          height: 15.1rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
    }
  }
  .auto-group-soty-Ahj {
    align-items: center;
    width: 185.2rem;
    height: 17.1rem;
    position: absolute;
    left: 2.4rem;
    top: 76.7rem;
    display: flex;

    .auto-group-k9rm-HGZ {
      width: 18.5rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .rectangle-136-2V3 {
        background-position: center;
        background-image: url('REPLACE_IMAGE:0c26375daecd8fe855853371d0e2d68ce5c31b75');
        border-radius: 2rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 100%;
        height: 15.1rem;
      }
      .electronics-9Jm {
        flex-shrink: 0;
        margin-left: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-rjlb-5CR {
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 0rem 0.4rem 21.6rem;

      .auto-group-6hgf-BmF {
        margin-right: 2.9rem;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        flex-shrink: 0;
        width: 18.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 1rem 1.1rem;
        font-size: 1.2rem;
        line-height: 1.25;
        background-color: #d9d9d9;
        height: 100%;
        font-weight: 400;
        white-space: nowrap;
      }
      .auto-group-qdw1-P6d {
        margin-right: 2.5rem;
        padding: 1rem 1.1rem;
        height: 100%;
        border-radius: 2rem;
        flex-shrink: 0;
        width: 18.5rem;
        background-color: #d9d9d9;
        font-weight: 400;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        font-size: 1.2rem;
        line-height: 1.25;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .auto-group-8b79-EN9 {
        font-size: 1.2rem;
        color: #000000;
        padding: 1rem 1.1rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;
        width: 18.5rem;
        height: 100%;
        font-weight: 400;
        line-height: 1.25;
        font-family: Lexend, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 2.5rem;
        white-space: nowrap;
        background-color: #d9d9d9;
        box-sizing: border-box;
      }
      .auto-group-sics-HLR {
        padding: 1rem 1.1rem;
        font-size: 1.2rem;
        width: 18.5rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        background-color: #d9d9d9;
        margin-right: 2.5rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        border-radius: 2rem;
        font-family: Lexend, 'Source Sans Pro';
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .auto-group-bfo1-wQy {
        margin-right: 2.7rem;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        padding: 1rem 1.1rem;
        line-height: 1.25;
        width: 18.5rem;
        color: #000000;
        background-color: #d9d9d9;
        flex-shrink: 0;
        border-radius: 2rem;
        height: 100%;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-62nf-ayj {
        margin-right: 2.5rem;
        font-size: 1.2rem;
        line-height: 1.25;
        flex-shrink: 0;
        width: 18.5rem;
        font-weight: 400;
        background-color: #d9d9d9;
        white-space: nowrap;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 1rem 1.1rem;
        height: 100%;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
      }
      .auto-group-ubwt-eCu {
        white-space: nowrap;
        padding: 1rem 1.1rem;
        font-size: 1.2rem;
        line-height: 1.25;
        color: #000000;
        font-weight: 400;
        width: 18.5rem;
        font-family: Lexend, 'Source Sans Pro';
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        background-color: #d9d9d9;
        border-radius: 2rem;
      }
    }
  }
  .auto-group-aj7d-HWm {
    top: 96.1rem;
    display: flex;
    align-items: flex-start;
    width: 185.4rem;
    height: 15.6rem;
    position: absolute;
    left: 2.4rem;

    .rectangle-135-b1f {
      width: 18.5rem;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0.5rem 21.8rem 0rem 0rem;
      background-color: #d9d9d9;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:1393eb6cb2f9be3772774af07b7f8e5430d4768c');
      height: 15.1rem;
    }
    .auto-group-3eqb-5hX {
      line-height: 1.25;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      width: 18.5rem;
      font-weight: 400;
      color: #000000;
      background-color: #d9d9d9;
      height: 15.1rem;
      font-size: 1.2rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.9rem;
      padding: 1rem 1.1rem;
      font-family: Lexend, 'Source Sans Pro';
      border-radius: 2rem;
    }
    .auto-group-sp2b-LdT {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2rem;
      width: 18.5rem;
      white-space: nowrap;
      flex-shrink: 0;
      box-sizing: border-box;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      background-color: #d9d9d9;
      font-size: 1.2rem;
      padding: 1rem 1.1rem;
      height: 15.1rem;
      line-height: 1.25;
      margin-right: 2.5rem;
    }
    .auto-group-bw3h-Prd {
      padding: 1rem 1.1rem;
      height: 15.1rem;
      font-family: Lexend, 'Source Sans Pro';
      box-sizing: border-box;
      font-size: 1.2rem;
      color: #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 18.5rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      background-color: #d9d9d9;
      border-radius: 2rem;
      margin-right: 2.5rem;
      flex-shrink: 0;
    }
    .auto-group-egmy-eGm {
      box-sizing: border-box;
      font-weight: 400;
      line-height: 1.25;
      flex-shrink: 0;
      margin-right: 2.5rem;
      padding: 1rem 1.1rem;
      font-size: 1.2rem;
      color: #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 2rem;
      width: 18.5rem;
      height: 15.1rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-ceyb-6eZ {
      border-radius: 2rem;
      font-size: 1.2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      background-color: #d9d9d9;
      box-sizing: border-box;
      padding: 1rem 1.1rem;
      height: 15.1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 18.5rem;
      font-weight: 400;
      color: #000000;
      margin-right: 2.7rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-6b8f-85T {
      box-sizing: border-box;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      margin-right: 2.5rem;
      padding: 1rem 1.1rem;
      line-height: 1.25;
      white-space: nowrap;
      width: 18.5rem;
      border-radius: 2rem;
      height: 15.1rem;
      font-size: 1.2rem;
      background-color: #d9d9d9;
    }
    .auto-group-nwxo-Myo {
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 1.1rem;
      width: 18.5rem;
      line-height: 1.25;
      color: #000000;
      border-radius: 2rem;
      height: 15.1rem;
      white-space: nowrap;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      font-size: 1.2rem;
      font-weight: 400;
      background-color: #d9d9d9;
    }
  }
  .auto-group-gkit-DFK {
    position: absolute;
    left: 0.3rem;
    top: 113.9rem;
    width: 191.5rem;
    height: 65.4rem;

    .rectangle-119-GUV {
      border-radius: 2rem;
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
      left: 84.6rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
    }
    .rectangle-120-ZyP {
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 2rem;
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
      left: 63.6rem;
    }
    .rectangle-121-sz5 {
      border-radius: 2rem;
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
      left: 42.2rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
    }
    .rectangle-122-nr9 {
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
      left: 105.6rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 2rem;
    }
    .rectangle-123-6bw {
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
      left: 147.8rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 2rem;
    }
    .rectangle-124-QsX {
      border-radius: 2rem;
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
      left: 126.6rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
    }
    .rectangle-125-jQ1 {
      position: absolute;
      left: 168.8rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 2rem;
      width: 18.5rem;
      height: 15.1rem;
    }
    .item-no1-F7T {
      width: 5.3rem;
      position: absolute;
      top: 1rem;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      height: 1.5rem;
      left: 85.7rem;
      font-size: 1.2rem;
      line-height: 1.25;
      white-space: nowrap;
    }
    .item-no1-MRP {
      white-space: nowrap;
      height: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      top: 1rem;
      font-size: 1.2rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 5.3rem;
      position: absolute;
      left: 64.7rem;
    }
    .item-no1-fgy {
      position: absolute;
      left: 43.3rem;
      top: 1rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.3rem;
      height: 1.5rem;
      color: #000000;
      font-size: 1.2rem;
      line-height: 1.25;
    }
    .item-no1-nFo {
      height: 1.5rem;
      position: absolute;
      left: 106.7rem;
      white-space: nowrap;
      width: 5.3rem;
      top: 1rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .item-no1-gry {
      top: 1rem;
      font-weight: 400;
      height: 1.5rem;
      left: 148.9rem;
      font-size: 1.2rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.3rem;
      position: absolute;
    }
    .item-no1-oRo {
      white-space: nowrap;
      width: 5.3rem;
      left: 127.7rem;
      top: 1rem;
      font-size: 1.2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      height: 1.5rem;
      position: absolute;
      font-weight: 400;
      color: #000000;
    }
    .item-no1-vFX {
      width: 5.3rem;
      height: 1.5rem;
      top: 1rem;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 169.9rem;
      font-size: 1.2rem;
      line-height: 1.25;
    }
    .rectangle-131-SUm {
      position: absolute;
      left: 0;
      top: 10.5rem;
      background-color: #d3567c;
      border-radius: 5rem;
      width: 191.5rem;
      height: 54.9rem;
    }
    .quick-links-mmw {
      position: absolute;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      color: #000000;
      width: 13.4rem;
      height: 3rem;
      left: 71rem;
      top: 19.2rem;
      font-size: 2.4rem;
    }
    .categories-5nd {
      font-weight: 400;
      width: 12.7rem;
      height: 3rem;
      top: 18.6rem;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 105.1rem;
    }
    .customer-service-bW5 {
      white-space: nowrap;
      position: absolute;
      top: 18.6rem;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 21.3rem;
      height: 3rem;
      left: 138.5rem;
    }
    .contact-us-iKo {
      white-space: nowrap;
      height: 3rem;
      position: absolute;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 12.8rem;
      left: 138.5rem;
      top: 24.1rem;
    }
    .about-us-DnM {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      width: 10.7rem;
      position: absolute;
      top: 28.6rem;
      white-space: nowrap;
      height: 3rem;
      left: 138.5rem;
      font-family: Lexend, 'Source Sans Pro';
    }
    .logoab-removebg-preview-2-vAy {
      top: 13.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 20rem;
      height: 2.9487rem;
      position: absolute;
      left: 4.1rem;
    }
    .paul-wayne-haggerty-road-new-orleans-louisiana-3Fb {
      font-family: Lexend, 'Source Sans Pro';
      position: absolute;
      left: 4.1rem;
      top: 25.6rem;
      color: #000000;
      line-height: 1.25;
      white-space: nowrap;
      width: 66.6rem;
      height: 3rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .daily-operating-hours-800am-to-800pm-8Xw {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      top: 42.2rem;
      font-size: 2.4rem;
      font-family: Lexend, 'Source Sans Pro';
      width: 68.6rem;
      height: 3rem;
      position: absolute;
      left: 4.4rem;
    }
    .rectangle-132-1rd {
      height: 12.9rem;
      position: absolute;
      left: 0;
      top: 52.5rem;
      background-color: #53a6bb;
      border-radius: 0 0 5rem 5rem;
      width: 191.5rem;
    }
    .home-Le1 {
      width: 7rem;
      height: 3rem;
      font-size: 2.4rem;
      color: #000000;
      position: absolute;
      left: 71rem;
      top: 24.1rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .home-living-TCq {
      height: 3rem;
      font-size: 2.4rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.2rem;
      position: absolute;
      left: 105.1rem;
      top: 24.1rem;
      font-weight: 400;
      color: #000000;
    }
    .fashion-xfP {
      top: 28.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 9.1rem;
      position: absolute;
      left: 105.1rem;
      white-space: nowrap;
      height: 3rem;
      font-size: 2.4rem;
    }
    .groceries-fZo {
      height: 3rem;
      left: 105.1rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.2rem;
      position: absolute;
      top: 33.1rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .electronics-agm {
      height: 3rem;
      left: 105.1rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #000000;
      width: 12.6rem;
      position: absolute;
      top: 37.6rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .beauty-thT {
      left: 105.2rem;
      top: 42.1rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      width: 9rem;
      height: 3rem;
      position: absolute;
      color: #000000;
      white-space: nowrap;
    }
    .browse-products-NsX {
      white-space: nowrap;
      width: 19.5rem;
      top: 28.6rem;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      left: 71rem;
    }
    .my-cart-gtD {
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      top: 33.1rem;
      font-size: 2.4rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      width: 9.3rem;
      height: 3rem;
      left: 71rem;
    }
    .my-activity-CLm {
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      top: 37.6rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #000000;
      width: 13.1rem;
      position: absolute;
      left: 71rem;
      line-height: 1.25;
    }
    .feedbacks-W6Z {
      height: 3rem;
      position: absolute;
      font-family: Lexend, 'Source Sans Pro';
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      width: 12.6rem;
      left: 71rem;
      top: 42.1rem;
      font-size: 2.4rem;
    }
    .vector-cfP {
      position: absolute;
      left: 162.1rem;
      top: 60rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 1.992rem;
    }
    .vector-99X {
      left: 166.4rem;
      top: 60rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 1.9999rem;
      position: absolute;
    }
    .vector-sbK {
      left: 170.7rem;
      top: 60.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 1.4rem;
      position: absolute;
    }
    .vector-1Bj {
      object-fit: contain;
      vertical-align: top;
      width: 1.99rem;
      height: 2rem;
      position: absolute;
      left: 175rem;
      top: 60rem;
    }
    .vector-wLH {
      object-fit: contain;
      vertical-align: top;
      width: 2.092rem;
      height: 1.7rem;
      position: absolute;
      left: 179.3rem;
      top: 60.3rem;
    }
  }
  .beauty-fn5 {
    left: 8.8rem;
    color: #000000;
    width: 5.6rem;
    height: 2rem;
    position: absolute;
    top: 111.7rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
  }
}
