
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.browse-product-electronics-TZF {
  background-color: #ffffff;
  border-radius: 3rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-image: url('REPLACE_IMAGE:c9037830b396352dcd7de2350db417116b128e98');
  height: 128rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .auto-group-dxwz-ZcH {
    position: absolute;
    left: 0.4rem;
    top: 0.6rem;
    display: flex;
    align-items: flex-start;
    width: 190.4rem;
    height: 10.2rem;

    .rectangle-6-4Z3 {
      margin: 0.2rem 3.867rem 0rem 0rem;
      width: 11.2rem;
      height: 10rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.4rem;
      flex-shrink: 0;
    }
    .vector-wsj {
      width: 4rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.4rem 97.433rem 0rem 0rem;
    }
    .auto-group-ahnb-foj {
      white-space: nowrap;
      justify-content: center;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      display: flex;
      align-items: center;
      height: 3.5rem;
      font-size: 1.6rem;
      border-radius: 1rem;
      text-align: center;
      width: 4.7rem;
      font-family: Lexend, 'Source Sans Pro';
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      margin: 1.2rem 3.4rem 0rem 0rem;
    }
    .auto-group-mqjh-HKK {
      width: 13.1rem;
      text-align: center;
      display: flex;
      align-items: center;
      height: 3.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      margin: 1.2rem 3.5rem 0rem 0rem;
      font-family: Lexend, 'Source Sans Pro';
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      flex-shrink: 0;
    }
    .auto-group-kpvu-L2h {
      height: 3.5rem;
      font-size: 1.6rem;
      justify-content: center;
      width: 6.5rem;
      text-align: center;
      font-family: Lexend, 'Source Sans Pro';
      display: flex;
      border-radius: 1rem;
      line-height: 1.25;
      flex-shrink: 0;
      margin: 1.2rem 3.2rem 0rem 0rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .auto-group-vyno-B3K {
      font-weight: 400;
      white-space: nowrap;
      align-items: center;
      flex-shrink: 0;
      color: #000000;
      justify-content: center;
      border-radius: 1rem;
      font-size: 1.6rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      margin: 1.2rem 3.2rem 0rem 0rem;
      width: 8.8rem;
      height: 3.5rem;
      text-align: center;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
    }
    .auto-group-7gju-dAD {
      position: relative;
      flex-shrink: 0;
      margin: 1.2rem 13.8rem 0rem 0rem;
      width: 7.7rem;
      height: 3.5rem;

      .rectangle-107-9eM {
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        width: 7.5rem;
        height: 3.5rem;
        position: absolute;
        left: 0.1rem;
      }
      .feedback-3zd {
        position: absolute;
        left: 0;
        color: #000000;
        white-space: nowrap;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        width: 7.7rem;
        height: 2rem;
        cursor: pointer;
        top: 0.6rem;
        font-family: Lexend, 'Source Sans Pro';
      }
    }
    .ellipse-1-ZTB {
      height: 6rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
      width: 6rem;
    }
  }
  .auto-group-ccrf-Vbj {
    width: 185.4rem;
    height: 60.2rem;
    position: absolute;
    left: 2.4rem;
    top: 15.4rem;
    display: flex;
    align-items: center;

    .auto-group-qaiw-osK {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.8rem 21.6rem 1.7rem 0rem;
      width: 18.5rem;
      height: calc(100% - 2.5rem);
      align-items: center;

      .rectangle-36-WWq {
        flex-shrink: 0;
        width: 100%;
        background-color: #d9d9d9;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 0.5rem;
        height: 15.1rem;
        background-image: url('REPLACE_IMAGE:329bdf04c3310a6a192a0e6eb99e0fd34a824e8d');
        border-radius: 2rem;
      }
      .home-living-cpm {
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.8rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
      }
      .rectangle-133-kAH {
        height: 15.1rem;
        background-color: #d9d9d9;
        background-position: center;
        background-image: url('REPLACE_IMAGE:046aaf866d6b66c2efb40e35a60cd06bc258c4a8');
        border-radius: 2rem;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-shrink: 0;
      }
      .fashion-4Rs {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.8rem;
      }
      .rectangle-134-ZtR {
        background-size: 100% 100%;
        background-position: center;
        height: 15.1rem;
        background-color: #d9d9d9;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:aeaf9416e70b2a9384ef02257bc436f192ae71dd');
        border-radius: 2rem;
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        width: 100%;
      }
      .groceries-4qB {
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
    .auto-group-dmtq-zyj {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-s7ak-MJV {
        flex-shrink: 0;
        margin-bottom: 5.1rem;
        box-sizing: border-box;
        padding: 0.6rem 0.767rem 0.675rem 53.9rem;
        background-color: #d9d9d9;
        border-radius: 2rem;

        .vector-sGq {
          object-fit: contain;
          vertical-align: top;
          width: 3.3333rem;
          height: 3.125rem;
        }
      }
      .auto-group-y3zm-bid {
        margin-bottom: 2.7rem;
        height: 15.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-eywx-9EM {
          background-repeat: no-repeat;
          padding: 1rem 1.1rem;
          height: 100%;
          color: #000000;
          white-space: nowrap;
          box-sizing: border-box;
          width: 18.5rem;
          line-height: 1.25;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 400;
          font-family: Lexend, 'Source Sans Pro';
          background-image: url('REPLACE_IMAGE:56cddfa72cfa4f8f90d1609ecdf2363c54758e23');
          margin-right: 2.9rem;
          background-size: 100% 100%;
          background-position: center;
          border-radius: 2rem;
        }
        .auto-group-e73q-b6M {
          font-size: 1.2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 18.5rem;
          color: #000000;
          background-color: #d9d9d9;
          height: 100%;
          font-weight: 400;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2rem;
          margin-right: 2.5rem;
          padding: 1rem 1.1rem;
        }
        .auto-group-tghr-pjo {
          height: 100%;
          font-weight: 400;
          flex-shrink: 0;
          width: 18.5rem;
          line-height: 1.25;
          white-space: nowrap;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          padding: 1rem 1.1rem;
          border-radius: 2rem;
          font-size: 1.2rem;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          background-color: #d9d9d9;
          box-sizing: border-box;
        }
      }
      .auto-group-fatd-gn1 {
        margin-bottom: 2.7rem;
        height: 15.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-ehcx-Qxu {
          box-sizing: border-box;
          font-family: Lexend, 'Source Sans Pro';
          line-height: 1.25;
          white-space: nowrap;
          margin-right: 2.9rem;
          padding: 1rem 1.1rem;
          height: 100%;
          color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          width: 18.5rem;
          font-size: 1.2rem;
          font-weight: 400;
          background-color: #d9d9d9;
          border-radius: 2rem;
        }
        .auto-group-zfzm-GER {
          white-space: nowrap;
          margin-right: 2.5rem;
          box-sizing: border-box;
          font-family: Lexend, 'Source Sans Pro';
          padding: 1rem 1.1rem;
          color: #000000;
          font-weight: 400;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          border-radius: 2rem;
          flex-shrink: 0;
          width: 18.5rem;
          height: 100%;
          font-size: 1.2rem;
          line-height: 1.25;
        }
        .auto-group-f24k-vpm {
          font-weight: 400;
          height: 100%;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2rem;
          width: 18.5rem;
          font-size: 1.2rem;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          background-color: #d9d9d9;
          flex-shrink: 0;
          box-sizing: border-box;
          color: #000000;
          white-space: nowrap;
          padding: 1rem 1.1rem;
        }
      }
      .auto-group-nyhz-CGV {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-left: 0.2rem;
        height: 15.1rem;

        .auto-group-wfsy-Ldb {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 1.1rem;
          height: 100%;
          white-space: nowrap;
          border-radius: 2rem;
          width: 18.5rem;
          font-family: Lexend, 'Source Sans Pro';
          margin-right: 2.9rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
        }
        .auto-group-kq1m-hsT {
          padding: 1rem 1.1rem;
          width: 18.5rem;
          font-size: 1.2rem;
          font-weight: 400;
          background-color: #d9d9d9;
          border-radius: 2rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
          line-height: 1.25;
          box-sizing: border-box;
          height: 100%;
          font-family: Lexend, 'Source Sans Pro';
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .auto-group-6nxb-AW9 {
          font-size: 1.2rem;
          font-weight: 400;
          box-sizing: border-box;
          line-height: 1.25;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 18.5rem;
          font-family: Lexend, 'Source Sans Pro';
          background-color: #d9d9d9;
          border-radius: 2rem;
          color: #000000;
          height: 100%;
          white-space: nowrap;
          flex-shrink: 0;
          padding: 1rem 1.1rem;
        }
      }
    }
    .auto-group-geqb-DUR {
      box-sizing: border-box;
      padding: 9.5rem 0rem 0rem 2.3rem;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-pvej-97B {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.3rem;
        height: 100%;
        row-gap: 2.7rem;
        display: flex;

        .auto-group-rp5d-4zq {
          height: 15.1rem;
          box-sizing: border-box;
          padding: 1rem 1.1rem;
          width: 18.5rem;
          line-height: 1.25;
          white-space: nowrap;
          background-color: #d9d9d9;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          border-radius: 2rem;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 400;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .auto-group-sytu-ipV {
          border-radius: 2rem;
          font-family: Lexend, 'Source Sans Pro';
          background-color: #d9d9d9;
          font-size: 1.2rem;
          color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          padding: 1rem 1.1rem;
          width: 18.5rem;
          line-height: 1.25;
          box-sizing: border-box;
          font-weight: 400;
          height: 15.1rem;
          white-space: nowrap;
        }
        .auto-group-f7g7-nZT {
          width: 18.5rem;
          font-size: 1.2rem;
          line-height: 1.25;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          padding: 1rem 1.1rem;
          height: 15.1rem;
          font-weight: 400;
          background-color: #d9d9d9;
          border-radius: 2rem;
          flex-shrink: 0;
          margin-left: 0.2rem;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-x28b-3EV {
        height: 100%;
        row-gap: 2.7rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.3rem;

        .auto-group-hj2b-ZyX {
          flex-shrink: 0;
          width: 18.5rem;
          color: #000000;
          border-radius: 2rem;
          background-color: #d9d9d9;
          height: 15.1rem;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          font-weight: 400;
          white-space: nowrap;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          padding: 1rem 1.1rem;
          font-size: 1.2rem;
        }
        .auto-group-yv1m-dTb {
          background-color: #d9d9d9;
          box-sizing: border-box;
          padding: 1rem 1.1rem;
          width: 18.5rem;
          line-height: 1.25;
          font-weight: 400;
          white-space: nowrap;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2rem;
          height: 15.1rem;
          font-size: 1.2rem;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .auto-group-gshh-tPX {
          font-family: Lexend, 'Source Sans Pro';
          margin-left: 0.2rem;
          box-sizing: border-box;
          padding: 1rem 1.1rem;
          font-size: 1.2rem;
          flex-shrink: 0;
          height: 15.1rem;
          font-weight: 400;
          color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          width: 18.5rem;
          line-height: 1.25;
          white-space: nowrap;
          border-radius: 2rem;
        }
      }
      .auto-group-bxg3-LmK {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.1rem;
        width: 18.9rem;
        height: 100%;
        row-gap: 2.7rem;

        .auto-group-qshd-Ucd {
          box-sizing: border-box;
          height: 15.1rem;
          font-family: Lexend, 'Source Sans Pro';
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          margin-right: 0.4rem;
          font-weight: 400;
          width: 18.5rem;
          color: #000000;
          flex-shrink: 0;
          line-height: 1.25;
          font-size: 1.2rem;
          white-space: nowrap;
          border-radius: 2rem;
          padding: 1rem 1.1rem;
        }
        .auto-group-52vo-XL1 {
          margin: 0 0.2rem;
          background-color: #d9d9d9;
          font-size: 1.2rem;
          line-height: 1.25;
          white-space: nowrap;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          width: calc(100% - 0.4rem);
          border-radius: 2rem;
          height: 15.1rem;
          font-family: Lexend, 'Source Sans Pro';
          color: #000000;
          flex-shrink: 0;
          padding: 1rem 1.1rem;
          font-weight: 400;
        }
        .auto-group-d18x-NLd {
          font-weight: 400;
          color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2rem;
          flex-shrink: 0;
          margin-left: 0.4rem;
          white-space: nowrap;
          box-sizing: border-box;
          padding: 1rem 1.1rem;
          width: 18.5rem;
          height: 15.1rem;
          font-size: 1.2rem;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          background-color: #d9d9d9;
        }
      }
      .auto-group-gvfv-owj {
        width: 18.9rem;
        height: 100%;
        row-gap: 2.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-22jx-YPX {
          box-sizing: border-box;
          padding: 1rem 1.1rem;
          height: 15.1rem;
          white-space: nowrap;
          font-size: 1.2rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          border-radius: 2rem;
          width: 18.5rem;
          font-weight: 400;
          line-height: 1.25;
          flex-shrink: 0;
          margin-right: 0.4rem;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
        .auto-group-qbsk-bMo {
          height: 15.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          border-radius: 2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          font-weight: 400;
          white-space: nowrap;
          background-color: #d9d9d9;
          margin: 0 0.2rem;
          padding: 1rem 1.1rem;
          width: calc(100% - 0.4rem);
          font-size: 1.2rem;
        }
        .auto-group-ela7-SNR {
          box-sizing: border-box;
          color: #000000;
          background-color: #d9d9d9;
          margin-left: 0.4rem;
          width: 18.5rem;
          height: 15.1rem;
          white-space: nowrap;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          font-size: 1.2rem;
          font-weight: 400;
          flex-shrink: 0;
          padding: 1rem 1.1rem;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          border-radius: 2rem;
        }
      }
    }
  }
  .auto-group-z1nj-ejP {
    position: absolute;
    left: 2.4rem;
    top: 76.7rem;
    display: flex;
    align-items: center;
    width: 185.2rem;
    height: 17.1rem;

    .auto-group-9jt9-NQV {
      width: 18.5rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .rectangle-33-ufK {
        width: 100%;
        background-color: #d9d9d9;
        background-size: 100% 100%;
        height: 15.1rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:0c26375daecd8fe855853371d0e2d68ce5c31b75');
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .electronics-2V3 {
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
      }
    }
    .auto-group-yvj9-x7o {
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 0rem 0.4rem 21.6rem;

      .auto-group-vgt5-Lu3 {
        box-sizing: border-box;
        font-size: 1.2rem;
        font-family: Lexend, 'Source Sans Pro';
        border-radius: 2rem;
        padding: 1rem 1.1rem;
        width: 18.5rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        margin-right: 2.9rem;
        flex-shrink: 0;
        height: 100%;
        line-height: 1.25;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #d9d9d9;
      }
      .auto-group-gqpb-b4H {
        padding: 1rem 1.1rem;
        font-size: 1.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        font-family: Lexend, 'Source Sans Pro';
        background-color: #d9d9d9;
        margin-right: 2.5rem;
        width: 18.5rem;
        font-weight: 400;
        line-height: 1.25;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        color: #000000;
        white-space: nowrap;
      }
      .auto-group-xahz-eHT {
        flex-shrink: 0;
        padding: 1rem 1.1rem;
        width: 18.5rem;
        height: 100%;
        font-family: Lexend, 'Source Sans Pro';
        border-radius: 2rem;
        font-size: 1.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        background-color: #d9d9d9;
        margin-right: 2.5rem;
        box-sizing: border-box;
        line-height: 1.25;
      }
      .auto-group-ui4b-hWd {
        padding: 1rem 1.1rem;
        height: 100%;
        font-weight: 400;
        font-family: Lexend, 'Source Sans Pro';
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #d9d9d9;
        border-radius: 2rem;
        margin-right: 2.5rem;
        width: 18.5rem;
        font-size: 1.2rem;
        color: #000000;
        white-space: nowrap;
        line-height: 1.25;
        flex-shrink: 0;
        box-sizing: border-box;
      }
      .auto-group-qfvd-9tR {
        font-size: 1.2rem;
        color: #000000;
        border-radius: 2rem;
        box-sizing: border-box;
        width: 18.5rem;
        height: 100%;
        line-height: 1.25;
        white-space: nowrap;
        background-color: #d9d9d9;
        margin-right: 2.7rem;
        flex-shrink: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        font-weight: 400;
        font-family: Lexend, 'Source Sans Pro';
        padding: 1rem 1.1rem;
      }
      .auto-group-1pn7-1vd {
        width: 18.5rem;
        font-family: Lexend, 'Source Sans Pro';
        background-color: #d9d9d9;
        border-radius: 2rem;
        margin-right: 2.5rem;
        padding: 1rem 1.1rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        box-sizing: border-box;
        font-size: 1.2rem;
        height: 100%;
        line-height: 1.25;
      }
      .auto-group-pnex-H7T {
        box-sizing: border-box;
        width: 18.5rem;
        font-size: 1.2rem;
        color: #000000;
        white-space: nowrap;
        background-color: #d9d9d9;
        padding: 1rem 1.1rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Lexend, 'Source Sans Pro';
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;
        flex-shrink: 0;
        height: 100%;
      }
    }
  }
  .auto-group-ruwh-YZB {
    top: 96.1rem;
    display: flex;
    align-items: flex-start;
    width: 185.4rem;
    height: 15.6rem;
    position: absolute;
    left: 2.4rem;

    .rectangle-135-3kq {
      margin: 0.5rem 21.8rem 0rem 0rem;
      width: 18.5rem;
      height: 15.1rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:1393eb6cb2f9be3772774af07b7f8e5430d4768c');
      border-radius: 2rem;
      background-color: #d9d9d9;
      background-size: 100% 100%;
      flex-shrink: 0;
    }
    .auto-group-zsmd-Xg1 {
      font-size: 1.2rem;
      line-height: 1.25;
      border-radius: 2rem;
      margin-right: 2.9rem;
      height: 15.1rem;
      color: #000000;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 1.1rem;
      font-weight: 400;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 18.5rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #d9d9d9;
    }
    .auto-group-re6p-aeH {
      box-sizing: border-box;
      height: 15.1rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      background-color: #d9d9d9;
      flex-shrink: 0;
      white-space: nowrap;
      border-radius: 2rem;
      margin-right: 2.5rem;
      padding: 1rem 1.1rem;
      font-size: 1.2rem;
      line-height: 1.25;
      width: 18.5rem;
      color: #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .auto-group-1n7u-ie1 {
      box-sizing: border-box;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #d9d9d9;
      height: 15.1rem;
      line-height: 1.25;
      border-radius: 2rem;
      flex-shrink: 0;
      padding: 1rem 1.1rem;
      width: 18.5rem;
      font-weight: 400;
      margin-right: 2.5rem;
      font-size: 1.2rem;
      color: #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .auto-group-pwfh-NCm {
      flex-shrink: 0;
      width: 18.5rem;
      font-weight: 400;
      color: #000000;
      background-color: #d9d9d9;
      border-radius: 2rem;
      height: 15.1rem;
      font-size: 1.2rem;
      font-family: Lexend, 'Source Sans Pro';
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      padding: 1rem 1.1rem;
      line-height: 1.25;
      white-space: nowrap;
      margin-right: 2.5rem;
      box-sizing: border-box;
    }
    .auto-group-ktgj-Rgq {
      padding: 1rem 1.1rem;
      height: 15.1rem;
      font-size: 1.2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #d9d9d9;
      margin-right: 2.7rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      color: #000000;
      box-sizing: border-box;
      width: 18.5rem;
      font-weight: 400;
      border-radius: 2rem;
    }
    .auto-group-n45r-5mP {
      box-sizing: border-box;
      color: #000000;
      white-space: nowrap;
      background-color: #d9d9d9;
      margin-right: 2.5rem;
      height: 15.1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2rem;
      padding: 1rem 1.1rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      width: 18.5rem;
      font-size: 1.2rem;
      flex-shrink: 0;
    }
    .auto-group-bddd-9FT {
      color: #000000;
      background-color: #d9d9d9;
      border-radius: 2rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      height: 15.1rem;
      font-size: 1.2rem;
      line-height: 1.25;
      box-sizing: border-box;
      padding: 1rem 1.1rem;
      width: 18.5rem;
      font-weight: 400;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
  }
  .auto-group-ibzm-12m {
    width: 191.5rem;
    height: 65.4rem;
    position: absolute;
    left: 0.3rem;
    top: 113.9rem;

    .rectangle-119-52d {
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 2rem;
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
      left: 84.6rem;
    }
    .rectangle-120-nBw {
      left: 63.6rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 2rem;
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
    }
    .rectangle-121-hJu {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 2rem;
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
      left: 42.2rem;
      top: 0;
    }
    .rectangle-122-Qj7 {
      left: 105.6rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 2rem;
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
    }
    .rectangle-123-KbB {
      left: 147.8rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 2rem;
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
    }
    .rectangle-124-qJd {
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
      left: 126.6rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 2rem;
    }
    .rectangle-125-MGy {
      border-radius: 2rem;
      width: 18.5rem;
      height: 15.1rem;
      position: absolute;
      left: 168.8rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
    }
    .item-no1-Tqo {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      width: 5.3rem;
      position: absolute;
      left: 85.7rem;
      height: 1.5rem;
      top: 1rem;
      font-family: Lexend, 'Source Sans Pro';
    }
    .item-no1-NC5 {
      white-space: nowrap;
      width: 5.3rem;
      left: 64.7rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      height: 1.5rem;
      position: absolute;
      top: 1rem;
      font-family: Lexend, 'Source Sans Pro';
    }
    .item-no1-sed {
      left: 43.3rem;
      color: #000000;
      white-space: nowrap;
      width: 5.3rem;
      height: 1.5rem;
      position: absolute;
      top: 1rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
    }
    .item-no1-BfK {
      left: 106.7rem;
      top: 1rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      width: 5.3rem;
      height: 1.5rem;
      position: absolute;
      font-size: 1.2rem;
      color: #000000;
      white-space: nowrap;
    }
    .item-no1-uLR {
      top: 1rem;
      font-size: 1.2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      width: 5.3rem;
      left: 148.9rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      height: 1.5rem;
      position: absolute;
    }
    .item-no1-Dc1 {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      height: 1.5rem;
      left: 127.7rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      width: 5.3rem;
      position: absolute;
      top: 1rem;
      font-size: 1.2rem;
    }
    .item-no1-Xsb {
      font-weight: 400;
      position: absolute;
      left: 169.9rem;
      top: 1rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.3rem;
      height: 1.5rem;
      font-size: 1.2rem;
    }
    .rectangle-131-eSR {
      top: 10.5rem;
      background-color: #d3567c;
      border-radius: 5rem;
      width: 191.5rem;
      height: 54.9rem;
      position: absolute;
      left: 0;
    }
    .quick-links-nHj {
      font-family: Lexend, 'Source Sans Pro';
      width: 13.4rem;
      position: absolute;
      left: 71rem;
      font-weight: 400;
      line-height: 1.25;
      height: 3rem;
      top: 19.2rem;
      font-size: 2.4rem;
      color: #000000;
      white-space: nowrap;
    }
    .categories-hQh {
      color: #000000;
      width: 12.7rem;
      position: absolute;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      left: 105.1rem;
      top: 18.6rem;
    }
    .customer-service-oyX {
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      position: absolute;
      left: 138.5rem;
      font-size: 2.4rem;
      color: #000000;
      white-space: nowrap;
      width: 21.3rem;
      height: 3rem;
      top: 18.6rem;
    }
    .contact-us-vYM {
      height: 3rem;
      color: #000000;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      width: 12.8rem;
      position: absolute;
      left: 138.5rem;
      top: 24.1rem;
      font-size: 2.4rem;
      white-space: nowrap;
    }
    .about-us-Eow {
      left: 138.5rem;
      font-size: 2.4rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 10.7rem;
      position: absolute;
      top: 28.6rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      height: 3rem;
    }
    .logoab-removebg-preview-2-kGV {
      object-fit: cover;
      vertical-align: top;
      width: 20rem;
      height: 2.9487rem;
      position: absolute;
      left: 4.1rem;
      top: 13.8rem;
    }
    .paul-wayne-haggerty-road-new-orleans-louisiana-rqK {
      width: 66.6rem;
      height: 3rem;
      font-size: 2.4rem;
      font-weight: 400;
      white-space: nowrap;
      position: absolute;
      left: 4.1rem;
      top: 25.6rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .daily-operating-hours-800am-to-800pm-9pR {
      top: 42.2rem;
      font-size: 2.4rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      width: 68.6rem;
      left: 4.4rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      height: 3rem;
      position: absolute;
    }
    .rectangle-132-eFP {
      left: 0;
      top: 52.5rem;
      background-color: #53a6bb;
      border-radius: 0 0 5rem 5rem;
      width: 191.5rem;
      height: 12.9rem;
      position: absolute;
    }
    .home-NSH {
      color: #000000;
      white-space: nowrap;
      width: 7rem;
      top: 24.1rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      left: 71rem;
    }
    .home-living-tfX {
      left: 105.1rem;
      top: 24.1rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      width: 17.2rem;
      height: 3rem;
      position: absolute;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
    }
    .fashion-PsB {
      width: 9.1rem;
      height: 3rem;
      left: 105.1rem;
      top: 28.6rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      position: absolute;
      font-size: 2.4rem;
      color: #000000;
      white-space: nowrap;
    }
    .groceries-hcy {
      height: 3rem;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      width: 11.2rem;
      left: 105.1rem;
      top: 33.1rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
    }
    .electronics-1df {
      white-space: nowrap;
      width: 12.6rem;
      top: 37.6rem;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      left: 105.1rem;
    }
    .beauty-WKX {
      white-space: nowrap;
      width: 9rem;
      font-family: Lexend, 'Source Sans Pro';
      left: 105.2rem;
      top: 42.1rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      height: 3rem;
      position: absolute;
    }
    .browse-products-kjf {
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2.4rem;
      height: 3rem;
      position: absolute;
      left: 71rem;
      top: 28.6rem;
      line-height: 1.25;
      color: #000000;
      width: 19.5rem;
    }
    .my-cart-rXo {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.3rem;
      left: 71rem;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 1.25;
      height: 3rem;
      position: absolute;
      top: 33.1rem;
    }
    .my-activity-AYV {
      width: 13.1rem;
      height: 3rem;
      left: 71rem;
      top: 37.6rem;
      color: #000000;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .feedbacks-sSu {
      width: 12.6rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      height: 3rem;
      position: absolute;
      left: 71rem;
      top: 42.1rem;
    }
    .vector-PAM {
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 1.992rem;
      position: absolute;
      left: 162.1rem;
      top: 60rem;
    }
    .vector-iTX {
      position: absolute;
      left: 166.4rem;
      top: 60rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 1.9999rem;
    }
    .vector-r3w {
      width: 2rem;
      height: 1.4rem;
      position: absolute;
      left: 170.7rem;
      top: 60.3rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-NHB {
      height: 2rem;
      position: absolute;
      left: 175rem;
      top: 60rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.99rem;
    }
    .vector-W8V {
      top: 60.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.092rem;
      height: 1.7rem;
      position: absolute;
      left: 179.3rem;
    }
  }
  .beauty-eEh {
    font-size: 1.6rem;
    line-height: 1.25;
    color: #000000;
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
    height: 2rem;
    top: 111.7rem;
    left: 8.8rem;
    font-weight: 400;
    width: 5.6rem;
    position: absolute;
  }
}
