
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.browse-product-vcV {
  overflow: hidden;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:c9037830b396352dcd7de2350db417116b128e98');
  position: relative;
  height: 128rem;
  border-radius: 3rem;
  width: 100%;

  .harpic-toilet-cleaner-rFF {
    width: 21.7rem;
    height: 2.8rem;
    top: 62.6rem;
    font-weight: 400;
    color: #000000;
    position: absolute;
    left: 76.1rem;
    font-size: 2.2rem;
    line-height: 1.25;
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
  }
  .price-000-Wqb {
    line-height: 1.25;
    font-family: Lexend, 'Source Sans Pro';
    width: 11.9rem;
    height: 2.8rem;
    left: 43rem;
    top: 69.2rem;
    font-weight: 400;
    position: absolute;
    font-size: 2.2rem;
    color: #000000;
    white-space: nowrap;
  }
  .view-ratings-reviews-prH {
    height: 2.8rem;
    white-space: nowrap;
    top: 91.4rem;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.25;
    color: #ae3737;
    width: 25.5rem;
    position: absolute;
    left: 43rem;
    font-family: Lexend, 'Source Sans Pro';
  }
  .description-vuK {
    position: absolute;
    left: 43rem;
    top: 97.2rem;
    font-size: 2.2rem;
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.8rem;
    font-weight: 700;
    line-height: 1.25;
    color: #000000;
    width: 12.9rem;
  }
  .auto-group-mbvj-qmP {
    top: 85.3rem;
    display: flex;
    align-items: center;
    width: 19.2rem;
    height: 2.5rem;
    position: absolute;
    left: 77.4rem;

    .vector-A2y {
      margin-right: 1.4666rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-VL9 {
      flex-shrink: 0;
      margin-right: 1.4667rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-2L5 {
      flex-shrink: 0;
      margin-right: 1.4667rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-Neq {
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.4666rem;
      width: 2.6667rem;
    }
    .vector-Kpy {
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 2.6667rem;
    }
  }
  .auto-group-cxpu-GVK {
    width: 191.5rem;
    height: 77rem;
    position: absolute;
    left: 0.3rem;
    top: 102.3rem;

    .harpic-is-a-brand-of-toilet-cleaner-that-is-popular-in-many-countries-around-the-world-it-is-a-powerful-cleaner-that-can-kill-999-of-germs-and-bacteria-and-it-also-removes-tough-stains-and-leaves-a-fresh-smell-harpic-is-available-in-a-variety-of-formulas-including-original-lemon-and-rose-here-are-some-of-the-benefits-of-using-harpic-toilet-cleaner-kills-999-of-germs-and-bacteria-removes-tough-stains-leaves-a-fresh-smell-safe-for-septic-tanks-available-in-a-variety-of-formulas-if-you-are-looking-for-a-powerful-and-effective-toilet-cleaner-harpic-is-a-great-option-N2Z {
      font-family: Lexend, 'Source Sans Pro';
      width: 102.2rem;
      top: 0;
      font-size: 2.2rem;
      font-weight: 200;
      line-height: 1.25;
      color: #000000;
      height: 27.5rem;
      position: absolute;
      left: 42.7rem;
    }
    .rectangle-73-SRj {
      width: 29.2rem;
      height: 4.4rem;
      position: absolute;
      left: 68.4rem;
      top: 32.4rem;
      background-color: #d9d9d9;
      border-radius: 2rem;
    }
    .rectangle-74-N4V {
      border-radius: 2rem;
      width: 29.2rem;
      height: 4.4rem;
      position: absolute;
      left: 101.1rem;
      top: 32.4rem;
      background-color: #d9d9d9;
    }
    .add-to-cart-V97 {
      white-space: nowrap;
      height: 2.5rem;
      left: 77.1rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 11rem;
      position: absolute;
      top: 33.3rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .buy-now-oQh {
      height: 2.5rem;
      position: absolute;
      top: 33.3rem;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
      width: 8.7rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      left: 110.9rem;
    }
    .rectangle-131-JsF {
      left: 0;
      top: 22.1rem;
      background-color: #d3567c;
      border-radius: 5rem;
      width: 191.5rem;
      height: 54.9rem;
      position: absolute;
    }
    .quick-links-qsB {
      position: absolute;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.4rem;
      left: 71rem;
      top: 30.8rem;
      color: #000000;
      height: 3rem;
    }
    .categories-MqX {
      left: 105.1rem;
      top: 30.2rem;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      width: 12.7rem;
      position: absolute;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
    }
    .customer-service-5Wd {
      height: 3rem;
      position: absolute;
      left: 138.5rem;
      top: 30.2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      width: 21.3rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
    }
    .contact-us-nvq {
      width: 12.8rem;
      left: 138.5rem;
      top: 35.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      white-space: nowrap;
    }
    .about-us-hnu {
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      width: 10.7rem;
      height: 3rem;
      position: absolute;
      left: 138.5rem;
      top: 40.2rem;
      font-size: 2.4rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
    }
    .logoab-removebg-preview-2-2KP {
      height: 2.9487rem;
      position: absolute;
      left: 4.1rem;
      top: 25.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 20rem;
    }
    .paul-wayne-haggerty-road-new-orleans-louisiana-8NR {
      position: absolute;
      font-weight: 400;
      line-height: 1.25;
      font-size: 2.4rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 66.6rem;
      height: 3rem;
      left: 4.1rem;
      top: 37.2rem;
    }
    .daily-operating-hours-800am-to-800pm-pm3 {
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 68.6rem;
      height: 3rem;
      position: absolute;
      left: 4.4rem;
      top: 53.8rem;
    }
    .rectangle-132-WNy {
      top: 64.1rem;
      background-color: #53a6bb;
      border-radius: 0 0 5rem 5rem;
      width: 191.5rem;
      height: 12.9rem;
      position: absolute;
      left: 0;
    }
    .home-qAM {
      left: 71rem;
      top: 35.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      width: 7rem;
      height: 3rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      color: #000000;
    }
    .home-living-9gq {
      font-weight: 400;
      white-space: nowrap;
      width: 17.2rem;
      position: absolute;
      top: 35.7rem;
      font-size: 2.4rem;
      font-family: Lexend, 'Source Sans Pro';
      height: 3rem;
      left: 105.1rem;
      line-height: 1.25;
      color: #000000;
    }
    .fashion-4Yu {
      height: 3rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      font-family: Lexend, 'Source Sans Pro';
      width: 9.1rem;
      position: absolute;
      left: 105.1rem;
      top: 40.2rem;
      color: #000000;
    }
    .groceries-aGM {
      position: absolute;
      font-size: 2.4rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      color: #000000;
      white-space: nowrap;
      width: 11.2rem;
      height: 3rem;
      left: 105.1rem;
      top: 44.7rem;
      line-height: 1.25;
    }
    .electronics-V8R {
      top: 49.2rem;
      font-weight: 400;
      line-height: 1.25;
      height: 3rem;
      position: absolute;
      font-size: 2.4rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 12.6rem;
      left: 105.1rem;
    }
    .beauty-oQ1 {
      height: 3rem;
      position: absolute;
      left: 105.2rem;
      top: 53.7rem;
      font-weight: 400;
      width: 9rem;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .browse-products-vDj {
      width: 19.5rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      height: 3rem;
      position: absolute;
      left: 71rem;
      top: 40.2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
    }
    .my-cart-q5o {
      height: 3rem;
      position: absolute;
      font-size: 2.4rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.3rem;
      left: 71rem;
      top: 44.7rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .my-activity-Z1o {
      width: 13.1rem;
      height: 3rem;
      top: 49.2rem;
      font-size: 2.4rem;
      font-weight: 400;
      white-space: nowrap;
      position: absolute;
      left: 71rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .feedbacks-sYH {
      position: absolute;
      height: 3rem;
      left: 71rem;
      top: 53.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 12.6rem;
      white-space: nowrap;
    }
    .vector-PWd {
      height: 1.992rem;
      position: absolute;
      left: 162.1rem;
      top: 71.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
    }
    .vector-ioo {
      width: 2rem;
      height: 1.9999rem;
      position: absolute;
      left: 166.4rem;
      top: 71.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-fDF {
      vertical-align: top;
      width: 2rem;
      height: 1.4rem;
      position: absolute;
      left: 170.7rem;
      top: 71.9rem;
      object-fit: contain;
    }
    .vector-nof {
      top: 71.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.99rem;
      height: 2rem;
      position: absolute;
      left: 175rem;
    }
    .vector-LKP {
      position: absolute;
      left: 179.3rem;
      top: 71.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.092rem;
      height: 1.7rem;
    }
  }
  .auto-group-niix-Gyj {
    width: 82.3rem;
    height: 4.5rem;
    position: absolute;
    left: 43rem;
    top: 74.4rem;
    display: flex;
    align-items: center;

    .auto-group-zb6k-QKF {
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0.1rem 6.3rem 0rem 0rem;
      box-sizing: border-box;
      padding: 0.8rem 12.5rem 1.1rem 7.5rem;
      display: flex;
      align-items: center;
      background-color: #d9d9d9;

      .vector-WdB {
        margin: 0.075rem 0.833rem 0rem 0rem;
        width: 2.6667rem;
        height: 2.375rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .add-to-wishlist-Ep5 {
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
      }
    }
    .auto-group-jic3-wyP {
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      box-sizing: border-box;
      padding: 0.9rem 10rem 1rem 10.8rem;

      .vector-GVs {
        margin: 0rem 0.9rem 0.011rem 0rem;
        width: 2.4rem;
        height: 2.4888rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .share-product-zwf {
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
      }
    }
  }
  .auto-group-ceyk-vqK {
    display: flex;
    align-items: flex-start;
    width: 190.4rem;
    height: 10.2rem;
    position: absolute;
    left: 0.4rem;
    top: 0.6rem;

    .rectangle-6-eFX {
      flex-shrink: 0;
      margin: 0.2rem 3.867rem 0rem 0rem;
      width: 11.2rem;
      height: 10rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.4rem;
    }
    .vector-Mfj {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.4rem 13.133rem 0rem 0rem;
      width: 4rem;
      height: 2.5rem;
      object-fit: contain;
    }
    .auto-group-dyyu-Gnh {
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 3rem 26.3rem 2.8rem 0rem;
      box-sizing: border-box;
      padding: 0.8rem 1.167rem 0.475rem 53.5rem;
      height: calc(100% - 5.8rem);
      background-color: #d9d9d9;

      .vector-ySD {
        width: 3.3333rem;
        height: 3.125rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-sigb-hd7 {
      width: 4.7rem;
      height: 3.5rem;
      text-align: center;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      margin: 1.2rem 3.4rem 0rem 0rem;
      font-weight: 400;
      white-space: nowrap;
      display: flex;
      border-radius: 1rem;
      font-size: 1.6rem;
      align-items: center;
      flex-shrink: 0;
      color: #000000;
    }
    .auto-group-kflw-wnM {
      text-align: center;
      font-size: 1.6rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      border-radius: 1rem;
      width: 13.1rem;
      height: 3.5rem;
      font-weight: 400;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      margin: 1.2rem 3.5rem 0rem 0rem;
      line-height: 1.25;
      align-items: center;
    }
    .auto-group-gcgb-nny {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      justify-content: center;
      height: 3.5rem;
      text-align: center;
      font-weight: 400;
      color: #000000;
      align-items: center;
      margin: 1.2rem 3.2rem 0rem 0rem;
      line-height: 1.25;
      display: flex;
      border-radius: 1rem;
      width: 6.5rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
    }
    .auto-group-yxaw-SsX {
      text-align: center;
      font-weight: 400;
      border-radius: 1rem;
      flex-shrink: 0;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      display: flex;
      align-items: center;
      margin: 1.2rem 3.2rem 0rem 0rem;
      width: 8.8rem;
      height: 3.5rem;
      font-size: 1.6rem;
      color: #000000;
      white-space: nowrap;
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .auto-group-a7tq-um7 {
      flex-shrink: 0;
      margin: 1.2rem 13.8rem 0rem 0rem;
      width: 7.7rem;
      height: 3.5rem;
      position: relative;

      .rectangle-107-eCu {
        width: 7.5rem;
        height: 3.5rem;
        position: absolute;
        left: 0.1rem;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
      }
      .feedback-xUV {
        position: absolute;
        left: 0;
        top: 0.6rem;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.25;
        width: 7.7rem;
        cursor: pointer;
        font-weight: 400;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
      }
    }
    .ellipse-1-fdo {
      width: 6rem;
      height: 6rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
    }
  }
  .component-2-D9X {
    height: 41.7rem;
    position: absolute;
    left: 47rem;
    top: 15.9rem;
    width: 80.041rem;

    .rectangle-62-4A9 {
      object-fit: contain;
      vertical-align: top;
      border-radius: 2rem;
      width: 80rem;
      height: 41.7rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .vector-z3o {
      object-fit: contain;
      vertical-align: top;
      width: 0.741rem;
      height: 1.2rem;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 20.3rem;
    }
    .vector-XJd {
      object-fit: contain;
      vertical-align: top;
      width: 0.741rem;
      height: 1.2rem;
      cursor: pointer;
      position: absolute;
      left: 79.3rem;
      top: 20.3rem;
    }
  }
}
