
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 53.5rem;
}.component-4-X1f {
  padding: 2rem 2rem 0rem 2rem;
  position: relative;
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 0.5rem;

  .property-1frame-14-S8d {
    flex-shrink: 0;
    margin: 0rem 0rem 43.7rem 12rem;
    box-sizing: border-box;
    padding: 4.6rem 3.7rem 2.5rem 3.8rem;
    width: 37.5rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    .ellipse-2-LUu {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:7d825c1de6a1b2c1175f9f5a326a3c943f58191d');
      border-radius: 15rem;
      width: 100%;
      height: 30rem;
      background-size: 100% 100%;
    }
  }
  .property-1frame-15-fXB {
    width: 37.5rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0rem 44.4rem 12rem;
    box-sizing: border-box;
    padding: 4.6rem 3.7rem 2.5rem 3.8rem;

    .ellipse-2-maD {
      background-image: url('REPLACE_IMAGE:6e5079d48a2773e22d415a40528035a5febba9a4');
      border-radius: 15rem;
      width: 100%;
      height: 30rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .property-1frame-16-cqj {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 8.6rem 59.9rem 3.4rem;
    box-sizing: border-box;
    padding: 3.6rem 3.7rem 3.5rem 3.8rem;
    width: calc(100% - 12rem);
    cursor: pointer;

    .ellipse-3-L13 {
      background-image: url('REPLACE_IMAGE:c8646fad2b94db116c15f6d74cc79fb3054acc35');
      border-radius: 15rem;
      width: 100%;
      height: 30rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .property-1frame-17-fp1 {
    margin: 0rem 12rem 53.7rem 0rem;
    box-sizing: border-box;
    padding: 3.6rem 3.7rem 3.5rem 3.8rem;
    width: 37.5rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    .ellipse-3-aRB {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:7e4f1d7b4d6eddd53c7cf4d5bdf5b8cfad3f4175');
      border-radius: 15rem;
      width: 100%;
      height: 30rem;
      background-size: 100% 100%;
    }
  }
  .property-1frame-18-inH {
    margin: 0rem 12rem 53.7rem 0rem;
    box-sizing: border-box;
    padding: 3.6rem 3.7rem 3.5rem 3.8rem;
    width: 37.5rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    .ellipse-3-STP {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:86912509327d9f5986517219e80a5ece484336b8');
      border-radius: 15rem;
      width: 100%;
      height: 30rem;
      background-size: 100% 100%;
    }
  }
  .property-1frame-19-aZb {
    flex-shrink: 0;
    margin: 0rem 12rem 5.8rem 0rem;
    box-sizing: border-box;
    padding: 3.6rem 3.7rem 3.5rem 3.8rem;
    width: 37.5rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    .ellipse-3-6Xw {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:33f1d02a3bb4fef9d39c0a51a98152288545e732');
      border-radius: 15rem;
      width: 100%;
      height: 30rem;
      background-size: 100% 100%;
    }
  }
  .property-1variant7-2gV {
    box-sizing: border-box;
    width: calc(100% - 12rem);
    height: 37.1rem;
    cursor: pointer;
    flex-shrink: 0;
    margin: 0rem 8.2rem 0rem 3.8rem;
    padding: 4.6rem 3.7rem 2.5rem 3.8rem;
    overflow: hidden;
    position: relative;

    .ellipse-2-8jX {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:7d825c1de6a1b2c1175f9f5a326a3c943f58191d');
      border-radius: 15rem;
      width: 100%;
      height: 30rem;
      background-size: 100% 100%;
    }
  }
}
