
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43.7rem;
}.frame-bug-BNu {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);

  .auto-group-wzk3-uph {
    height: 6.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;

    .hamburger-button-TLR {
      display: flex;
      background-color: rgba(255, 255, 255, 0.200000003);
      padding: 1.985rem 2.3rem 0rem 2.2rem;
      width: 7.7rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      margin-right: 30rem;
      box-sizing: border-box;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-3wcb-9U9 {
        margin: 0rem 0.003rem 7.732rem 0rem;
        width: 2.7849rem;
        height: 2.6833rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-90-rtM {
        margin-bottom: 0.3rem;
        width: 100%;
        height: 0.6rem;
        background-color: rgba(0, 0, 0, 0.3799999952);
        flex-shrink: 0;
      }
      .rectangle-91-bL9 {
        margin-bottom: 0.3rem;
        width: 100%;
        height: 0.6rem;
        background-color: rgba(0, 0, 0, 0.3799999952);
        flex-shrink: 0;
      }
      .rectangle-92-w97 {
        width: 100%;
        height: 0.6rem;
        background-color: rgba(0, 0, 0, 0.3799999952);
        flex-shrink: 0;
      }
    }
    .ellipse-1-U93 {
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 6rem;
      height: 6rem;
      cursor: pointer;
    }
  }
  .auto-group-tpgp-zNH {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 21.1rem 2.2rem 73.2rem 2.2rem;
    width: 100%;
    display: flex;

    .frame-4-hnV {
      height: 5.3rem;
      font-family: Lexend, 'Source Sans Pro';
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.6rem;
      justify-content: center;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      border-radius: 1rem;
      width: 33.5rem;
      font-weight: 400;
      display: flex;
      align-items: center;
    }
    .frame-5-NNq {
      display: flex;
      flex-shrink: 0;
      height: 5.3rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 33.5rem;
      font-size: 1.6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.25;
      justify-content: center;
      align-items: center;
    }
    .frame-6-er9 {
      white-space: nowrap;
      flex-shrink: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 5.3rem;
      font-size: 1.6rem;
      line-height: 1.25;
      color: #000000;
      display: flex;
      font-family: Lexend, 'Source Sans Pro';
      align-items: center;
      border-radius: 1rem;
      width: 33.5rem;
      cursor: pointer;
      font-weight: 400;
      justify-content: center;
    }
    .frame-7-Xuw {
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      height: 5.3rem;
      color: #000000;
      border-radius: 1rem;
      width: 33.5rem;
      justify-content: center;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .frame-8-CmB {
      line-height: 1.25;
      color: #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      cursor: pointer;
      font-weight: 400;
      align-items: center;
      font-size: 1.6rem;
      display: flex;
      flex-shrink: 0;
      width: 33.5rem;
      height: 5.3rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      border-radius: 1rem;
    }
  }
}
