
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.my-activity-ZNV {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:c9037830b396352dcd7de2350db417116b128e98');
  padding: 0.6rem 0.2rem 0rem 0.3rem;
  border-radius: 3rem;

  .auto-group-j3mv-fRX {
    margin: 0rem 0.9rem 9.8rem 0rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-x8rz-aoP {
      flex-shrink: 0;
      margin: 0.2rem 102.5rem 0rem 0rem;
      width: 14rem;
      height: 10rem;
      position: relative;

      .hamburger-button-uqf {
        align-items: center;
        display: flex;
        background-color: #61a993;
        width: 3.2rem;
        left: 10.8rem;
        position: absolute;
        top: 0.5rem;
        overflow: hidden;
        row-gap: 0.3rem;
        flex-direction: column;
        height: 2.4rem;
        cursor: pointer;

        .rectangle-87-QnR {
          flex-shrink: 0;
          width: 100%;
          height: 0.6rem;
          background-color: #000000;
        }
        .rectangle-88-AFo {
          width: 100%;
          height: 0.6rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .rectangle-89-7Rw {
          background-color: #000000;
          flex-shrink: 0;
          width: 100%;
          height: 0.6rem;
        }
      }
      .rectangle-6-ruK {
        width: 11.2rem;
        height: 10rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.4rem;
      }
    }
    .auto-group-xs1m-Ncm {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      height: 3.5rem;
      justify-content: center;
      color: #000000;
      align-items: center;
      display: flex;
      flex-shrink: 0;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      white-space: nowrap;
      margin: 1.2rem 3.4rem 0rem 0rem;
      width: 4.7rem;
    }
    .auto-group-sq1h-oxy {
      white-space: nowrap;
      height: 3.5rem;
      font-size: 1.6rem;
      font-family: Lexend, 'Source Sans Pro';
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      margin: 1.2rem 3.5rem 0rem 0rem;
      width: 13.1rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.25;
      flex-shrink: 0;
      color: #000000;
      display: flex;
      justify-content: center;
    }
    .auto-group-wk5z-4tu {
      white-space: nowrap;
      justify-content: center;
      flex-shrink: 0;
      width: 6.5rem;
      text-align: center;
      font-family: Lexend, 'Source Sans Pro';
      line-height: 1.25;
      align-items: center;
      margin: 1.2rem 2.5rem 0rem 0rem;
      height: 3.5rem;
      font-size: 1.6rem;
      color: #000000;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      font-weight: 400;
      border-radius: 1rem;
    }
    .frame-3-wC1 {
      height: 3.5rem;
      line-height: 1.25;
      align-items: center;
      margin: 1.2rem 2.5rem 0rem 0rem;
      width: 9rem;
      text-align: center;
      display: flex;
      flex-shrink: 0;
      font-weight: 400;
      white-space: nowrap;
      justify-content: center;
      font-size: 1.6rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(0, 0, 0, 0.1000000015);
      border-radius: 1rem;
    }
    .auto-group-cw4j-ZjB {
      margin: 1.2rem 15rem 0rem 0rem;
      width: 7.7rem;
      height: 3.5rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-107-tWZ {
        width: 7.5rem;
        height: 3.5rem;
        position: absolute;
        left: 0.1rem;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
      }
      .feedback-15P {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: Lexend, 'Source Sans Pro';
        width: 7.7rem;
        position: absolute;
        left: 0;
        top: 0.6rem;
        white-space: nowrap;
        height: 2rem;
        cursor: pointer;
        line-height: 1.25;
        color: #000000;
      }
    }
    .ellipse-1-ugZ {
      flex-shrink: 0;
      width: 6rem;
      height: 6rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
    }
  }
  .auto-group-cg7d-rLu {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 30.333rem 4rem 24.4rem;
    width: calc(100% - 54.7333rem);
    height: 10rem;

    .vector-A6h {
      width: 2.4rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.05rem 5.8rem 0rem 0rem;
    }
    .auto-group-ph2j-5jT {
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      height: 100%;
      white-space: nowrap;
      margin-right: 8.1rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      background-color: #d9d9d9;
      border-radius: 2rem;
      box-sizing: border-box;
      flex-shrink: 0;
    }
    .xx-xx-xx-MS5 {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
    }
    .the-simple-description-of-the-purchased-list-V2V {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
    }
    .total-price-000-bbK {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .vector-KXK {
      margin-bottom: 0.1rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-p13r-fLH {
    margin: 0rem 30.333rem 4rem 24.4rem;
    width: calc(100% - 54.7333rem);
    height: 10rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .vector-ZgZ {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.05rem 5.8rem 0rem 0rem;
      width: 2.4rem;
      height: 2.25rem;
    }
    .auto-group-7pfm-J8M {
      height: 100%;
      font-size: 1.2rem;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 8.1rem;
      box-sizing: border-box;
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      line-height: 1.25;
      background-color: #d9d9d9;
    }
    .xx-xx-xx-aLm {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
    }
    .the-simple-description-of-the-purchased-list-uP3 {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .total-price-000-1S5 {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .vector-XQR {
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-rvpb-rxV {
    width: calc(100% - 54.7333rem);
    height: 10rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 30.333rem 4rem 24.4rem;

    .vector-yXK {
      width: 2.4rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.05rem 5.8rem 0rem 0rem;
    }
    .auto-group-cmkr-WXF {
      white-space: nowrap;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-right: 8.1rem;
      box-sizing: border-box;
      font-family: Lexend, 'Source Sans Pro';
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      border-radius: 2rem;
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      height: 100%;
      font-size: 1.2rem;
    }
    .xx-xx-xx-Q6q {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .the-simple-description-of-the-purchased-list-jeu {
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
    .total-price-000-qhw {
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .vector-Zdw {
      margin-bottom: 0.1rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-rfvb-i13 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 30.333rem 4rem 24.4rem;
    width: calc(100% - 54.7333rem);
    height: 10rem;

    .vector-DyP {
      margin: 0.05rem 5.8rem 0rem 0rem;
      width: 2.4rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-wkvm-ANq {
      box-sizing: border-box;
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      font-size: 1.2rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      border-radius: 2rem;
      margin-right: 8.1rem;
      height: 100%;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .xx-xx-xx-FfB {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .the-simple-description-of-the-purchased-list-ahT {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
      font-size: 2rem;
    }
    .total-price-000-VpR {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
    }
    .vector-Ri5 {
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-6szy-a5B {
    height: 10rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 30.333rem 4rem 24.4rem;
    width: calc(100% - 54.7333rem);

    .vector-63X {
      margin: 0.05rem 5.8rem 0rem 0rem;
      width: 2.4rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-2hvu-RLh {
      line-height: 1.25;
      white-space: nowrap;
      border-radius: 2rem;
      margin-right: 8.1rem;
      box-sizing: border-box;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      background-color: #d9d9d9;
      flex-shrink: 0;
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      height: 100%;
      font-size: 1.2rem;
    }
    .xx-xx-xx-uWm {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .the-simple-description-of-the-purchased-list-3cy {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .total-price-000-MtZ {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .vector-HnD {
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
    }
  }
  .auto-group-ypkd-qYq {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 30.333rem 4rem 24.4rem;
    width: calc(100% - 54.7333rem);
    height: 10rem;

    .vector-wLy {
      width: 2.4rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.05rem 5.8rem 0rem 0rem;
    }
    .auto-group-1hdd-Ge9 {
      line-height: 1.25;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 8.1rem;
      box-sizing: border-box;
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      height: 100%;
      font-weight: 400;
      font-size: 1.2rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      background-color: #d9d9d9;
      border-radius: 2rem;
    }
    .xx-xx-xx-xG5 {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .the-simple-description-of-the-purchased-list-67P {
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
    .total-price-000-QNy {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .vector-XTb {
      width: 2.6667rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
    }
  }
  .auto-group-wobz-GRB {
    margin: 0rem 30.333rem 9.8rem 24.4rem;
    width: calc(100% - 54.7333rem);
    height: 10rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .vector-awf {
      flex-shrink: 0;
      margin: 0.05rem 5.8rem 0rem 0rem;
      width: 2.4rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-yg59-iny {
      box-sizing: border-box;
      padding: 8.2rem 3.5rem 0.3rem 3.2rem;
      height: 100%;
      font-weight: 400;
      line-height: 1.25;
      flex-shrink: 0;
      margin-right: 8.1rem;
      font-size: 1.2rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #d9d9d9;
      border-radius: 2rem;
    }
    .xx-xx-xx-1n5 {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.3rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .the-simple-description-of-the-purchased-list-ZHo {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
    .total-price-000-4VT {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .vector-nwF {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2.6667rem;
      height: 2.5rem;
    }
  }
  .auto-group-evqb-YQd {
    width: 100%;
    height: 54.9rem;
    position: relative;
    flex-shrink: 0;

    .item-no1-GbX {
      position: absolute;
      line-height: 1.25;
      left: 55.9rem;
      top: 33.4rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 5.3rem;
      height: 1.5rem;
      white-space: nowrap;
    }
    .rectangle-131-NeZ {
      background-color: #d3567c;
      border-radius: 5rem;
      width: 191.5rem;
      height: 54.9rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .quick-links-ueV {
      white-space: nowrap;
      left: 71rem;
      font-weight: 400;
      line-height: 1.25;
      top: 8.7rem;
      font-size: 2.4rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 13.4rem;
      height: 3rem;
      position: absolute;
    }
    .categories-D9P {
      line-height: 1.25;
      white-space: nowrap;
      width: 12.7rem;
      top: 8.1rem;
      font-size: 2.4rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      left: 105.1rem;
      color: #000000;
    }
    .customer-service-j7j {
      position: absolute;
      left: 138.5rem;
      top: 8.1rem;
      font-size: 2.4rem;
      font-weight: 400;
      width: 21.3rem;
      height: 3rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .contact-us-dyo {
      top: 13.6rem;
      color: #000000;
      white-space: nowrap;
      font-family: Lexend, 'Source Sans Pro';
      width: 12.8rem;
      height: 3rem;
      position: absolute;
      left: 138.5rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .about-us-9hF {
      top: 18.1rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      position: absolute;
      left: 138.5rem;
      font-size: 2.4rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 10.7rem;
      height: 3rem;
    }
    .logoab-removebg-preview-2-fQh {
      width: 20rem;
      height: 2.9487rem;
      position: absolute;
      left: 4.1rem;
      top: 3.3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .paul-wayne-haggerty-road-new-orleans-louisiana-myX {
      white-space: nowrap;
      height: 3rem;
      position: absolute;
      left: 4.1rem;
      top: 15.1rem;
      font-size: 2.4rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 66.6rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .daily-operating-hours-800am-to-800pm-Fth {
      height: 3rem;
      position: absolute;
      left: 4.4rem;
      top: 31.7rem;
      font-size: 2.4rem;
      color: #000000;
      width: 68.6rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .rectangle-132-kKf {
      height: 12.9rem;
      position: absolute;
      left: 0;
      top: 42rem;
      background-color: #53a6bb;
      border-radius: 0 0 5rem 5rem;
      width: 191.5rem;
    }
    .home-GJ1 {
      font-size: 2.4rem;
      color: #000000;
      width: 7rem;
      height: 3rem;
      top: 13.6rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 71rem;
    }
    .home-living-nGM {
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 17.2rem;
      top: 13.6rem;
      left: 105.1rem;
      font-weight: 400;
      white-space: nowrap;
      height: 3rem;
      position: absolute;
    }
    .fashion-6H3 {
      height: 3rem;
      left: 105.1rem;
      top: 18.1rem;
      font-family: Lexend, 'Source Sans Pro';
      width: 9.1rem;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
    }
    .groceries-bzV {
      font-size: 2.4rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      width: 11.2rem;
      height: 3rem;
      position: absolute;
      left: 105.1rem;
      top: 22.6rem;
      white-space: nowrap;
      font-weight: 400;
      color: #000000;
    }
    .electronics-ukH {
      font-size: 2.4rem;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      top: 27.1rem;
      height: 3rem;
      position: absolute;
      left: 105.1rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      width: 12.6rem;
    }
    .beauty-Dky {
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 9rem;
      height: 3rem;
      position: absolute;
      font-size: 2.4rem;
      left: 105.2rem;
      top: 31.6rem;
      line-height: 1.25;
      color: #000000;
    }
    .browse-products-wBB {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      width: 19.5rem;
      height: 3rem;
      position: absolute;
      font-weight: 400;
      white-space: nowrap;
      left: 71rem;
      top: 18.1rem;
      font-size: 2.4rem;
    }
    .my-cart-Sdj {
      left: 71rem;
      font-size: 2.4rem;
      color: #000000;
      width: 9.3rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      top: 22.6rem;
    }
    .my-activity-xMB {
      width: 13.1rem;
      top: 27.1rem;
      line-height: 1.25;
      color: #000000;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      position: absolute;
      left: 71rem;
      font-size: 2.4rem;
    }
    .feedbacks-4v1 {
      height: 3rem;
      position: absolute;
      left: 71rem;
      font-size: 2.4rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 12.6rem;
      top: 31.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
    .vector-Bjj {
      left: 162.1rem;
      top: 49.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 1.992rem;
      position: absolute;
    }
    .vector-X2u {
      position: absolute;
      left: 166.4rem;
      top: 49.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 1.9999rem;
    }
    .vector-TSM {
      vertical-align: top;
      width: 2rem;
      height: 1.4rem;
      position: absolute;
      left: 170.7rem;
      top: 49.8rem;
      object-fit: contain;
    }
    .vector-Pqo {
      height: 2rem;
      position: absolute;
      left: 175rem;
      top: 49.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.99rem;
    }
    .vector-Lm3 {
      vertical-align: top;
      width: 2.092rem;
      height: 1.7rem;
      position: absolute;
      left: 179.3rem;
      top: 49.8rem;
      object-fit: contain;
    }
  }
}
