
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.product-management-admin-caZ {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3rem;
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0rem 0.3rem;
  overflow: hidden;
  display: flex;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:5f6b4243145aab55581c729f502960b086ce73bb');
  width: 100%;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-jjzw-Kzm {
    flex-shrink: 0;
    margin: 0rem 0rem 3.3rem 0.1rem;
    display: flex;
    align-items: flex-start;

    .rectangle-6-rUu {
      flex-shrink: 0;
      margin: 0.2rem 21.1rem 0rem 0rem;
      width: 11.2rem;
      height: 10rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.4rem;
    }
    .auto-group-o6fu-AVb {
      flex-shrink: 0;
      margin: 0rem 6.1rem 4.2rem 0rem;
      box-sizing: border-box;
      padding: 0.6rem 0.767rem 0.675rem 53.9rem;
      background-color: #d9d9d9;
      border-radius: 2rem;

      .vector-UmB {
        object-fit: contain;
        vertical-align: top;
        width: 3.3333rem;
        height: 3.125rem;
      }
    }
    .auto-group-73lf-Qeq {
      height: 3.5rem;
      align-items: center;
      font-family: Lexend, 'Source Sans Pro';
      border-radius: 1rem;
      flex-shrink: 0;
      display: flex;
      font-size: 1.6rem;
      font-weight: 400;
      color: #000000;
      width: 5.9rem;
      line-height: 1.25;
      white-space: nowrap;
      margin: 1.3rem 2.3rem 0rem 0rem;
      justify-content: center;
    }
    .frame-13-sHX {
      justify-content: center;
      font-size: 1.6rem;
      font-family: Lexend, 'Source Sans Pro';
      border-radius: 1rem;
      white-space: nowrap;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      margin: 1.4rem 2.3rem 0rem 0rem;
      height: 3.5rem;
      font-weight: 400;
      color: #000000;
      width: 19.1rem;
      align-items: center;
      line-height: 1.25;
      display: flex;
      background-color: rgba(0, 0, 0, 0.1000000015);
    }
    .auto-group-wnod-7hf {
      height: 3.5rem;
      align-items: center;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 18.3rem;
      display: flex;
      font-size: 1.6rem;
      font-weight: 400;
      margin: 1.3rem 2.3rem 0rem 0rem;
      flex-shrink: 0;
      justify-content: center;
      color: #000000;
      border-radius: 1rem;
    }
    .auto-group-e98p-yzm {
      border-radius: 1rem;
      justify-content: center;
      font-size: 1.6rem;
      color: #000000;
      margin: 1.3rem 2.3rem 0rem 0rem;
      align-items: center;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      display: flex;
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      width: 12.4rem;
      height: 3.5rem;
    }
    .auto-group-a6zr-4WR {
      flex-shrink: 0;
      margin: 0rem 4.3rem 4.1rem 0rem;
      box-sizing: border-box;
      padding: 0.7rem 0.05rem 0.8rem 0.05rem;
      width: 18.8rem;
      display: flex;
      font-size: 1.6rem;
      font-weight: 400;
      border-radius: 1rem;
      align-items: center;
      font-family: Lexend, 'Source Sans Pro';
      justify-content: center;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
    }
    .ellipse-1-v2q {
      width: 6rem;
      height: 6rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
    }
  }
  .hamburger-button-eUd {
    align-items: center;
    display: flex;
    background-color: #61a993;
    flex-shrink: 0;
    position: relative;
    row-gap: 0.3rem;
    flex-direction: column;
    margin: 0rem 0rem 67.2rem 3.5rem;
    width: 3.2rem;
    cursor: pointer;
    overflow: hidden;

    .rectangle-87-9RP {
      width: 100%;
      height: 0.6rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .rectangle-88-gRK {
      width: 100%;
      height: 0.6rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .rectangle-89-EBw {
      width: 100%;
      height: 0.6rem;
      background-color: #000000;
      flex-shrink: 0;
    }
  }
  .image-7-aFo {
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 31rem 38.9rem;
    width: 7.2rem;
    height: 9.7rem;
  }
  .auto-group-fuws-6V3 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d3567c;
    border-radius: 5rem;
    flex-shrink: 0;

    .auto-group-jvvq-Soo {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 4.1rem 7.3rem 4.1rem;
      width: 100%;
      height: 42rem;
      align-items: center;

      .logoab-removebg-preview-2-ZNd {
        margin: 0rem 163.3rem 1.851rem 0rem;
        width: 20rem;
        height: 2.9487rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-ocpb-UVb {
        margin: 0rem 27.6rem 1.9rem 66.9rem;
        width: calc(100% - 94.5rem);
        display: flex;
        column-gap: 20.7rem;
        align-items: flex-start;
        flex-shrink: 0;

        .quick-links-Beu {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        .categories-v6h {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
        .customer-service-TMX {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-iimq-zsF {
        flex-shrink: 0;
        margin-right: 36.1rem;
        display: flex;
        align-items: flex-start;

        .paul-wayne-haggerty-road-new-orleans-louisiana-Yds {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 1.5rem 0.3rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .home-r8m {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 27.1rem;
          font-size: 2.4rem;
        }
        .home-living-NN1 {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .contact-us-hfB {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
      .auto-group-k1lw-qWV {
        margin: 0rem 38.2rem 1.5rem 66.9rem;
        width: calc(100% - 105.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .browse-products-ZhP {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        .fashion-hHo {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.3rem;
        }
        .about-us-dSM {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-wkcx-Ax5 {
        margin: 0rem 71.1rem 1.5rem 66.9rem;
        width: calc(100% - 138rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .my-cart-WFF {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.8rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
        .groceries-ecM {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .auto-group-peuh-C85 {
        margin: 0rem 69.7rem 1.5rem 66.9rem;
        width: calc(100% - 136.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .my-activity-8Gd {
          flex-shrink: 0;
          margin-right: 21rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
        .electronics-GNq {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
      }
      .auto-group-jbud-CnH {
        margin: 0rem 73.2rem 0rem 0.3rem;
        width: calc(100% - 73.5rem);
        height: 3.1rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-wkkw-XJm {
          position: relative;
          flex-shrink: 0;
          margin-right: 21.6rem;
          width: 79.2rem;
          height: 100%;

          .daily-operating-hours-800am-to-800pm-fQy {
            font-size: 2.4rem;
            line-height: 1.25;
            color: #000000;
            width: 68.6rem;
            height: 3rem;
            top: 0.1rem;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 0;
            font-weight: 400;
          }
          .feedbacks-MHo {
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            height: 3rem;
            left: 66.6rem;
            top: 0;
            font-size: 2.4rem;
            font-weight: 400;
            width: 12.6rem;
            position: absolute;
            line-height: 1.25;
          }
        }
        .beauty-rkM {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-keod-QG5 {
      flex-shrink: 0;
      padding: 7.5rem 10.108rem 3.4rem 162.1rem;
      height: 12.9rem;
      display: flex;
      align-items: center;
      border-radius: 0 0 5rem 5rem;
      box-sizing: border-box;
      width: 100%;
      background-color: #53a6bb;

      .vector-iXf {
        margin: 0rem 2.3rem 0.008rem 0rem;
        width: 2rem;
        height: 1.992rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-qsB {
        margin: 0rem 2.3rem 0rem 0rem;
        width: 2rem;
        height: 1.9999rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-n1j {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 2rem;
        height: 1.4rem;
        object-fit: contain;
      }
      .vector-7ph {
        margin-right: 2.31rem;
        width: 1.99rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-TtZ {
        flex-shrink: 0;
        margin-top: 0.3rem;
        width: 2.092rem;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
