
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.2rem;
}.table-1-fFT {
  width: 100%;
  height: 36rem;

  .table-dCH {
    flex-direction: column;
    border-radius: 0.4rem;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    border: solid 0.1rem #b9b9b9;
    box-sizing: border-box;
    background-color: #ffffff;
    height: 100%;
    overflow: hidden;

    .row-y1F {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 3.6rem;
      overflow: hidden;
      position: relative;

      .cell-hxq {
        box-sizing: border-box;
        padding: 1rem 6.1rem;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        background-color: rgba(0, 0, 0, 0.0599999987);
        flex-shrink: 0;

        .content-raq {
          color: #000000;
          white-space: nowrap;
          width: 100%;
          height: 100%;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          font-size: 1.2rem;
          position: relative;
          display: flex;
          font-weight: 600;
          line-height: 1.2999999523;
          font-family: Lexend, 'Source Sans Pro';
        }
      }
      .cell-Lku {
        box-sizing: border-box;
        padding: 1rem 6.5rem;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        background-color: rgba(0, 0, 0, 0.0599999987);
        flex-shrink: 0;

        .content-VNu {
          justify-content: center;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          position: relative;
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2999999523;
          white-space: nowrap;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }
      .cell-zKf {
        background-color: rgba(0, 0, 0, 0.0599999987);
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem 6.9rem;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;

        .content-L8d {
          height: 100%;
          align-items: center;
          font-size: 1.2rem;
          line-height: 1.2999999523;
          color: #000000;
          white-space: nowrap;
          width: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          overflow: hidden;
        }
      }
      .cell-SBf {
        box-sizing: border-box;
        padding: 1rem 2.4rem 1rem 1.2rem;
        width: 12rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        background-color: rgba(0, 0, 0, 0.0599999987);
        flex-shrink: 0;

        .content-mUq {
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          width: 100%;
          overflow: hidden;
          font-size: 1.2rem;
          line-height: 1.2999999523;
          color: #000000;
          height: 100%;
          position: relative;
          font-weight: 600;
          white-space: nowrap;
          display: flex;
        }
      }
      .cell-faD {
        box-sizing: border-box;
        padding: 1rem 8.45rem;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        background-color: rgba(0, 0, 0, 0.0599999987);
        flex-shrink: 0;

        .content-ckM {
          font-weight: 600;
          line-height: 1.2999999523;
          color: #000000;
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          white-space: nowrap;
          overflow: hidden;
          align-items: center;
          font-size: 1.2rem;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .cell-WKw {
        background-color: rgba(0, 0, 0, 0.0599999987);
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem 1.2rem;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;

        .content-eww {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 600;
          line-height: 1.2999999523;
          color: #000000;
          align-items: center;
          margin-right: 5.4rem;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          width: 12.9rem;
          overflow: hidden;
          font-size: 1.2rem;
        }
      }
      .cell-wRF {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem 8.45rem;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        background-color: rgba(0, 0, 0, 0.0599999987);

        .content-HV7 {
          width: 100%;
          justify-content: center;
          font-size: 1.2rem;
          color: #000000;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          font-weight: 600;
          line-height: 1.2999999523;
        }
      }
    }
    .row-BaV {
      height: 3.6rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .cell-8Vj {
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
      }
      .cell-siD {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-2b7 {
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
      }
      .cell-yWM {
        width: 12rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-8PF {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
      }
      .cell-5ZP {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-dau {
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
      }
    }
    .row-NoP {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 3.6rem;
      overflow: hidden;
      position: relative;
      display: flex;

      .cell-WPo {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-rTf {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-QEH {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-MQR {
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 12rem;
        height: 100%;
      }
      .cell-6so {
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
      }
      .cell-eeR {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-QNh {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
    }
    .row-9bB {
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 3.6rem;
      overflow: hidden;

      .cell-tof {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-qyo {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-zrh {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
      }
      .cell-YdK {
        width: 12rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-gzR {
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
      }
      .cell-Sih {
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
      }
      .cell-CSy {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
    }
    .row-Ymj {
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 3.6rem;
      overflow: hidden;

      .cell-HzD {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
      }
      .cell-3iV {
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
      }
      .cell-ztd {
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
      }
      .cell-9Wd {
        width: 12rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-uEu {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-47o {
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
      }
      .cell-1Hw {
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
      }
    }
    .row-xU5 {
      height: 3.6rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .cell-765 {
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
      }
      .cell-4GD {
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
      }
      .cell-b1F {
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
      }
      .cell-LDj {
        width: 12rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-gHb {
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
      }
      .cell-Rky {
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
      }
      .cell-aNy {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
    }
    .row-X3K {
      flex-shrink: 0;
      width: 100%;
      height: 3.6rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;

      .cell-fQR {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
      }
      .cell-CQM {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
      }
      .cell-Yj7 {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-JTP {
        flex-shrink: 0;
        width: 12rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
      }
      .cell-rjo {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-QWR {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
      }
      .cell-kqB {
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
      }
    }
    .row-Jbo {
      flex-shrink: 0;
      width: 100%;
      height: 3.6rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;

      .cell-eff {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-1FK {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-ZGq {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-K17 {
        width: 12rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-FfT {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-Cqb {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
      }
      .cell-xZs {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
      }
    }
    .row-W5b {
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 3.6rem;

      .cell-rQM {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-bcq {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-M6D {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-u7j {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 12rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
      }
      .cell-rYm {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-oyo {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-9nm {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
    }
    .row-hZP {
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 3.6rem;

      .cell-ejX {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-bem {
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
      }
      .cell-wid {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-u9f {
        width: 12rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .cell-qp1 {
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
      }
      .cell-Bss {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
      }
      .cell-LVs {
        width: 20.7rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
    }
  }
}
