
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.user-profile-ihj {
  background-color: #ffffff;
  background-size: 100% 100%;
  background-position: center;
  padding: 0.6rem 0.2rem 0rem 0.3rem;
  align-items: center;
  background-image: url('REPLACE_IMAGE:b83fe7a6539685473ef6a3957f6fd8832ebf1a9d');
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  border-radius: 3rem;

  .auto-group-eq9q-Q4m {
    margin-right: 0.9rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-hmph-7js {
      flex-shrink: 0;
      margin: 0.2rem 102.5rem 0rem 0rem;
      width: 14rem;
      height: 10rem;
      position: relative;

      .hamburger-button-9wT {
        background-color: #61a993;
        height: 2.4rem;
        cursor: pointer;
        position: absolute;
        top: 0.5rem;
        row-gap: 0.3rem;
        align-items: center;
        flex-direction: column;
        width: 3.2rem;
        left: 10.8rem;
        overflow: hidden;
        display: flex;

        .rectangle-87-FUh {
          background-color: #000000;
          flex-shrink: 0;
          width: 100%;
          height: 0.6rem;
        }
        .rectangle-88-nzR {
          width: 100%;
          height: 0.6rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .rectangle-89-Yih {
          height: 0.6rem;
          background-color: #000000;
          flex-shrink: 0;
          width: 100%;
        }
      }
      .rectangle-6-Vtq {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.4rem;
        width: 11.2rem;
        height: 10rem;
      }
    }
    .auto-group-gm71-ciZ {
      width: 4.7rem;
      height: 3.5rem;
      align-items: center;
      border-radius: 1rem;
      margin: 1.2rem 3.4rem 0rem 0rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      text-align: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      white-space: nowrap;
      color: #000000;
      font-size: 1.6rem;
    }
    .auto-group-qu8x-Shb {
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.5rem;
      text-align: center;
      display: flex;
      align-items: center;
      font-weight: 400;
      color: #000000;
      border-radius: 1rem;
      margin: 1.2rem 3.5rem 0rem 0rem;
      width: 13.1rem;
      font-size: 1.6rem;
    }
    .auto-group-1ta3-6n9 {
      width: 6.5rem;
      font-size: 1.6rem;
      white-space: nowrap;
      border-radius: 1rem;
      height: 3.5rem;
      font-family: Lexend, 'Source Sans Pro';
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      text-align: center;
      font-weight: 400;
      line-height: 1.25;
      display: flex;
      flex-shrink: 0;
      margin: 1.2rem 3.2rem 0rem 0rem;
      color: #000000;
      justify-content: center;
    }
    .auto-group-4ctk-Mxy {
      line-height: 1.25;
      border-radius: 1rem;
      font-size: 1.6rem;
      font-weight: 400;
      margin: 1.2rem 3.2rem 0rem 0rem;
      height: 3.5rem;
      white-space: nowrap;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      width: 8.8rem;
      text-align: center;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
    }
    .auto-group-sn27-pbf {
      width: 7.7rem;
      height: 3.5rem;
      position: relative;
      flex-shrink: 0;
      margin: 1.2rem 13.8rem 0rem 0rem;

      .rectangle-107-YXf {
        border-radius: 1rem;
        width: 7.5rem;
        height: 3.5rem;
        position: absolute;
        left: 0.1rem;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .feedback-Fgy {
        position: absolute;
        left: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        width: 7.7rem;
        height: 2rem;
        cursor: pointer;
        top: 0.6rem;
        text-align: center;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .ellipse-1-wph {
      width: 6rem;
      height: 6rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
    }
  }
  .profile-5g1 {
    font-weight: 400;
    line-height: 1.25;
    color: #000000;
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 1.1rem 4.8rem 0rem;
    font-size: 3.2rem;
  }
  .auto-group-nl7m-1Jm {
    box-sizing: border-box;
    align-items: flex-end;
    flex-direction: column;
    background-color: #d9d9d9;
    border-radius: 2rem;
    flex-shrink: 0;
    margin: 0rem 75.8rem 7.2rem 75.7rem;
    padding: 0.8rem 0.9rem 0.575rem 15.7rem;
    width: calc(100% - 151.5rem);
    display: flex;

    .vector-Vzd {
      margin-bottom: 12.85rem;
      width: 2.4003rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-e6q {
      width: 8.6667rem;
      height: 8.125rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 14.734rem 13.275rem 0rem;
    }
    .vector-mSM {
      margin-right: 0.4337rem;
      width: 2.6667rem;
      height: 2.125rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-romd-5C9 {
    width: calc(100% - 117.2rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 62.3rem 1.6rem 54.9rem;

    .name-bgH {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 16.7rem;
    }
    .the-simple-description-of-the-purchased-list-8gD {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-lujs-rMK {
    margin: 0rem 62.3rem 1.5rem 54.9rem;
    width: calc(100% - 117.2rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .nic-zCd {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 19.1rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .the-simple-description-of-the-purchased-list-Jj7 {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
    }
  }
  .auto-group-ubxp-Roj {
    margin: 0rem 62.3rem 1.6rem 54.9rem;
    width: calc(100% - 117.2rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .email-Zf3 {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 17.3rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .the-simple-description-of-the-purchased-list-7Am {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
    }
  }
  .auto-group-mwjf-RhF {
    margin: 0rem 62.3rem 1.5rem 54.9rem;
    width: calc(100% - 117.2rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .phone-number-ZoT {
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.4rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .the-simple-description-of-the-purchased-list-WCu {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
  }
  .auto-group-1quq-qW5 {
    width: calc(100% - 117.2rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 62.3rem 36.4rem 54.9rem;

    .address-muX {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 14.5rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .the-simple-description-of-the-purchased-list-WcD {
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 400;
    }
  }
  .auto-group-wfqm-Eo7 {
    display: flex;
    flex-direction: column;
    background-color: #d3567c;
    border-radius: 5rem;
    flex-shrink: 0;
    width: 100%;
    align-items: center;

    .auto-group-d8yk-npd {
      padding: 3.3rem 4.1rem 7.3rem 4.1rem;
      width: 100%;
      height: 42rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;

      .logoab-removebg-preview-2-tsf {
        flex-shrink: 0;
        margin: 0rem 163.3rem 1.851rem 0rem;
        width: 20rem;
        height: 2.9487rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-ccpd-oDw {
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 27.6rem 1.9rem 66.9rem;
        width: calc(100% - 94.5rem);
        display: flex;
        column-gap: 20.7rem;

        .quick-links-i61 {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .categories-FLq {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .customer-service-bQh {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-jibm-XZF {
        flex-shrink: 0;
        margin-right: 36.1rem;
        display: flex;
        align-items: flex-start;

        .paul-wayne-haggerty-road-new-orleans-louisiana-5Ks {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 1.5rem 0.3rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .home-nVB {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 27.1rem;
          font-size: 2.4rem;
        }
        .home-living-Kzu {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.2rem;
        }
        .contact-us-U77 {
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
      .auto-group-mc2f-R2M {
        margin: 0rem 38.2rem 1.5rem 66.9rem;
        width: calc(100% - 105.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .browse-products-9U9 {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.6rem;
          font-size: 2.4rem;
        }
        .fashion-tRj {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.3rem;
          font-size: 2.4rem;
        }
        .about-us-pqB {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .auto-group-h7zb-wuo {
        margin: 0rem 71.1rem 1.5rem 66.9rem;
        width: calc(100% - 138rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .my-cart-fau {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.8rem;
        }
        .groceries-Q2h {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-vrhh-jqf {
        margin: 0rem 69.7rem 1.5rem 66.9rem;
        width: calc(100% - 136.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .my-activity-UHT {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 21rem;
          font-size: 2.4rem;
        }
        .electronics-oqX {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend, 'Source Sans Pro';
        }
      }
      .auto-group-acfm-YYD {
        flex-shrink: 0;
        margin: 0rem 73.2rem 0rem 0.3rem;
        width: calc(100% - 73.5rem);
        height: 3.1rem;
        display: flex;
        align-items: flex-start;

        .auto-group-48pu-4WZ {
          margin-right: 21.6rem;
          width: 79.2rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .daily-operating-hours-800am-to-800pm-oj3 {
            white-space: nowrap;
            width: 68.6rem;
            height: 3rem;
            left: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.25;
            font-family: Lexend, 'Source Sans Pro';
            position: absolute;
            top: 0.1rem;
            color: #000000;
          }
          .feedbacks-tkV {
            width: 12.6rem;
            top: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.25;
            height: 3rem;
            position: absolute;
            left: 66.6rem;
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .beauty-14R {
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
      }
    }
    .auto-group-qgfd-8uj {
      box-sizing: border-box;
      padding: 7.5rem 10.108rem 3.4rem 162.1rem;
      width: 100%;
      height: 12.9rem;
      display: flex;
      background-color: #53a6bb;
      align-items: center;
      border-radius: 0 0 5rem 5rem;
      flex-shrink: 0;

      .vector-raq {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.3rem 0.008rem 0rem;
        width: 2rem;
        height: 1.992rem;
      }
      .vector-zBF {
        margin: 0rem 2.3rem 0rem 0rem;
        width: 2rem;
        height: 1.9999rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-i7F {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 2rem;
        height: 1.4rem;
        object-fit: contain;
      }
      .vector-rjF {
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.31rem;
        width: 1.99rem;
      }
      .vector-QVs {
        margin-top: 0.3rem;
        width: 2.092rem;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
